<div class="row">
  <div class="col-md-12">
    <h5>Dashboard del cliente</h5>
  </div>
</div>

<div class="row">
  <div class="col-xl-3 col-md-6">
    <!-- card -->
    <div class="card card-h-100">
      <!-- card body -->
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="flex-grow-1">
            <span class="text-muted mb-3 lh-1 d-block text-truncate"
              >Total Investigaciones</span
            >
            <h4 class="mb-3">
              <span
                class="counter-value"
                data-target="{{cliente_solicitudes_total}}"
                >0</span
              >
            </h4>
            <div class="text-nowrap">
              <a
                href="{% url 'clientes:clientes_solicitudes_list' %}"
                class="btn btn-primary btn-sm"
                >Ir al listado de solicitudes</a
              >
            </div>
          </div>

          <div class="flex-shrink-0 text-end dash-widget">
            <div
              id="client-chart1"
              data-colors='["#1c84ee", "#33c38e"]'
              class="apex-charts"
            ></div>
          </div>
        </div>
      </div>
      <!-- end card body -->
    </div>
    <!-- end card -->
  </div>
  <!-- end col -->

  <!-- end col-->
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="card border border-primary">
      <div class="card-header bg-transparent border-primary">
        <h5 class="my-0 text-primary">
          <i class="mdi mdi-bullseye-arrow me-3"></i>Resumen
        </h5>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered border-primary mb-0">
            <thead>
              <tr>
                <th>#</th>
                <th>Descripción</th>
                <th>Cantidad</th>
                <th>Acción</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Solicitudes enviadas</td>
                <td>
                  <input
                    type="text"
                    value="{{cliente_solicitudes_enviadas|default_if_none:'0'}}"
                    readonly
                    id="cliente_solicitudes_enviadas"
                    name="cliente_solicitudes_enviadas"
                    class="form-control input-sm text-end"
                  />
                </td>
                <td>
                  <a
                    href="{% url 'clientes:clientes_solicitudes_list' %}"
                    class="btn btn-primary btn-sm"
                    >Ir al listado de solicitudes</a
                  >
                </td>
              </tr>

              <tr>
                <th scope="row">2</th>
                <td>Solicitudes pendientes</td>
                <td>
                  <input
                    type="text"
                    value="{{cliente_solicitudes_pendientes|default_if_none:'0'}}"
                    readonly
                    id="cliente_solicitudes_pendientes"
                    name="cliente_solicitudes_pendientes"
                    class="form-control input-sm text-end"
                  />
                </td>
                <td>
                  <a
                    href="{% url 'clientes:clientes_solicitudes_list' %}"
                    class="btn btn-primary btn-sm"
                    >Ir al listado de solicitudes</a
                  >
                </td>
              </tr>
              <!--
              <tr>
                <th scope="row">3</th>
                <td>Facturas por pagar</td>
                <td>
                  <input
                    type="text"
                    value="{{total_facturas_por_pagar|default_if_none:'0'}}"
                    readonly
                    id="total_facturas_por_pagar"
                    name="total_facturas_por_pagar"
                    class="form-control input-sm text-end"
                  />
                </td>
                <td>
                  <a
                    href="{% url 'clientes:clientes_facturas_list' %}"
                    class="btn btn-primary btn-sm"
                    >Ir al listado de facturas</a
                  >
                </td>
              </tr>

              <tr>
                <th scope="row">4</th>
                <td>Facturas pagadas</td>
                <td>
                  <input
                    type="text"
                    value="{{total_facturas_pagadas|default_if_none:'0'}}"
                    readonly
                    id="total_facturas_pagadas"
                    name="total_facturas_pagadas"
                    class="form-control input-sm text-end"
                  />
                </td>
                <td>
                  <a
                    href="{% url 'clientes:clientes_facturas_list' %}"
                    class="btn btn-primary btn-sm"
                    >Ir al listado de facturas</a
                  >
                </td>
              </tr>
              -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- end col -->
</div>

<input
  type="hidden"
  value="{{is_cliente|default_if_none:0}}"
  id="is_cliente"
  name="is_cliente"
/>
