<div class="row">
    <div class="col-md-12">
        <h5>Dashboard del cobranzas</h5>
    </div>
</div>

<div class="row">
    <div class="col-xl-3 col-md-6">
        <!-- card -->
        <div class="card card-h-100">
            <!-- card body -->
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="flex-grow-1">
                        <span class="text-muted mb-3 lh-1 d-block text-truncate">Nro. facturas por enviar</span>
                        <h4 class="mb-3">
                            <span class="counter-value" data-target="">0</span>
                        </h4>
                        <div class="text-nowrap">
                            <a href="{% url 'cobranza_facturas_list' %}" class="btn btn-primary btn-sm">Ir al listado de cobranzas</a>
                        </div>
                    </div>

                    <div class="flex-shrink-0 text-end dash-widget">
                        <div id="mini-chart1" data-colors='["#1c84ee", "#33c38e"]' class="apex-charts"></div>
                    </div>
                </div>
            </div><!-- end card body -->
        </div><!-- end card -->
    </div><!-- end col -->

    <div class="col-xl-3 col-md-6">
        <!-- card -->
        <div class="card card-h-100">
            <!-- card body -->
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="flex-grow-1">
                        <span class="text-muted mb-3 lh-1 d-block text-truncate">Solicitudes pendientes</span>
                        <h4 class="mb-3">
                            <span class="counter-value" data-target="">0</span>
                        </h4>
                        <div class="text-nowrap">
                            <a href="{% url 'clientes:clientes_solicitudes_list' %}" class="btn btn-primary btn-sm">Ir al listado de solicitudes</a>
                        </div>
                    </div>
                    <div class="flex-shrink-0 text-end dash-widget">
                        <div id="mini-chart2" data-colors='["#1c84ee", "#33c38e"]' class="apex-charts"></div>
                    </div>
                </div>
            </div><!-- end card body -->
        </div><!-- end card -->
    </div><!-- end col-->
    
    <div class="col-xl-3 col-md-6">
        <!-- card -->
        <div class="card card-h-100">
            <!-- card body -->
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="flex-grow-1">
                        <span class="text-muted mb-3 lh-1 d-block text-truncate">Solicitudes enviadas</span>
                        <h4 class="mb-3">
                            <span class="counter-value" data-target="">0</span>
                        </h4>
                        <div class="text-nowrap">
                            <a href="{% url 'clientes:clientes_solicitudes_list' %}" class="btn btn-primary btn-sm">Ir al listado de solicitudes</a>
                        </div>
                    </div>
                    <div class="flex-shrink-0 text-end dash-widget">
                        <div id="mini-chart2" data-colors='["#1c84ee", "#33c38e"]' class="apex-charts"></div>
                    </div>
                </div>
            </div><!-- end card body -->
        </div><!-- end card -->
    </div><!-- end col-->

    
    <div class="col-xl-3 col-md-6">
        <!-- card -->
        <div class="card card-h-100">
            <!-- card body -->
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="flex-grow-1">
                        <span class="text-muted mb-3 lh-1 d-block text-truncate">Facturas Pendientes</span>
                        <h4 class="mb-3">
                            <span class="counter-value" data-target="">0</span>
                        </h4>
                        <div class="text-nowrap">
                            <a href="{% url 'clientes:clientes_facturas_list' %}" class="btn btn-primary btn-sm">Ir al listado de facturas</a>
                        </div>
                    </div>
                    <div class="flex-shrink-0 text-end dash-widget">
                        <div id="mini-chart2" data-colors='["#1c84ee", "#33c38e"]' class="apex-charts"></div>
                    </div>
                </div>
            </div><!-- end card body -->
        </div><!-- end card -->
    </div><!-- end col-->