{% load static core_extras %}
{% block content %}
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">
                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0 font-size-18">{{title}}</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">{{pageview}}</a></li>
                                        <li class="breadcrumb-item active">{{title}}</li>
                                    </ol>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- end page title -->


                    {% if request.user|has_group:"Cliente" %}
                    {% include 'partials/cliente_dash.html' %}
                    {% endif %}

                    {% if request.user|has_group:"Coord. de Atención a Clientes" %}
                    {% include 'partials/coord_atencion_clientes_dash.html' %}
                    {% endif %}
                    
                    {% if request.user|has_group:"Cobranzas" %}
                    {% include 'partials/cobranzas_dash.html' %}
                    {% endif %}
                    
                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

            {% block footer %}
            {% include 'partials/footer.html'%}
            {% endblock footer %}
        </div>
        <!-- end main content-->
{% endblock content %}