<div class="row">
    <div class="col-md-12">
        <h5>Dashboard del Coord. de Atención a Clientes</h5>
    </div>
</div>




<div class="row">
    <div class="col-xl-3 col-md-6">
        <!-- card -->
        <div class="card card-h-100">
            <!-- card body -->
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="flex-grow-1">
                        <span class="text-muted mb-3 lh-1 d-block text-truncate">Total Investigaciones</span>
                        <h4 class="mb-3">
                            <span class="counter-value" >{{total_investigaciones}}</span>
                        </h4>
                        <div class="text-nowrap">
                            <a href="{% url 'investigaciones:investigaciones_list' %}" class="btn btn-primary btn-sm">Ir al listado de investigaciones</a>
                        </div>
                    </div>
                    <div class="flex-shrink-0 text-end dash-widget">
                        <div id="coord01-chart1" data-colors='["#1c84ee", "#000", "#33c38e"]' class="apex-charts"></div>
                    </div>
                    
                </div>
            </div><!-- end card body -->
        </div><!-- end card -->
    </div><!-- end col -->

    
    
   