<div class="row">
  <div class="col-md-12">
    <h5>Dashboard del Coord. de Atención a Clientes</h5>
  </div>
</div>

<div class="row">
  <div class="col-xl-3 col-md-6">
    <!-- card -->
    <div class="card card-h-100">
      <!-- card body -->
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="flex-grow-1">
            <span class="text-muted mb-3 lh-1 d-block text-truncate"
              >Total Investigaciones</span
            >
            <h4 class="mb-3">
              <span class="counter-value">{{total_investigaciones}}</span>
            </h4>
            <div class="text-nowrap">
              <a
                href="{% url 'investigaciones:investigaciones_list' %}"
                class="btn btn-primary btn-sm"
                >Ir al listado de investigaciones</a
              >
            </div>
          </div>
          <div class="flex-shrink-0 text-end dash-widget">
            <div
              id="coord01-chart1"
              data-colors='["#1c84ee", "#000", "#33c38e"]'
              class="apex-charts"
            ></div>
          </div>
        </div>
      </div>
      <!-- end card body -->
    </div>
    <!-- end card -->
  </div>
  <!-- end col -->
</div>


<div class="row">
    <div class="col-lg-12">
      <div class="card border border-primary">
        <div class="card-header bg-transparent border-primary">
          <h5 class="my-0 text-primary">
            <i class="mdi mdi-bullseye-arrow me-3"></i>Resumen
          </h5>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered border-primary mb-0">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Descripción</th>
                  <th>Cantidad</th>
                  <th>Acción</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Solicitudes en investigación</td>
                  <td>
                    <input
                      type="text"
                      value="{{en_investigacion|default_if_none:'0'}}"
                      readonly
                      id="en_investigacion"
                      name="en_investigacion"
                      class="form-control input-sm text-end"
                    />
                  </td>
                  <td>
                    <a
                      href="{% url 'clientes:clientes_solicitudes_list' %}"
                      class="btn btn-primary btn-sm"
                      >Ir al listado de solicitudes</a
                    >
                  </td>
                </tr>
  
                <tr>
                  <th scope="row">2</th>
                  <td>Solicitudes pendientes por el cliente</td>
                  <td>
                    <input
                      type="text"
                      value="{{pte_por_el_cliente|default_if_none:'0'}}"
                      readonly
                      id="pte_por_el_cliente"
                      name="pte_por_el_cliente"
                      class="form-control input-sm text-end"
                    />
                  </td>
                  <td>
                    <a
                      href="{% url 'clientes:clientes_solicitudes_list' %}"
                      class="btn btn-primary btn-sm"
                      >Ir al listado de solicitudes</a
                    >
                  </td>
                </tr>
               
                <tr>
                  <th scope="row">3</th>
                  <td>Investigaciones terminadas</td>
                  <td>
                    <input
                      type="text"
                      value="{{inv_terminada|default_if_none:'0'}}"
                      readonly
                      id="inv_terminada"
                      name="inv_terminada"
                      class="form-control input-sm text-end"
                    />
                  </td>
                  <td>
                    <a
                      href="{% url 'clientes:clientes_solicitudes_list' %}"
                      class="btn btn-primary btn-sm"
                      >Ir al listado de solicitudes</a
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- end col -->
  </div>
  
  <input
    type="hidden"
    value="{{coord_de_atencion_a_clientes|default_if_none:0}}"
    id="coord_de_atencion_a_clientes"
    name="coord_de_atencion_a_clientes"
  />
  