{% load static %}
{% block left_sidebar %}
        <!-- ========== Left Sidebar Start ========== -->
        <div class="vertical-menu">

            <div data-simplebar class="h-100">

                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <!-- Left Menu Start -->
                    <ul class="metismenu list-unstyled" id="side-menu">
                        <li class="menu-title" data-key="t-menu">Menu</li>

                        <li>
                            <a href="{% url 'dashboard' %}">
                                <i data-feather="home"></i>
                                <span data-key="t-dashboard">Dashboard</span>
                            </a>
                        </li>

                        <li>
                            <a href="{% url 'core:user_messages_list' %}">
                                <i data-feather="mail"></i>
                                <span class="badge rounded-pill bg-soft-success text-success float-end">9+</span>
                                <span data-key="notificaciones">Notificaciones</span>
                            </a>
                        </li>
                        
                        <li class="menu-title" data-key="t-apps">Administradores</li>

                        <li>
                            <a href="javascript: void(0);" class="has-arrow">
                                <i data-feather="settings"></i>
                                <span data-key="configuraciones">Catálogos</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="{% url 'core:users_list' %}" data-key="t-inbox">Usuarios (app)</a></li>
                                <li><a href="{% url 'companias_list' %}" data-key="t-inbox">Clientes</a></li>
                                <li><a href="{% url 'clientes:clientes_list' %}" data-key="t-inbox">Contactos</a></li>
                                <li><a href="{% url 'gestor_info_list' %}" data-key="t-inbox">Gestores</a></li>
                                <li><a href="{% url 'personas_list' %}" data-key="t-inbox">Personas</a></li>
                                <li><a href="{% url 'core:tipo_investigaciones_costo_list' %}" data-key="t-inbox">Costo de servicios</a></li>
                            </ul>
                        </li>

                        <li class="menu-title" data-key="t-apps">Aplicaciones</li>

                        <li>
                            <a href="javascript: void(0);" class="has-arrow">
                                <i data-feather="plus-circle"></i>
                                <span data-key="clientes">Contactos</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="{% url 'clientes:clientes_solicitudes_list' %}" data-key="t-inbox">Solicitudes</a></li>
                                <li><a href="#" data-key="t-read-email">Pagos</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript: void(0);" class="has-arrow">
                                <i data-feather="check-circle"></i>
                                <span data-key="coord-ejecutivos">Coord. de Ejecutivos</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="{% url 'investigaciones:investigaciones_list' %}" data-key="gestion-solicitudes">Investigaciones</a></li>
                                    
                            </ul>
                        </li>

                        <li>
                            <a href="javascript: void(0);" class="has-arrow">
                                <i data-feather="check-circle"></i>
                                <span data-key="ejecutivo-inv-lab">Ejecutivo Inv. Laboral</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="{% url 'investigaciones:investigaciones_ejecutivo_laboral_list' %}" data-key="gestion-solicitudes">Investigaciones</a></li> 
                            </ul>

                        </li>
                        
                        <li>
                            <a href="javascript: void(0);" class="has-arrow">
                                <i data-feather="users"></i>
                                <span data-key="ejecutivo-visita">Ejecutivo de visitas</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="{% url 'investigaciones:investigaciones_entrevista_list' %}" data-key="t-user-grid">Entrevistas</a></li>
                            </ul>
                        </li>

                        <li>
                           
                            <a href="javascript: void(0);" class="has-arrow">
                                <i data-feather="check-circle"></i>
                                <span data-key="coord-visita">Coord. de visitas</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="{% url 'investigaciones:investigaciones_coordinador_visitas_list' %}" data-key="gestion-solicitudes">Asignar ejecutivos</a></li>
                            </ul>

                        </li>

                        <li>
                            <a href="javascript: void(0);" class="has-arrow">
                                <i data-feather="users"></i>
                                <span data-key="t-contacts">Gestor de Entrevista</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="#" data-key="t-user-grid">Entrevistas (Foto/app)</a></li>
                                <li><a href="#" data-key="t-user-list">Mi bancos</a></li>
                                <li><a href="#" data-key="t-user-list">Mis Pagos</a></li>
                            </ul>
                        </li>

                        

                        <li>
                            <a href="javascript: void(0);" class="has-arrow">
                                <i data-feather="trello"></i>
                                <span data-key="t-tasks">Coord. Reclutamiento</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="#" key="t-task-list">Catalogo de gestores (CRUD)</a></li>
                                
                            </ul>
                        </li>
                        
                        <li>
                            <a href="javascript: void(0);" class="has-arrow">
                                <i data-feather="trello"></i>
                                <span data-key="coordinador-psicometrico">Coord. Psicométrico</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="{% url 'investigaciones:investigaciones_coordinador_psicometrico_list' %}" key="t-task-list">Asigna ejecutivo</a></li>
                                
                            </ul>
                        </li>

                        <li>
                            <a href="javascript: void(0);" class="has-arrow">
                                <i data-feather="trello"></i>
                                <span data-key="ejecutivo-psicometrico">Eject. Psicométrico</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="{% url 'investigaciones:investigaciones_ejecutivo_psicometrico_list' %}" key="t-task-list">Listado de Solicitudes</a></li>
                            </ul>
                        </li>


                        <li>
                            <a href="javascript: void(0);" class="has-arrow">
                                <i data-feather="share-2"></i>
                                <span data-key="t-multi-level">Cobranaza</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="true">
                                <li><a href="javascript: void(0);" data-key="t-level-1-1">Level 1.1</a></li>
                                <li>
                                    <a href="javascript: void(0);" class="has-arrow" data-key="t-level-1-2">Level 1.2</a>
                                    <ul class="sub-menu" aria-expanded="true">
                                        <li><a href="javascript: void(0);" data-key="t-level-2-1">Level 2.1</a></li>
                                        <li><a href="javascript: void(0);" data-key="t-level-2-2">Level 2.2</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript: void(0);" class="has-arrow">
                                <i data-feather="trello"></i>
                                <span data-key="t-tasks">Cuentas por pagar</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="#" key="t-task-list">Sube el archivo y bitacora</a></li>
                            </ul>
                        </li>
                    </ul>


                   
                </div>
                <!-- Sidebar -->
            </div>
        </div>
        <!-- Left Sidebar End -->
{% endblock left_sidebar %}