{% load static %}
{% block left_sidebar %}
        <!-- ========== Left Sidebar Start ========== -->
        <div class="vertical-menu">

            <div data-simplebar class="h-100">

                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <!-- Left Menu Start -->
                    <ul class="metismenu list-unstyled" id="side-menu">
                        <li class="menu-title" data-key="t-menu">Menu</li>

                        <li>
                            <a href="{% url 'dashboard' %}">
                                <i data-feather="home"></i>
                                <span data-key="t-dashboard">Dashboard</span>
                            </a>
                        </li>

                        <li>
                            <a href="{% url 'core:user_messages_list' %}">
                                <i data-feather="mail"></i>
                                <span class="badge rounded-pill bg-soft-success text-success float-end"><div id="total_nessage_menu">0</div></span>
                                <span data-key="notificaciones">Notificaciones</span>
                            </a>
                        </li>
                        
                        {% include "menus/catalogo_mnu.html" %}

                        {% include "menus/coordinador_reclutamiento_mnu.html" %}
                        
                        <li class="menu-title" data-key="t-apps">Aplicaciones</li>
                        
                        {% include "menus/cliente_mnu.html" %}

                        {% include "menus/coord_atencion_cliente_mnu.html" %}

                        {% include "menus/ejecutivo_de_cuentas_mnu.html" %}
                        
                        {% include "menus/ejecutivo_de_visitas_mnu.html" %}

                        {% include "menus/coord_visitas_domiciliarias_mnu.html" %}
                        
                        {% include "menus/gestor_visitas_domiciliarias_mnu.html" %}
                        
                        {% include "menus/gestor_de_entrevistas_mnu.html" %}
                        
                        {% include "menus/coord_psicometrico_mnu.html" %}
                        
                        {% include "menus/ejecutivo_psicometrico_mnu.html" %}
                        
                        {% include "menus/cobranzas_mnu.html" %}

                        {% include "menus/pagos_gestores_mnu.html" %}

                           
                        {% comment %}
                            <li>
                                <a href="javascript: void(0);" class="has-arrow">
                                    <i data-feather="trello"></i>
                                    <span data-key="t-tasks">Pago de gestores</span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="#" key="t-task-list">Sube el archivo y bitacora</a></li>
                                </ul>
                            </li>
                        {% endcomment %}
                            


                    </ul>


                   
                </div>
                <!-- Sidebar -->
            </div>
        </div>
        <!-- Left Sidebar End -->
{% endblock left_sidebar %}