{% extends 'partials/base.html' %}
{% load static %}

{% block title %}DataTables{% endblock title %}


{% block content %}

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Investigaciones - Entrevistas</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                                <li class="breadcrumb-item ">
                                    <a href="{% url 'investigaciones:investigaciones_list' %}">
                                        Inv. Coord. Ejecutivo
                                    </a>
                                </li>
                                <li class="breadcrumb-item active">Detalle de entrevista</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->


            <div class="row" id="detalle_investigacions">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Detalle de investigación</h3>

                            <div class="row">

                                <div class="col-md-3">
                                    <strong>Tipo de investigación(es):</strong>
                                    {% for ti in investigacion.tipo_investigacion.all  %}
                                    {{ ti }}
                                    {% endfor %}
                                </div>

                                <div class="col-md-3">
                                    <strong>Compañia:</strong>
                                    {{ investigacion.compania }}
                                </div>

                                <div class="col-md-3">
                                    <strong>Sucursal:</strong>
                                    {{ investigacion.sucursal }}
                                </div>

                                <div class="col-md-3">
                                    <strong>Contacto:</strong>
                                    {{ investigacion.cliente_solicitud }}
                                </div>

                            </div>

                        </div>
                    </div>
                </div><!-- end col -->

            </div>



            <div class="row" id="informacion_personal">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">

                                Información personal

                            </h3>

                            <div class="row">
                                <div class="col-md-3">
                                    <strong>NSS:</strong>
                                    {{ investigacion.candidato.nss}}
                                </div>
                                <div class="col-md-3">
                                    <strong>Nombre:</strong>
                                    {{ investigacion.candidato.nombre }}
                                </div>
                                <div class="col-md-3">
                                    <strong>Apellido:</strong>
                                    {{ investigacion.candidato.apellido }}
                                </div>
                                <div class="col-md-3">
                                    <strong>Email:</strong>
                                    {{ investigacion.candidato.email }}
                                </div>
                            </div>
                            
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <strong>Edad:</strong>
                                    {{ investigacion.candidato.edad }}
                                </div>
                                <div class="col-md-6">
                                    <strong>CURP:</strong>
                                    {{ investigacion.candidato.curp}}
                                </div>
                               
                            </div>

                            <br>
                            <div class="row">
                                <div class="col-md-4">
                                    <strong>Puesto:</strong>
                                    {{ investigacion.puesto }}
                                </div>
                                <div class="col-md-4">
                                    <strong>Fecha recibido:</strong>
                                    {{ investigacion.fecha_recibido}}
                                </div>

                                <div class="col-md-4">
                                    <strong>Hora recibido:</strong>
                                    {{ investigacion.hora_recibido}}
                                </div>
                               
                            </div>

                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <strong>Teléfonos</strong><br><br>
                                    {% for tel in telefonos  %}
                                        <strong>{{tel.categoria}}:</strong> {{tel.numero}}<br> 
                                    {% empty %}
                                        No tiene teléfonos
                                    {% endfor %}
                                   
                                        
                                </div>
                               
                            </div>
                          

                        </div>
                    </div>
                </div><!-- end col -->

            </div>

            <div class="row" id="entrevista_direccion">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            
                            {% if seccion_entrevista == 'datos-generales' %}

                            {% include 'investigaciones/edicion_enrtevista_personas/forms/datos_grales_form.html' %}
                                
                            {% endif %}
                                

                        </div>
                    </div>
                </div><!-- end col -->

            </div>



            <div class="row" id="bitacora">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Bitácora</h3>

                            <div class="row">

                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered table-hover" id="datatable">
                                            <thead>
                                                <tr>
                                                    <th>Fecha</th>
                                                    <th>Usuario</th>
                                                    <th>Servicio</th>
                                                    <th>Observaciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for bitacora in bitacoras %}
                                                <tr>
                                                    <td>{{ bitacora.datetime }}</td>
                                                    <td>{{ bitacora.user }}</td>
                                                    <td>{{ bitacora.servicio }}</td>
                                                    <td>{{ bitacora.observaciones }}</td>
                                                </tr>

                                                {% empty %}
                                                <tr>
                                                    <td colspan="4">No hay bitacoras para esta investigación</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>

                                        <a href="{% url 'investigaciones:investigacion_candidato_edit' investigacion.id %}"
                                            class="btn btn-primary waves-effect btn-label waves-light">
                                            <i class="bx bx-plus label-icon"></i>
                                            Agregar bitácora</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div><!-- end col -->

            </div>


            <a href="{% url 'investigaciones:investigaciones_list' %}"
                class="btn btn-primary waves-effect btn-label waves-light"> <i class="bx bx-arrow-back label-icon"></i>
                Regresar al listado</a>

            <br /><br />


        </div> <!-- container-fluid -->
    </div>
    <!-- End Page-content -->


    {% block footer %}
    {% include 'partials/footer.html' %}
    {% endblock footer %}
</div>
<!-- end main content-->
{% endblock content %}


{% block extra_js %}

<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover();
    });
</script>

{% endblock extra_js %}