{% extends 'partials/base.html' %}
{% load static %}
{% block title %}Lisado de solicitudes | Contakcto{% endblock title %}

{% block content %}
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Listado de costos tipo de investigación</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                                <li class="breadcrumb-item active">Listado de tipos de costos</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->


            <div class="row">

                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-header">
                            
                            <div class="row">
                                <div class="col-md-6">
                                  
                                </div>
                                <div class="col-md-6 text-end">
                                    <a href="{% url 'core:tipo_investigacion_costo_create' %}"
                                        class="btn btn-primary waves-effect btn-label waves-light"> <i class="bx bx-plus label-icon"></i>Crear costo</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped mb-0">

                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Tipo de investigación</th>
                                            <th>Costo</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for tipo_inv in tipo_investigacion_costo_list %}
                                        <tr>
                                            <td>{{ tipo_inv.id }}</td>
                                            <td>{{ tipo_inv.get_tipo_investigacion_display  }}</td>
                                            <td>{{ tipo_inv.costo }}</td>
                                            <td>
                                                <div class="d-flex flex-wrap gap-2">
                                                    <a href="{% url 'core:tipo_investigacion_costo_update' tipo_inv.id %}"
                                                    class="btn btn-primary waves-effect btn-label waves-light"> <i class="bx bxs-edit label-icon"></i>Editar</a>
                                                </div>
                                                   
                                            </td>
                                        </tr>
                                        {% empty %}
                                        <tr>
                                            <td colspan="4">No hay tipos de costos registrados</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- end card body -->
                    </div>
                    <!-- end card -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->

        </div> <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
    {% block footer %}
    {% include 'partials/footer.html' %}
    {% endblock footer %}
</div>
<!-- end main content-->
{% endblock content %}