@page {
  margin: 0;
  size: auto;
}
/* line 10, ../sass/print.sass */
html, body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: Trebuchet MS;
  text-transform: uppercase;
  -webkit-print-color-adjust: exact !important;
  display: none;
}

@media print {
  /* line 20, ../sass/print.sass */
  html, body {
    display: block;
  }
}
/* line 23, ../sass/print.sass */
table {
  table-layout: fixed;
}

/* line 26, ../sass/print.sass */
.page-break {
  display: block;
  page-break-before: always;
}

/* line 30, ../sass/print.sass */
.clear-fix {
  clear: both;
}

/* line 33, ../sass/print.sass */
.lowercase {
  text-transform: lowercase;
}

/* line 36, ../sass/print.sass */
.background-1 {
  border: solid 20px #8A0000;
  height: calc(100% - 85px);
  padding: 15px 15px 30px 15px;
}
/* line 41, ../sass/print.sass */
.background-1 .background-2 {
  height: 100%;
}

/* line 44, ../sass/print.sass */
.background-2 {
  border: solid 10px #8A0000;
  height: calc(100% - 20px);
  padding: 0px 10px 0 10px;
  position: relative;
}

/* line 50, ../sass/print.sass */
.header {
  border-bottom: 3px solid black;
  position: relative;
  margin-bottom: 3px;
}
/* line 55, ../sass/print.sass */
.header h1 {
  text-transform: uppercase;
  margin: 10px 0;
}
/* line 59, ../sass/print.sass */
.header img {
  position: absolute;
  bottom: 5px;
  right: 0;
  width: 180px;
}

/* line 65, ../sass/print.sass */
.footer {
  position: absolute;
  bottom: 0px;
  right: 20px;
  font-size: 0.9em;
  text-align: right;
  width: calc(100% - 40px);
}
/* line 73, ../sass/print.sass */
.footer p {
  font-style: italic;
}
/* line 76, ../sass/print.sass */
.footer strong {
  font-style: normal;
}
/* line 79, ../sass/print.sass */
.footer .agent {
  border: 2px solid #8A0000;
  border-radius: 10px;
  background: #D9D9D9;
  display: inline-block;
  padding: 5px 50px;
}
/* line 86, ../sass/print.sass */
.footer hr {
  background: black;
  height: 3px;
  margin: 10px 0 0 0;
  display: block;
}
/* line 92, ../sass/print.sass */
.footer i {
  display: inline-block;
  background: #8A0000;
  border-radius: 20px;
  color: white;
  width: 18px;
  height: 18px;
  text-align: center;
  position: relative;
  top: -2px;
  line-height: 18px;
}

/* line 106, ../sass/print.sass */
.cover-page .company h2 {
  border-radius: 20px;
  background: #8A0000;
  color: white;
  margin: 100px 0 0 100px;
  padding: 5px 50px;
  display: inline-block;
}
/* line 114, ../sass/print.sass */
.cover-page .company table {
  margin: 20px 0 0 60px;
}
/* line 116, ../sass/print.sass */
.cover-page .company table th {
  text-align: right;
  font-weight: normal;
  padding-right: 10px;
}
/* line 121, ../sass/print.sass */
.cover-page .company table td {
  background: #D9D9D9;
  padding: 5px 40px 5px 10px;
  font-weight: bold;
}
/* line 126, ../sass/print.sass */
.cover-page .candidate {
  margin: 40px 0 0 140px;
}
/* line 129, ../sass/print.sass */
.cover-page .candidate .header-2 {
  background: #404040;
  color: white;
}
/* line 134, ../sass/print.sass */
.cover-page .candidate tbody th {
  text-align: right;
  font-weight: normal;
  padding-right: 10px;
}
/* line 138, ../sass/print.sass */
.cover-page .candidate tbody td {
  background: #D9D9D9;
  padding: 5px 40px 5px 10px;
  font-weight: bold;
}
/* line 143, ../sass/print.sass */
.cover-page .results {
  margin: 40px 0 0 140px;
}
/* line 146, ../sass/print.sass */
.cover-page .results h2 {
  border-radius: 20px;
  background: #8A0000;
  color: white;
  margin: 0 0 0 100px;
  padding: 5px 20px;
  display: inline-block;
}
/* line 154, ../sass/print.sass */
.cover-page .results table {
  margin: 0 0 0 100px;
  border-spacing: 5px;
}
/* line 158, ../sass/print.sass */
.cover-page .results table tr {
  margin: 5px 0;
}
/* line 161, ../sass/print.sass */
.cover-page .results table th {
  background: #D9D9D9;
  padding: 8px;
  font-weight: bold;
}
/* line 166, ../sass/print.sass */
.cover-page .results table td {
  font-weight: bold;
}

/* line 172, ../sass/print.sass */
.laboral-study-page.laboral-general table th {
  text-align: center;
}
/* line 175, ../sass/print.sass */
.laboral-study-page h3 {
  background: #8A0000;
  color: white;
  padding: 5px 0;
  text-align: center;
  margin: 0 0 3px 0;
}
/* line 182, ../sass/print.sass */
.laboral-study-page .no-padding {
  padding: 0;
}
/* line 185, ../sass/print.sass */
.laboral-study-page table {
  width: 100%;
}
/* line 188, ../sass/print.sass */
.laboral-study-page table th {
  font-weight: normal;
  text-align: right;
  padding-right: 10px;
  font-size: 10px;
}
/* line 194, ../sass/print.sass */
.laboral-study-page table td {
  background: #D9D9D9;
  padding: 5px;
  font-weight: bold;
  font-size: 12px;
}
/* line 200, ../sass/print.sass */
.laboral-study-page table td.normal-font {
  font-weight: normal;
}
/* line 204, ../sass/print.sass */
.laboral-study-page .general-observations div {
  background: #D9D9D9;
  height: 55%;
  border-radius: 20px;
  padding: 20px;
}
/* line 211, ../sass/print.sass */
.laboral-study-page .work-reference .no-bg {
  background: none;
}
/* line 214, ../sass/print.sass */
.laboral-study-page .work-reference img {
  width: 200px;
  height: auto;
}
/* line 219, ../sass/print.sass */
.laboral-study-page .company td {
  width: 30%;
}
/* line 222, ../sass/print.sass */
.laboral-study-page .company h3 {
  border-radius: 20px;
}
/* line 226, ../sass/print.sass */
.laboral-study-page .resume table {
  border-collapse: separate;
  text-align: center;
}
/* line 230, ../sass/print.sass */
.laboral-study-page .resume table th {
  background: #BFBFBF;
  text-align: center;
  padding: 5px;
}
/* line 235, ../sass/print.sass */
.laboral-study-page .resume table th.background-white {
  background: white;
}
/* line 238, ../sass/print.sass */
.laboral-study-page .resume table td {
  background: none;
  padding: 0;
}
/* line 242, ../sass/print.sass */
.laboral-study-page .resume table td.background-dark-gray {
  background: #D9D9D9;
}
/* line 245, ../sass/print.sass */
.laboral-study-page .resume table table {
  border-spacing: 0;
}
/* line 248, ../sass/print.sass */
.laboral-study-page .resume table table th {
  background: none;
}
/* line 251, ../sass/print.sass */
.laboral-study-page .resume table table td {
  background: #D9D9D9;
}
/* line 254, ../sass/print.sass */
.laboral-study-page .resume .table-border {
  border: 2px solid #8A0000;
  margin: 2px 0;
  width: 100%;
}
/* line 258, ../sass/print.sass */
.laboral-study-page .resume .table-border th {
  font-size: 7px;
}
