/* line 1, ../sass/screen.sass */
navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  background: url(../media/logo_white.png) 0 0 no-repeat;
  height: 31px;
  line-height: 5000em;
  margin-left: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  top: 8px;
  width: 143px;
}

/* line 13, ../sass/screen.sass */
body {
  padding-top: 50px;
}

/* line 16, ../sass/screen.sass */
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/* line 20, ../sass/screen.sass */
.sidebar {
  display: none;
}

/* line 23, ../sass/screen.sass */
.uppercase {
  text-transform: uppercase;
}

@media (min-width: 768px) {
  /* line 27, ../sass/screen.sass */
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}
/* line 41, ../sass/screen.sass */
.nav-sidebar {
  margin-right: -21px;
  margin-bottom: 20px;
  margin-left: -20px;
}
/* line 46, ../sass/screen.sass */
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
/* line 50, ../sass/screen.sass */
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}

/* line 54, ../sass/screen.sass */
.main {
  padding: 10px;
}
/* line 57, ../sass/screen.sass */
.main .page-header {
  margin-top: 0;
}

@media (min-width: 768px) {
  /* line 61, ../sass/screen.sass */
  .main {
    padding-right: 20px;
    padding-left: 20px;
  }
}
/* line 65, ../sass/screen.sass */
.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
/* line 69, ../sass/screen.sass */
.placeholders h4 {
  margin-bottom: 0;
}

/* line 72, ../sass/screen.sass */
.placeholder {
  margin-bottom: 20px;
}
/* line 75, ../sass/screen.sass */
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

/* line 79, ../sass/screen.sass */
.errorlist {
  color: #a94442;
  list-style-type: none;
  padding: 0 0 0 10px;
}

/* line 84, ../sass/screen.sass */
.sidebar-date-input {
  font-size: 12px;
  width: 45%;
  padding: 4px 4px;
}

/* line 89, ../sass/screen.sass */
.float-left {
  float: left;
  display: inline-block;
}

/* line 93, ../sass/screen.sass */
#daterange-inputs-sidebar {
  width: 100%;
}

/* line 96, ../sass/screen.sass */
.daterange-separator {
  margin-top: 5px;
  width: 10%;
}

/* line 100, ../sass/screen.sass */
.loading-ajax {
  background: url(../media/ajax-loader.gif) 0 0 no-repeat;
  background-position: center;
  height: 20px;
  width: 100%;
}

/* line 107, ../sass/screen.sass */
#lista-candidatos-sidebar li {
  padding: 5px 5px 0px 5px;
  margin-bottom: -10px;
  cursor: pointer;
  font-size: small;
}
/* line 112, ../sass/screen.sass */
#lista-candidatos-sidebar li:hover {
  background-color: #eee;
}
/* line 114, ../sass/screen.sass */
#lista-candidatos-sidebar li:active {
  background-color: #ddd;
}
/* line 117, ../sass/screen.sass */
#lista-candidatos-sidebar .active {
  background-color: #428BCA;
}
/* line 120, ../sass/screen.sass */
#lista-candidatos-sidebar .candidato-label {
  display: block;
  height: 10px;
  width: 26px;
}

/* line 125, ../sass/screen.sass */
#lista-agentes-sidebar {
  padding-top: 10px;
}
/* line 128, ../sass/screen.sass */
#lista-agentes-sidebar li {
  padding: 5px 8px 0px 8px;
  margin-bottom: -10px;
}
/* line 132, ../sass/screen.sass */
#lista-agentes-sidebar li .opcion-agente {
  font-size: small;
}
/* line 135, ../sass/screen.sass */
#lista-agentes-sidebar li a {
  color: #999;
}

/* line 139, ../sass/screen.sass */
#modal-lista-empresas .btn {
  width: 100%;
  font-size: small;
}

/* line 143, ../sass/screen.sass */
.sidebar-title {
  margin-top: -50px;
}

/* line 146, ../sass/screen.sass */
.botones-header {
  margin-top: -35px;
}
/* line 149, ../sass/screen.sass */
.botones-header a, .botones-header button {
  width: 180px;
}

/* line 152, ../sass/screen.sass */
.hidden-element {
  visibility: hidden;
}

/* line 155, ../sass/screen.sass */
.greeting-msg {
  color: #428BCA;
  padding-top: 15px;
  padding-right: 15px;
}

/* line 160, ../sass/screen.sass */
.thin-separator {
  margin-top: 10px;
  margin-bottom: 5px;
}

/* line 164, ../sass/screen.sass */
#status_block {
  float: right;
  margin-top: 15px;
  border-left: 1px solid #CCC;
}

/* line 169, ../sass/screen.sass */
.company_info_block {
  padding-top: 15px;
  background-color: #EEE;
}

/* line 173, ../sass/screen.sass */
#panel_header_status {
  font-size: 12px;
}

/* line 176, ../sass/screen.sass */
.small-id {
  font-size: 16px;
}

/* ----------------- REPORTES ----------------- */
/* line 180, ../sass/screen.sass */
#panel_empresa_contacto {
  position: relative;
}

/* line 183, ../sass/screen.sass */
.wide-th {
  min-width: 350px;
}

/* line 186, ../sass/screen.sass */
.fixed-submenu {
  padding: 0 12px;
  position: fixed;
  background: white;
  left: 17%;
  right: 0;
  top: 51px;
  z-index: 3;
}
/* line 195, ../sass/screen.sass */
.fixed-submenu .header {
  display: flex;
  justify-content: space-between;
}
/* line 199, ../sass/screen.sass */
.fixed-submenu .cta {
  text-align: right;
}
/* line 202, ../sass/screen.sass */
.fixed-submenu .cta > * {
  min-width: 200px;
}
/* line 204, ../sass/screen.sass */
.fixed-submenu .cta a {
  margin-right: 20px;
}

/* line 207, ../sass/screen.sass */
.adjusted-fixed-submenu {
  margin-top: 150px;
}
@media (max-width: 1190px) {
  /* line 207, ../sass/screen.sass */
  .adjusted-fixed-submenu {
    margin-top: 200px;
  }
}

/* line 213, ../sass/screen.sass */
.candidato-crear {
  margin-top: 101px;
}

/* line 216, ../sass/screen.sass */
.col-red {
  background-color: indianred;
}

/* line 219, ../sass/screen.sass */
.col-gray {
  background-color: dimgray;
}

/* line 222, ../sass/screen.sass */
.col-blue {
  background-color: lightsteelblue;
}

/* line 225, ../sass/screen.sass */
.table-estatus {
  text-transform: uppercase;
}
/* line 228, ../sass/screen.sass */
.table-estatus thead {
  color: white;
}
/* line 231, ../sass/screen.sass */
.table-estatus th, .table-estatus td {
  text-align: center;
  padding: 6px;
  font-size: 12px;
  font-weight: bold;
}
/* line 237, ../sass/screen.sass */
.table-estatus ul {
  list-style-type: none;
  text-align: left;
}

/* line 242, ../sass/screen.sass */
.estatus-trayectoria td {
  text-align: left;
  font-size: 0.8em;
  padding: 0;
  font-weight: normal;
}

/* line 249, ../sass/screen.sass */
.panel-enviar-correo textarea, .panel-enviar-correo input {
  width: 100%;
}

/* line 252, ../sass/screen.sass */
.radiobutton {
  display: flex;
  justify-content: space-between;
}

/* line 257, ../sass/screen.sass */
.form-etiquetas .etiqueta {
  display: flex;
  margin-bottom: 12px;
}
/* line 261, ../sass/screen.sass */
.form-etiquetas .etiqueta span {
  display: inline-block;
  width: 50px;
  margin-right: 12px;
}

/* line 267, ../sass/screen.sass */
#contactos_selected option {
  text-transform: uppercase;
}
