
<div class="row">
	<div {% if request.user.is_staff %}ng-click="open_empresa_modal()"{% endif %} class="col-md-4">
		<div class="row">
			<div class="col-md-12"><label><br /></label></div>
		</div>
		<label>Empresa</label>
		<div class="input-group">
			<input id="id_trayectoria-compania" name="trayectoria-compania" type="hidden" value="{[{compania_trayectoria}]}">
			<input id="id_trayectoria-compania-nombre" name="trayectoria-compania-nombre" readonly="readonly" ng-model="compania_nombre_trayectoria" type="text" class="form-control">
			<span class="input-group-addon glyphicon glyphicon-search"></span>
		</div>
	</div>
	<div class="col-md-3">
		<div class="row">
			<div class="col-md-12"><label><br /></label></div>
		</div>
		{{ formTrayectoria.aparece_nss.errors }}
		<label for="id_trayectoria1-aparece_nss">Aparece en NSS</label>
		{% include 'share/radiobutton.html' with value=formTrayectoria.instance.aparece_nss name=formTrayectoria.aparece_nss.html_name %}
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		{{ formTrayectoria.reporta_candidato.errors }}
		<label for="id_trayectoria1-reporta_candidato">Reporta candidato</label>
		{% include 'share/radiobutton.html' with value=formTrayectoria.instance.reporta_candidato name=formTrayectoria.reporta_candidato.html_name %}
	</div>
</div>

<br />

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Carta Laboral</h3>
	</div>
	<div class="panel-body">
		<div class="col-md-4">
			{{ formCartaLaboral.tiene_carta.errors }}
			<label for="id_trayectoria1-carta_laboral">Carta laboral</label>
			{{ formCartaLaboral.tiene_carta }}
		</div>
		<div class="col-md-4">
			{{ formCartaLaboral.fecha.errors }}
			<label for="id_trayectoria1-carta_laboral_expide">Fecha en la que se expide</label>
			{{ formCartaLaboral.fecha }}
		</div>
		<div class="col-md-4">
			{{ formCartaLaboral.expide.errors }}
			<label for="id_trayectoria1-carta_laboral_expide">Nombre y puesto de quien expide</label>
			{{ formCartaLaboral.expide }}
		</div>
	</div>
</div>


<div class="panel panel-default company_info_block">
	<div class="panel-body">
		<div class="row">
			<div class="col-md-2">
				<dl>
					<dt>Razón social</dt>
					<dd>{{trayectoria_empresa.compania.razon_social}}</dd>
				</dl>
			</div>
			<div class="col-md-2">
				<dl>
					<dt>Nombre comercial</dt>
					<dd>{{trayectoria_empresa.compania.nombre}}</dd>
				</dl>
			</div>
			<div class="col-md-2">
				<dl>
					<dt>Giro</dt>
					<dd>{{trayectoria_empresa.compania.role}}</dd>
				</dl>
			</div>
			<div class="col-md-2">
				<dl>
					<dt>Referencia por correo</dt>
					<dd>{% if trayectoria_empresa.compania.referencia_correo %}Sí{% else %}No{% endif %}</dd>
				</dl>
			</div>
			{% if request.user.is_staff %}
				<div class="col-md-2">
					<a href="/empresa/{{trayectoria_empresa.compania.id}}/editar/ref/{{investigacion_id}}/{{trayectoria_id}}" class="btn btn-default" data-ng-click="onClickEditarDatosEmpresa($event)">Editar datos de empresa</a>
				</div>
			{% endif %}
		</div>
		<div class="row">
			{% with trayectoria_empresa.sucursal as sucursal %}
			<div class="col-md-2">
				{{formSucursal}}
			</div>
			<div class="col-md-2">
				<dl>
					<dt>Ciudad</dt>
					<dd>{{sucursal.ciudad}}</dd>
				</dl>
			</div>
			<div class="col-md-2">
				<dl>
					<dt>Teléfono</dt>
					<dd>{{sucursal.telefono}}</dd>
				</dl>
			</div>
			<div class="col-md-2">
				<dl>
					<dt>Correo</dt>
					<dd>{{sucursal.email}}</dd>
				</dl>
			</div>
			<div class="col-md-2">
				<button name="guardar_sucursal" type="submit" class="btn btn-default">Guardar y crear sucursal</button>
			</div>
			{% endwith %}
		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-body">
		<div class="row">

			<div class="col-md-7">
				<div class="row">
					<div class="col-md-5 col-md-offset-2 text-center">
						<label>Inicial</label>
					</div>
					<div class="col-md-5 text-center">
						<label>Final</label>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<label>Puesto</label>
					</div>
					<div class="col-md-5">
						{{ formTrayectoria.puesto_inicial.errors }}
						{{ formTrayectoria.puesto_inicial }}
					</div>
					<div class="col-md-5">
						{{ formTrayectoria.puesto_final.errors }}
						{{ formTrayectoria.puesto_final }}
					</div>
				</div>

				<div class="row">
					<div class="col-md-5 col-md-offset-2 text-center">
						<label>Inicial</label>
					</div>
					<div class="col-md-5 text-center">
						<label>Final</label>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<label>Sueldo</label>
					</div>
					<div class="col-md-5">
						{{ formTrayectoria.sueldo_inicial.errors }}
						{{ formTrayectoria.sueldo_inicial }}
					</div>
					<div class="col-md-5">
						{{ formTrayectoria.sueldo_final.errors }}
						{{ formTrayectoria.sueldo_final }}
					</div>
				</div>

				<div class="row">
					<div class="col-md-5 col-md-offset-2 text-center">
						<label>Del:</label>
					</div>
					<div class="col-md-5 text-center">
						<label>Al:</label>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<label>Fechas laboradas</label>
					</div>
					<div class="col-md-5">
						{{ formTrayectoria.periodo_alta.errors }}
						{{ formTrayectoria.periodo_alta }}
					</div>
					<div class="col-md-5">
						{{ formTrayectoria.periodo_baja.errors }}
						{{ formTrayectoria.periodo_baja }}
					</div>
				</div>

				<div class="row">
					<div class="col-md-5 col-md-offset-2 text-center">
						<label>Del:</label>
					</div>
					<div class="col-md-5 text-center">
						<label>Al:</label>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<label>Fechas reingreso</label>
					</div>
					<div class="col-md-5">
						{{ formTrayectoria.reingreso_inicial.errors }}
						{{ formTrayectoria.reingreso_inicial }}
					</div>
					<div class="col-md-5">
						{{ formTrayectoria.reingreso_final.errors }}
						{{ formTrayectoria.reingreso_final }}
					</div>
				</div>
			</div>

			<div class="col-md-5">
				<div class="row">
					<div class="col-md-12">
						{{ formTrayectoria.funciones.errors }}
						<label>Funciones y/o responsabilidades</label>
						{{ formTrayectoria.funciones }}
					</div>
				</div>
				<br /><br />
				<div class="row">
					<div class="col-md-12">
						{{ formTrayectoria.cumplio_objetivos.errors }}
						<label>Especificar si cumplió los objetivos del puesto</label>
						{{ formTrayectoria.cumplio_objetivos }}
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<br />

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Datos Generales</h3>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-2">
				{{ formDatosGenerales.num_personas.errors }}
				<label for="id_trayectoria1-no_personas_cargo">Personas a cargo (#)</label>
				{{ formDatosGenerales.num_personas }}
			</div>
			<div class="col-md-2">
					{{ formDatosGenerales.puestos.errors }}
					<label for="id_trayectoria1-manejo_valores">Puestos</label>
					{{ formDatosGenerales.puestos }}
				</div>
			<div class="col-md-2">
				{{ formDatosGenerales.tiene_valores.errors }}
				<label for="id_trayectoria1-manejo_valores">Manejo de valores</label>
				{{ formDatosGenerales.tiene_valores }}
			</div>

			<div class="col-md-3">
				{{ formDatosGenerales.tiene_mercancia.errors }}
				{{ formDatosGenerales.tiene_mercancia }}
				<label for="id_trayectoria1-terminada">MERCANCÍA</label>
			</div>
			<div class="col-md-3">
				{{ formDatosGenerales.tiene_documentos.errors }}
				{{ formDatosGenerales.tiene_documentos }}
				<label for="id_trayectoria1-terminada">DOCUMENTOS</label>
			</div>
			<div class="col-md-3">
				{{ formDatosGenerales.tiene_informacion.errors }}
				{{ formDatosGenerales.tiene_informacion }}
				<label for="id_trayectoria1-terminada">INFORMACIÓN</label>
			</div>
			<div class="col-md-3">
				{{ formDatosGenerales.tiene_efectivo.errors }}
				{{ formDatosGenerales.tiene_efectivo }}
				<label for="id_trayectoria1-terminada">EFECTIVO</label>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3">
				{{ formDatosGenerales.motivo_salida.errors }}
				<label for="id_trayectoria1-motivo_salida">Motivo de salida</label>
				{{ formDatosGenerales.motivo_salida }}
			</div>
			<div class="col-md-3">
				{{ formDatosGenerales.motivo_salida_candidato.errors }}
				<label for="id_trayectoria1-motivo_salida">Motivo de salida señalado por el candidato</label>
				{{ formDatosGenerales.motivo_salida_candidato }}
			</div>
			<div class="col-md-3">
				{{ formDatosGenerales.tiene_sindicato.errors }}
				<label for="id_trayectoria1-afiliado_sindicato">Afiliado a sindicato</label>
				{{ formDatosGenerales.tiene_sindicato }}
			</div>
			<div class="col-md-3">
				{{ formDatosGenerales.nombre_sindicato.errors }}
				<label for="id_trayectoria1-afiliado_sindicato">Nombre del sindicato</label>
				{{ formDatosGenerales.nombre_sindicato }}
			</div>
			<div class="col-md-2">
				{{ formDatosGenerales.es_recontratable.errors }}
				<label for="id_trayectoria1-recontratable">Recontratable</label>
				{{ formDatosGenerales.es_recontratable }}
			</div>
			<div class="col-md-2">
				{{ formDatosGenerales.recontratable_motivo.errors }}
				<label for="id_trayectoria1-recontratable">Motivo</label>
				{{ formDatosGenerales.recontratable_motivo }}
			</div>
		</div>
	</div>
</div>

<br />

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">JEFE INMEDIATO</h3>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-4">
				<label>Proporcionó referencia?</label>
				{% include 'share/radiobutton.html' with value=formOpinionJefe.instance.referencia name=formOpinionJefe.referencia.html_name %}
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				{{ formOpinionJefe.nombre.errors }}
				<label for="id_trayectoria1-jefe_inmediato">Nombre</label>
				{{ formOpinionJefe.nombre }}

				{{ formOpinionJefe.puesto.errors }}
				<label for="id_trayectoria1-jefe_inmediato_puesto">Puesto</label>
				{{ formOpinionJefe.puesto }}
			</div>
			<div class="col-md-8">
				{{ formOpinionJefe.opinion.errors }}
				<label for="id_opinion_jefe-opinion">Opinión</label>
				{{ formOpinionJefe.opinion }}
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				{{ formOpinionJefe.telefono.errors }}
				<label for="id_trayectoria1-jefe_inmediato">Teléfono</label>
				{{ formOpinionJefe.telefono }}
			</div>
			<div class="col-md-4">
				{{ formOpinionJefe.email.errors }}
				<label for="id_trayectoria1-jefe_inmediato">Email</label>
				{{ formOpinionJefe.email }}
			</div>
		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">RH</h3>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-4">
				{{ formOpinionRH.nombre.errors }}
				<label for="id_trayectoria1-jefe_inmediato">Nombre</label>
				{{ formOpinionRH.nombre }}

				{{ formOpinionRH.puesto.errors }}
				<label for="id_trayectoria1-jefe_inmediato_puesto">Puesto</label>
				{{ formOpinionRH.puesto }}
			</div>
			<div class="col-md-8">
				{{ formOpinionRH.opinion.errors }}
				<label for="id_opinion_jefe-opinion">Opinión</label>
				{{ formOpinionRH.opinion }}
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				{{ formOpinionRH.telefono.errors }}
				<label for="id_trayectoria1-jefe_inmediato">Teléfono</label>
				{{ formOpinionRH.telefono }}
			</div>
			<div class="col-md-4">
				{{ formOpinionRH.email.errors }}
				<label for="id_trayectoria1-jefe_inmediato">Email</label>
				{{ formOpinionRH.email }}
			</div>
		</div>
	</div>
</div>

<br />
<div class="text-center"><h4>EVALUACIÓN</h4></div>
<div class="row">
	<div class="col-md-3 col-md-offset-2">
		<label class="pull-right">Actitudes y aptitudes</label>
	</div>
	{% for radio in formEvaluacion.productividad %}
		<div class="col-md-1">
			<div class="text-center"><strong>{{ radio.choice_label }}</strong></div>
		</div>
	{% endfor %}
</div>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<hr class="thin-separator" />
	</div>
</div>
{% for field in formEvaluacion %}
	<div class="row">
		<div class="col-md-3 col-md-offset-2">
			<label class="pull-right">{{ field.label_tag }}</label>
		</div>
		{% for radio in field %}
			<div class="col-md-1">
				<div class="text-center">
					<div class="">{{ radio.tag }}</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endfor %}

<div class="row">
	<div class="col-md-12">
		{{ formTrayectoria.observaciones_generales.errors }}
		<label for="id_trayectoria1-observaciones_generales">Observaciones de Ejecutiva de RRHH (visible en estatus y pdf)</label>
		{{ formTrayectoria.observaciones_generales }}
	</div>
</div>
{% if request.user.is_staff %}
	<hr class="thin-separator" />
	<div class="row">
		<div class="col-md-3">
			{{ formTrayectoria.terminada.errors }}
			<label for="id_trayectoria1-terminada">Terminada</label>
			{{ formTrayectoria.terminada }}
		</div>
		<div class="col-md-3">
			{{ formTrayectoria.visible_en_status.errors }}
			<label for="id_trayectoria1-visible_en_status">Visible en estatus</label>
			{{ formTrayectoria.visible_en_status }}
		</div>
	</div>
{% endif %}
