{% extends 'partials/base.html' %}
{% load static crispy_forms_tags %}

{% block title %}{{ title }}{% endblock title %}

{% block extra_css %}
 <!-- Sweet Alert-->
 <link href="{% static 'libs/sweetalert2/dist/sweetalert2.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock extra_css %}

{% block content %}

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">

  <div class="page-content">
    <div class="container-fluid">

      <!-- start page title -->
      <div class="row">
        <div class="col-12">
          <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">Gestores</h4>

            <div class="page-title-right">
              <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                <li class="breadcrumb-item active"><a href="{% url 'pagos_gestores:pagos_gestores_list' %}">Listado de pagos pendientes</a></li>
                <li class="breadcrumb-item active">Detalles de pagos</li>
              </ol>
            </div>

          </div>
        </div>
      </div>
      <!-- end page title -->

      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col-md-12">
                  <h4 class="card-title">Detalle de contacto</h4>
                </div>

                
              </div>

            </div>
            <div class="card-body">

       

        <div class="row">
          <div class="col-sm-12">


            <table class="table">

              <tbody>
                <tr>
                  <td><strong>Gestor:</strong></td>
                  <td>{{ gestor}} </td>
                </tr>
               
              </tbody>
            </table>

            <div class="table-responsive">
              <table class="table table-striped mb-0">

                  <thead>
                      <tr>
                          <th>Investigación</th>
                          <th>Completado</th>
                          <th>Pagado</th>
                        
                      </tr>
                  </thead>
                  <tbody>
                      {% for iap in inv_a_pagar %}
                      <tr>
                          <td>{{ iap.investigacion }}</td>
                          <td>
                              <i class="fa fa-{% if iap.completado %}check{% else %}times{%endif%}"></i>
                          </td>
                          <td>
                              <i class="fa fa-{% if iap.pagado %}check{% else %}times{%endif%}"></i>
                          </td>
                  
                      </tr>
                      {% empty %}
                      <tr>
                          <td colspan="4"></td>
                      </tr>
                      {% endfor %}
                  </tbody>
              </table>
          </div>

          <br>

          <h5>
          Antes de generar el pago se debe tener el comprobante de pago en formato pdf o jpg.
          </h5>
          <br>

          <button type="button" class="btn btn-success waves-effect btn-label waves-light" id="generar-pago-gestor-pregunta">
            <i class="bx bx-check label-icon"></i> Generar pago
          </button>

          <a href="{% url 'clientes:clientes_list' %}"
            class="btn btn-warning waves-effect btn-label waves-light"> <i class="bx bx-user-x label-icon"></i>
            Regresar al listado</a>



          </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->

</div> <!-- container-fluid -->
</div>
<!-- End Page-content -->

{% block footer %}
{% include 'partials/footer.html' %}
{% endblock footer %}
</div>
<!-- end main content-->

<input type="hidden" id="gestor_id" value="{{ gestor_id }}">

{% endblock content %}

{% block extra_js %}

<!-- Sweet Alerts js -->
<script src="{% static 'libs/sweetalert2/dist/sweetalert2.min.js' %}"></script>

<!-- Sweet alert init js-->
<script src="{% static 'js/system/sweetalert.pago.gestores.list.init.js' %}"></script>

<script>
    $(document).ready(function () {
        gestor_id = $('#gestor_id').val();
    });
</script>

{% endblock extra_js %}