*.py[co]
*.sw[po]
*.bak
*.orig
*~
.project
.pydevproject
.vscode
contakto
secrets.txt
project/resources/media/xls

project/resources/media/adj
.DS_Store
.sass-cache/
docs/
SHA1.txt
project/resources/csv/
newrelic.ini
project/resources/media/zip/
