{% load fe_extras %}
<div class="fixed-submenu">
	<div class="header">
		<h3>
			{{investigacion.candidato}} <span class="small-id">({{investigacion.id}})</span> / {{investigacion.compania}} 
			<small>({{ investigacion.status_general|investigacion_status_gral }})</small>
		</h3>

		<div>
			Estatus de Inv. Laboral: <strong>{{status_list.investigacion|investigacion_status}}</strong>
			<br />

			Entrevista autorizada: <strong>{{status_list.entrevista_autorizada|entrevista_status_autorizada}}</strong>
			<br />

			{% if status_list.entrevista_autorizada == 1 %}
			Entrevistador: <strong>{{datos_entrevista.entrevistador}}</strong>
			<br />				
					
			Fecha/Hora: <strong>{{datos_entrevista.fecha}} {{datos_entrevista.hora}}</strong>
			<br />
			{% endif %}

			Resultado de Inv. Laboral: <strong>{{status_list.investigacion_resultado|investigacion_resultado}}</strong>
		</div>
	</div>
	{% include 'sections/candidato/seccion/menu_trayectoria.html' %}

	{% if cta == "both" %}
	<div class="cta">
		{% if request.user.is_superuser %}	
			<a href="/candidato/{{investigacion.id}}/eliminar" class="btn btn-danger btn_eliminar">Eliminar</a>
		{% endif %}
		{% if request.user.is_staff %}
			<button type="submit" name="guardar" class="btn btn-primary">Guardar</button>
		{% endif %}
	</div>
	{% endif %}
</div>
