{% load app_filters %}
<section class="laboral-study-page">
  <div class="background-2">
    {% include 'sections/reportes/seccion/header.html' %}

    <div class="work-reference">
      <h3>VALIDACIÓN WEB</h3>
      {% if adjuntos.adj36 %}
      <img src="{{adjuntos_baseurl}}{{adjuntos.adj36}}" />
      {% endif %}
    </div>

    <div class="footer">
      <span>EL PRESENTE FORMATO ES PARA USO EXCLUSIVO DE CONTAKTO-UNO S.C. / {{ investigacion.compania }}</span>
      <i>{{trayectoria|length|print_page_number:3}}</i>
    </div>
  </div>
</section>
<div class="page-break"></div>
