{% load app_filters %}
<section class="cover-page">
  <div class="background-1">
    <div>
      {% include 'sections/reportes/seccion/header.html' %}

      {% include 'sections/reportes/compartido/cover-company.html' %}

      <div class="candidate">
        {% if adjuntos.adj2 %}
        <img src="{{adjuntos_baseurl}}{{adjuntos.adj2}}" />
        {% endif %}
        <table>
          <tbody>
            <tr>
              <th><strong>CANDIDATO</strong></th>
              <td class="header-2">{{ candidato }} {{ candidato.apellido }}</td>
            </tr>
            <tr>
              <th>PUESTO</th>
              <td>{{ investigacion.puesto }}</td>
            </tr>
            <tr>
              <th>EDAD</th>
              <td>{{ candidato.edad }} años</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="results">
        <h2>RESULTADO</h2>
        {% include 'sections/reportes/compartido/results.html' %}
      </div>

      {% include 'sections/reportes/compartido/cover-footer.html' %}
    </div>
  </div>
</section>
<div class="page-break"></div>
