{% load app_filters %}
<section class="laboral-study-page laboral-general">
  <div class="background-2">
    <div class="header">
      <h1>Estudio Laboral</h1>
      <img src="/media/logo-nuevo.png" />
      <div class="clear-fix"></div>
    </div>

    {% include 'sections/reportes/compartido/datos-contacto.html' %}

    <div class="general-info">
      <h3>DATOS GENERALES</h3>
      <table>
        <tr>
          <th colspan="4">FECHA DE NACIMIENTO</th>
          <th colspan="2">NACIONALIDAD</th>
          <th colspan="2">ESTADO CIVIL</th>
        </tr>
        <tr>
          <td colspan="4">{{fecha_nacimiento|date:"d/M/Y"|localize_month}}</td>
          <td colspan="2">{{origen.nacionalidad|default:""}}</td>
          <td colspan="2">{{estado_civil|default:""}}</td>
        </tr>
        <tr>
          <th colspan="4">CURP</th>
          <th colspan="2">NSS</th>
          <th colspan="2">RFC</th>
        </tr>
        <tr>
          <td colspan="4">{{candidato.curp|default:""}}</td>
          <td colspan="2">{{candidato.nss|default:""}}</td>
          <td colspan="2">{{ candidato.rfc|default:"" }}</td>
        </tr>
      </table>
      <tr><th colspan="8">&nbsp;</th></tr>
      {% include 'sections/reportes/compartido/demanda.html' %}
    </div>

    <div class="general-observations">
      <h3>OBSERVACIONES SOBRE LA INVESTIGACIÓN</h3>
      <div>{% if investigacion.observaciones_generales %}{{investigacion.observaciones_generales|print_text|safe}}{% endif %}</div>
    </div>

    <div class="footer">
      <span>EL PRESENTE FORMATO ES PARA USO EXCLUSIVO DE CONTAKTO-UNO S.C. / {{ investigacion.compania }}</span>
      <i>2</i>
    </div>
  </div>
</section>
<div class="page-break"></div>
