{% load app_filters %}
<section class="laboral-study-page laboral-general">
  <div class="background-2">
    {% include 'sections/reportes/seccion/header.html' %}

    {% if show_contact_info %}
      {% include 'sections/reportes/compartido/datos-contacto.html' %}
    {% endif %}

    <div class="general-info">
      <h3>DATOS GENERALES</h3>
      <table>
        <tr>
          <th colspan="4">FECHA DE NACIMIENTO</th>
          <th colspan="2">LUGAR DE NACIMIENTO</th>
          <th colspan="2">NACIONALIDAD</th>
        </tr>
        <tr>
          <td colspan="4">{{origen.fecha|date:"d/M/Y"|localize_month}}</td>
          <td colspan="2">{{origen.lugar}}</td>
          <td colspan="2">{{origen.nacionalidad|default:""}}</td>
        </tr>
        <tr>
          <th colspan="4">CURP</th>
          <th colspan="2">NSS</th>
          <th colspan="2">RFC</th>
        </tr>
        <tr>
          <td colspan="4">{{candidato.curp|default:""}}</td>
          <td colspan="2">{{candidato.nss|default:""}}</td>
          <td colspan="2">{{ candidato.rfc|default:"" }}</td>
        </tr>
      </table>
      <tr><th colspan="8">&nbsp;</th></tr>
      {% include 'sections/reportes/compartido/demanda.html' %}
    </div>

    <div class="footer">
      <span>EL PRESENTE FORMATO ES PARA USO EXCLUSIVO DE CONTAKTO-UNO S.C. / {{ investigacion.compania }}</span>
      <i>2</i>
    </div>
  </div>
</section>
<div class="page-break"></div>
