<div id="sidebar" ng-controller="SearchCobranzaCTRL">		
	<div class="" id="filters_accordion">
	  <div class="">
	    <div class="">
	      <h6 class="panel-title">
	        <a data-toggle="collapse" data-parent="#filters_accordion" href="#collapseOne">
	          Filtros <span id="filter-icon" class="pull-right glyphicon glyphicon-chevron-up"></span>
	        </a>
	      </h6>
	    </div>
	    <div id="collapseOne" class="panel-collapse collapse in">
	    	<br />
	    		<div id="msg-search"></div>
				<div class="form-group">
					<div ng-click="open_empresa_modal()" class="input-group">
						<input id="compania_id" type="hidden" value="{[{compania_id}]}">
						<input placeholder="Empresa" readonly="readonly" ng-model="compania_nombre" type="text" class="form-control">
						<span class="input-group-addon glyphicon glyphicon-search"></span> 
					</div>
				</div>

				<div class="form-group" id="panel_empresa_contacto">
					<select class="form-control" id="empresa_contacto" name="empresa_contacto" ng-model="empresa_contacto" ng-change="selectContacto()">
						<option value="">Todos los Contactos</option>
						<option ng-selected="{[{row.pk == contacto_id}]}" 
							ng-repeat="row in empresa_contactos" value="{[{row.pk}]}">
							{[{row.fields.nombre}]}
						</option>
					</select>
				</div>

				{% include 'share/search_agentes.html' %}

				<div class="form-group" id="panel_factura">
					<select class="form-control" id="folio_factura" name="folio_factura" ng-model="factura_folio_ng">
						<option value="">Todos (Con y Sin Factura)</option>
						<option value="SIN_FACTURA">Sin Factura</option>
						<option value="CON_FACTURA">Con Factura</option>
					</select>
				</div>
				<div class="form-group">		
					<select class="form-control" id="status_select" name="status_select" ng-model="status_select">
						<option value="-1">Todos los Estatus</option>
						{% for id,status in status_select %}
							<option value="{{id}}">{{status}}</option>
						{% endfor %}
					</select>
				</div>

				<div id="daterange-inputs-sidebar" class="form-group">
					<input class="form-control sidebar-date-input float-left" type="text" class="form-control" id="fecha_inicio" placeholder="dd/mm/yy" ng-model="fecha_inicio">
					<span class="float-left daterange-separator">&nbsp;a&nbsp;</span>
					<input class="form-control sidebar-date-input " type="text" class="form-control" id="fecha_final" placeholder="dd/mm/yy" ng-model="fecha_final">
				</div>

				<div id="botones-sidebar" class="form-group">
					<span class="pull-right">
						<button type="button" class="btn btn-default btn-sm" ng-click="limpiar_filtros();"> Limpiar </button>
						<button type="button" class="btn btn-primary btn-sm" ng-click="search();"> Buscar </button>
					</span>
				</div>
				<br />
			
	    </div>
	  </div>
	</div>
</div>
<script type="text/javascript">
			var filtros_json = {% if filtros_json %}
									{	
										'compania_id':'{{filtros_json.compania_id|safe}}',
										'compania_nombre':'{{filtros_json.compania_nombre|safe}}',
										'contacto_id':'{{filtros_json.contacto_id|safe}}',
										'status_id':'{{filtros_json.status_id|safe}}',
										'factura_folio':'{{filtros_json.factura_folio|safe}}',
										'agente_select':'{{filtros_json.agente_select|safe}}',
										'fecha_inicio':'{{filtros_json.fecha_inicio|safe}}',
										'fecha_final':'{{filtros_json.fecha_final|safe}}'
									}
								{% else %}''{% endif %}
</script>
