{% extends 'layout/base.html' %}
{% load fe_extras %}
{% block side_content %}
	{% include 'sections/candidato/seccion/search_sidebar.html' %}
{% endblock %}

{% block site_wrapper %}
{% autoescape off %}
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			{% if msg %}
				<div id="msg" class="alert alert-{{status}}">
					{% for m in msg %}
						- {{m}} <br />
					{% endfor %}
				</div>
			{% else %}
				<div id="msg"></div>
			{% endif %}
		</div>
	</div>	
{% endautoescape %}

{% include 'sections/candidato/seccion/candidato_header.html' %}

<div class="row">
	<div class="col-md-8">
		{% include 'sections/candidato/seccion/menu_trayectoria.html' %}
	</div>
	{% if request.user.is_staff %}
		<div class="col-md-4 text-right">
			<a href="/candidato/investigacion/{{investigacion_id}}/adjuntos/editar" class="btn btn-default">Editar adjuntos <span class="glyphicon glyphicon-edit"></span></a>
		</div>
	{% endif %}
</div>

<div class="row">
	<div class="col-xs-3 col-xs-offset-1">
		<label>1. Foto de perfil del candidato</label>
	</div>
	<div class="col-xs-2">
		{% if adjuntos.adj2 %}
			<a class="thumbnail" href="{{ MEDIA_URL }}{{ adjuntos.adj2.name }}" data-toggle="lightbox" data-title="Foto Candidato" class="btn btn-info"><img src="{{ MEDIA_URL }}{{ adjuntos.adj2.name }}"></a>
		{% else %}
			<small>(Sin archivo)</small>
		{% endif %}
	</div>
</div>
<br />

<div class="panel panel-default">
	<div class="panel-heading">2. Fotografias del domicilio </div>
	<div class="panel-body">
			<div class="row">
				<div class="col-xs-3 col-xs-offset-1">
					<label>a. Interior derecho</label>
				</div>
				<div class="col-xs-2">
					{% if adjuntos.adj3 %}
						<a class="thumbnail" href="{{ MEDIA_URL }}{{ adjuntos.adj3.name }}" data-toggle="lightbox" data-title="Foto Interior 1" class="btn btn-info"><img src="{{ MEDIA_URL }}{{ adjuntos.adj3.name }}"></a>
					{% else %}
						<small>(Sin archivo)</small>
					{% endif %}
				</div>
			</div>
			<hr class="thin-separator" />
			
			<div class="row">
				<div class="col-xs-3 col-xs-offset-1">
					<label>b. Interior izquierdo</label>
				</div>
				<div class="col-xs-2">
					{% if adjuntos.adj4 %}
						<a class="thumbnail" href="{{ MEDIA_URL }}{{ adjuntos.adj4.name }}" data-toggle="lightbox" data-title="Foto Interior 2" class="btn btn-info"><img src="{{ MEDIA_URL }}{{ adjuntos.adj4.name }}"></a>
					{% else %}
						<small>(Sin archivo)</small>
					{% endif %}
				</div>
			</div>
			<hr class="thin-separator" />
			
			<div class="row">
				<div class="col-xs-3 col-xs-offset-1">
					<label>c. Exterior derecho</label>
				</div>
				<div class="col-xs-2">
					{% if adjuntos.adj5 %}
						<a class="thumbnail" href="{{ MEDIA_URL }}{{ adjuntos.adj5.name }}" data-toggle="lightbox" data-title="Foto Exterior" class="btn btn-info"><img src="{{ MEDIA_URL }}{{ adjuntos.adj5.name }}"></a>
					{% else %}
						<small>(Sin archivo)</small>
					{% endif %}
				</div>
			</div>
			<hr class="thin-separator" />
			
			<div class="row">
				<div class="col-xs-3 col-xs-offset-1">
					<label>d. Exterior izquierdo</label>
				</div>
				<div class="col-xs-2">
					{% if adjuntos.adj6 %}
						<a class="thumbnail" href="{{ MEDIA_URL }}{{ adjuntos.adj6.name }}" data-toggle="lightbox" data-title="Foto tipo Face" class="btn btn-info"><img src="{{ MEDIA_URL }}{{ adjuntos.adj6.name }}"></a>
					{% else %}
						<small>(Sin archivo)</small>
					{% endif %}
				</div>
			</div>
			<hr class="thin-separator" />

			<div class="row">
				<div class="col-xs-3 col-xs-offset-1">
						<label>e. Frente</label>
				</div>
				<div class="col-xs-2">
					{% if adjuntos.adj9 %}
						<a class="thumbnail" href="{{ MEDIA_URL }}{{ adjuntos.adj9.name }}" data-toggle="lightbox" data-title="Anexo 3" class="btn btn-info"><img src="{{ MEDIA_URL }}{{ adjuntos.adj9.name }}"></a>
					{% else %}
						<small>(Sin archivo)</small>
					{% endif %}
				</div>
			</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-3 col-xs-offset-1">
			<label>3. Gestor Entrevistador</label>
	</div>
	<div class="col-xs-2">
		{% if adjuntos.adj10 %}
			<a class="thumbnail" href="{{ MEDIA_URL }}{{ adjuntos.adj10.name }}" data-toggle="lightbox" data-title="Anexo 4" class="btn btn-info"><img src="{{ MEDIA_URL }}{{ adjuntos.adj10.name }}"></a>
		{% else %}
			<small>(Sin archivo)</small>
		{% endif %}
	</div>
</div>
<hr class="thin-separator" />

<div class="row">
	<div class="col-xs-3 col-xs-offset-1">
			<label>4. Croquis</label>
	</div>
	<div class="col-xs-2">
		{% if adjuntos.adj13 %}
			<a class="thumbnail" href="{{ MEDIA_URL }}{{ adjuntos.adj13.name }}" data-toggle="lightbox" data-title="Anexo 6" class="btn btn-info"><img src="{{ MEDIA_URL }}{{ adjuntos.adj13.name }}"></a>
		{% else %}
			<small>(Sin archivo)</small>
		{% endif %}
	</div>
</div>
<hr class="thin-separator" />

<div class="row">
	<div class="col-xs-3 col-xs-offset-1">
			<label>5. Aviso Privacidad</label>
	</div>
	<div class="col-xs-2">
		{% if adjuntos.adj11 %}
			<a class="thumbnail" href="{{ MEDIA_URL }}{{ adjuntos.adj11.name }}" data-toggle="lightbox" data-title="Anexo 5" class="btn btn-info"><img src="{{ MEDIA_URL }}{{ adjuntos.adj11.name }}"></a>
		{% else %}
			<small>(Sin archivo)</small>
		{% endif %}
	</div>
</div>
<hr class="thin-separator" />

<div class="row">
	<div class="col-xs-3 col-xs-offset-1">
			<label>6. Constancia</label>
	</div>
	<div class="col-xs-2">
		{% if adjuntos.adj12 %}
			<a class="thumbnail" href="{{ MEDIA_URL }}{{ adjuntos.adj12.name }}" data-toggle="lightbox" data-title="Anexo 6" class="btn btn-info"><img src="{{ MEDIA_URL }}{{ adjuntos.adj12.name }}"></a>
		{% else %}
			<small>(Sin archivo)</small>
		{% endif %}
	</div>
</div>
<hr class="thin-separator" />

<div class="row">
	<div class="col-xs-3 col-xs-offset-1">
			<label>7. Identificación con fotografia</label>
	</div>
	<div class="col-xs-2">
		{% if adjuntos.adj14 %}
			<a class="thumbnail" href="{{ MEDIA_URL }}{{ adjuntos.adj14.name }}" data-toggle="lightbox" data-title="Anexo 6" class="btn btn-info"><img src="{{ MEDIA_URL }}{{ adjuntos.adj14.name }}"></a>
		{% else %}
			<small>(Sin archivo)</small>
		{% endif %}
	</div>
</div>
<hr class="thin-separator" />

<div class="row">
	<div class="col-xs-3 col-xs-offset-1">
			<label>8. Acta de nacimiento</label>
	</div>
	<div class="col-xs-2">
		{% if adjuntos.adj17 %}
			<a class="thumbnail" href="{{ MEDIA_URL }}{{ adjuntos.adj17.name }}" data-toggle="lightbox" data-title="Anexo 6" class="btn btn-info"><img src="{{ MEDIA_URL }}{{ adjuntos.adj17.name }}"></a>
		{% else %}
			<small>(Sin archivo)</small>
		{% endif %}
	</div>
</div>
<hr class="thin-separator" />

<div class="row">
	<div class="col-xs-3 col-xs-offset-1">
			<label>9. Comprobante de domicilio</label>
	</div>
	<div class="col-xs-2">
		{% if adjuntos.adj16 %}
			<a class="thumbnail" href="{{ MEDIA_URL }}{{ adjuntos.adj16.name }}" data-toggle="lightbox" data-title="Anexo 6" class="btn btn-info"><img src="{{ MEDIA_URL }}{{ adjuntos.adj16.name }}"></a>
		{% else %}
			<small>(Sin archivo)</small>
		{% endif %}
	</div>
</div>
<hr class="thin-separator" />

<div class="row">
	<div class="col-xs-3 col-xs-offset-1">
		<label>10. Semanas Cotizadas</label>
	</div>
	<div class="col-xs-2">
		{% if adjuntos.adj8 %}
			<a class="thumbnail" href="{{ MEDIA_URL }}{{ adjuntos.adj8.name }}" data-toggle="lightbox" data-title="Anexo 2" class="btn btn-info"><img src="{{ MEDIA_URL }}{{ adjuntos.adj8.name }}"></a>
		{% else %}
			<small>(Sin archivo)</small>
		{% endif %}
	</div>
</div>
<hr class="thin-separator" />

<div class="row">
	<div class="col-xs-3 col-xs-offset-1">
			<label>11. Validación de Demandas Laborales</label>
	</div>
	<div class="col-xs-2">
		{% if adjuntos.adj7 %}
			<a class="thumbnail" href="{{ MEDIA_URL }}{{ adjuntos.adj7.name }}" data-toggle="lightbox" data-title="Anexo 1" class="btn btn-info"><img src="{{ MEDIA_URL }}{{ adjuntos.adj7.name }}"></a>
		{% else %}
			<small>(Sin archivo)</small>
		{% endif %}
	</div>
</div>
<hr class="thin-separator" />

<div class="row">
	<div class="col-xs-3 col-xs-offset-1">
			<label>12. Adicionales</label>
	</div>
	<div class="col-xs-2">
		{% if adjuntos.adj18 %}
			<a class="thumbnail" href="{{ MEDIA_URL }}{{ adjuntos.adj18.name }}" data-toggle="lightbox" data-title="Anexo 6" class="btn btn-info"><img src="{{ MEDIA_URL }}{{ adjuntos.adj18.name }}"></a>
		{% else %}
			<small>(Sin archivo)</small>
		{% endif %}
	</div>
</div>
<hr class="thin-separator" />
{% include 'sections/candidato/seccion/empresa_select_modal.html' %}
{% endblock %}
