{% extends 'layout/base.html' %}
{% load fe_extras %}
{% block side_content %}
	{% include 'sections/candidato/seccion/search_sidebar.html' %}
{% endblock %}

{% block site_wrapper %}

{% include 'sections/candidato/seccion/candidato_header.html' %}

<div class="adjusted-fixed-submenu">
	{% autoescape off %}
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				{% if msg %}
					<div id="msg" class="alert alert-{{status}}">
						{% for m in msg %}
							- {{m}} <br />
						{% endfor %}
					</div>
				{% else %}
					<div id="msg"></div>
				{% endif %}
			</div>
		</div>	
	{% endautoescape %}



	<div class="row">
		<div class="col-md-8">

		</div>
		{% if request.user.is_staff or is_user_captura %}
			<div class="col-md-4 text-right">
				<a href="/candidato/investigacion/{{investigacion_id}}/adjuntos/editar" class="btn btn-default">Editar adjuntos <span class="glyphicon glyphicon-edit"></span></a>
			</div>
		{% endif %}
	</div>

	<div class="row">
		<div class="col-xs-3 col-xs-offset-1">
			<label>1. Foto de perfil del candidato</label>
		</div>
		<div class="col-xs-2">
			{% if adjuntos.adj2 %}
				<a class="thumbnail" href="{{ MEDIA_URL }}{{ adjuntos.adj2.name }}" data-toggle="lightbox" data-title="Foto Candidato" class="btn btn-info"><img src="{{ MEDIA_URL }}{{ adjuntos.adj2.name }}"></a>
			{% else %}
				<small>(Sin archivo)</small>
			{% endif %}
		</div>
	</div>
	<br />

	<div class="panel panel-default">
		<div class="panel-heading">2. Fotografias del domicilio </div>
		<div class="panel-body">
				<div class="row">
					<div class="col-xs-3 col-xs-offset-1">
						<label>a. Interior derecho</label>
					</div>
					<div class="col-xs-2">
						{% if adjuntos.adj3 %}
							<a class="thumbnail" href="{{ MEDIA_URL }}{{ adjuntos.adj3.name }}" data-toggle="lightbox" data-title="Foto Interior 1" class="btn btn-info"><img src="{{ MEDIA_URL }}{{ adjuntos.adj3.name }}"></a>
						{% else %}
							<small>(Sin archivo)</small>
						{% endif %}
					</div>
				</div>
				<hr class="thin-separator" />
				
				<div class="row">
					<div class="col-xs-3 col-xs-offset-1">
						<label>b. Interior izquierdo</label>
					</div>
					<div class="col-xs-2">
						{% if adjuntos.adj4 %}
							<a class="thumbnail" href="{{ MEDIA_URL }}{{ adjuntos.adj4.name }}" data-toggle="lightbox" data-title="Foto Interior 2" class="btn btn-info"><img src="{{ MEDIA_URL }}{{ adjuntos.adj4.name }}"></a>
						{% else %}
							<small>(Sin archivo)</small>
						{% endif %}
					</div>
				</div>
				<hr class="thin-separator" />
				
				<div class="row">
					<div class="col-xs-3 col-xs-offset-1">
						<label>c. Exterior derecho</label>
					</div>
					<div class="col-xs-2">
						{% if adjuntos.adj5 %}
							<a class="thumbnail" href="{{ MEDIA_URL }}{{ adjuntos.adj5.name }}" data-toggle="lightbox" data-title="Foto Exterior" class="btn btn-info"><img src="{{ MEDIA_URL }}{{ adjuntos.adj5.name }}"></a>
						{% else %}
							<small>(Sin archivo)</small>
						{% endif %}
					</div>
				</div>
				<hr class="thin-separator" />
				
				<div class="row">
					<div class="col-xs-3 col-xs-offset-1">
						<label>d. Exterior izquierdo</label>
					</div>
					<div class="col-xs-2">
						{% if adjuntos.adj6 %}
							<a class="thumbnail" href="{{ MEDIA_URL }}{{ adjuntos.adj6.name }}" data-toggle="lightbox" data-title="Foto tipo Face" class="btn btn-info"><img src="{{ MEDIA_URL }}{{ adjuntos.adj6.name }}"></a>
						{% else %}
							<small>(Sin archivo)</small>
						{% endif %}
					</div>
				</div>
				<hr class="thin-separator" />

				<div class="row">
					<div class="col-xs-3 col-xs-offset-1">
							<label>e. Frente</label>
					</div>
					<div class="col-xs-2">
						{% if adjuntos.adj9 %}
							<a class="thumbnail" href="{{ MEDIA_URL }}{{ adjuntos.adj9.name }}" data-toggle="lightbox" data-title="Anexo 3" class="btn btn-info"><img src="{{ MEDIA_URL }}{{ adjuntos.adj9.name }}"></a>
						{% else %}
							<small>(Sin archivo)</small>
						{% endif %}
					</div>
				</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-3 col-xs-offset-1">
				<label>3. Gestor Entrevistador</label>
		</div>
		<div class="col-xs-2">
			{% if adjuntos.adj10 %}
				<a class="thumbnail" href="{{ MEDIA_URL }}{{ adjuntos.adj10.name }}" data-toggle="lightbox" data-title="Anexo 4" class="btn btn-info"><img src="{{ MEDIA_URL }}{{ adjuntos.adj10.name }}"></a>
			{% else %}
				<small>(Sin archivo)</small>
			{% endif %}
		</div>
	</div>
	<hr class="thin-separator" />

	<div class="row">
		<div class="col-xs-3 col-xs-offset-1">
				<label>4. Croquis</label>
		</div>
		<div class="col-xs-2">
			{% if adjuntos.adj13 %}
				<a class="thumbnail" href="{{ MEDIA_URL }}{{ adjuntos.adj13.name }}" data-toggle="lightbox" data-title="Anexo 6" class="btn btn-info"><img src="{{ MEDIA_URL }}{{ adjuntos.adj13.name }}"></a>
			{% else %}
				<small>(Sin archivo)</small>
			{% endif %}
		</div>
	</div>
	<hr class="thin-separator" />

	<div class="row">
		<div class="col-xs-3 col-xs-offset-1">
				<label>5. Aviso Privacidad</label>
		</div>
		<div class="col-xs-2">
			{% if adjuntos.adj11 %}
				<a class="thumbnail" href="{{ MEDIA_URL }}{{ adjuntos.adj11.name }}" data-toggle="lightbox" data-title="Anexo 5" class="btn btn-info"><img src="{{ MEDIA_URL }}{{ adjuntos.adj11.name }}"></a>
			{% else %}
				<small>(Sin archivo)</small>
			{% endif %}
		</div>
	</div>
	<hr class="thin-separator" />

	<div class="row">
		<div class="col-xs-3 col-xs-offset-1">
				<label>6. Constancia</label>
		</div>
		<div class="col-xs-2">
			{% if adjuntos.adj12 %}
				<a class="thumbnail" href="{{ MEDIA_URL }}{{ adjuntos.adj12.name }}" data-toggle="lightbox" data-title="Anexo 6" class="btn btn-info"><img src="{{ MEDIA_URL }}{{ adjuntos.adj12.name }}"></a>
			{% else %}
				<small>(Sin archivo)</small>
			{% endif %}
		</div>
	</div>
	<hr class="thin-separator" />

	<div class="panel panel-default">
		<div class="panel-heading">7. Fotografias de la Identificación</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-xs-3 col-xs-offset-1">
						<label>7.a Identificación con fotografia</label>
				</div>
				<div class="col-xs-2">
					{% if adjuntos.adj14 %}
						<a class="thumbnail" href="{{ MEDIA_URL }}{{ adjuntos.adj14.name }}" data-toggle="lightbox" data-title="7.a Identificación con fotografia" class="btn btn-info"><img src="{{ MEDIA_URL }}{{ adjuntos.adj14.name }}"></a>
					{% else %}
						<small>(Sin archivo)</small>
					{% endif %}
				</div>
			</div>
			<hr class="thin-separator" />

			<div class="row">
				<div class="col-xs-3 col-xs-offset-1">
						<label>7.b Identificación con fotografia</label>
				</div>
				<div class="col-xs-2">
					{% if adjuntos.adj22 %}
						<a class="thumbnail" href="{{ MEDIA_URL }}{{ adjuntos.adj22.name }}" data-toggle="lightbox" data-title="7.b Identificación con fotografia" class="btn btn-info"><img src="{{ MEDIA_URL }}{{ adjuntos.adj22.name }}"></a>
					{% else %}
						<small>(Sin archivo)</small>
					{% endif %}
				</div>
			</div>
			<hr class="thin-separator" />

			<div class="row">
				<div class="col-xs-3 col-xs-offset-1">
						<label>7.c Identificación con fotografia</label>
				</div>
				<div class="col-xs-2">
					{% if adjuntos.adj23 %}
						<a class="thumbnail" href="{{ MEDIA_URL }}{{ adjuntos.adj23.name }}" data-toggle="lightbox" data-title="7.c Identificación con fotografia" class="btn btn-info"><img src="{{ MEDIA_URL }}{{ adjuntos.adj23.name }}"></a>
					{% else %}
						<small>(Sin archivo)</small>
					{% endif %}
				</div>
			</div>
			<hr class="thin-separator" />

			<div class="row">
				<div class="col-xs-3 col-xs-offset-1">
						<label>7.d Identificación con fotografia</label>
				</div>
				<div class="col-xs-2">
					{% if adjuntos.adj24 %}
						<a class="thumbnail" href="{{ MEDIA_URL }}{{ adjuntos.adj24.name }}" data-toggle="lightbox" data-title="7.d Identificación con fotografia" class="btn btn-info"><img src="{{ MEDIA_URL }}{{ adjuntos.adj24.name }}"></a>
					{% else %}
						<small>(Sin archivo)</small>
					{% endif %}
				</div>
			</div>
			<hr class="thin-separator" />
		</div>
	</div>

	<div class="row">
		<div class="col-xs-3 col-xs-offset-1">
				<label>8. Acta de nacimiento</label>
		</div>
		<div class="col-xs-2">
			{% if adjuntos.adj17 %}
				<a class="thumbnail" href="{{ MEDIA_URL }}{{ adjuntos.adj17.name }}" data-toggle="lightbox" data-title="Anexo 6" class="btn btn-info"><img src="{{ MEDIA_URL }}{{ adjuntos.adj17.name }}"></a>
			{% else %}
				<small>(Sin archivo)</small>
			{% endif %}
		</div>
	</div>
	<hr class="thin-separator" />

	<div class="row">
		<div class="col-xs-3 col-xs-offset-1">
				<label>9. Comprobante de domicilio</label>
		</div>
		<div class="col-xs-2">
			{% if adjuntos.adj16 %}
				<a class="thumbnail" href="{{ MEDIA_URL }}{{ adjuntos.adj16.name }}" data-toggle="lightbox" data-title="Anexo 6" class="btn btn-info"><img src="{{ MEDIA_URL }}{{ adjuntos.adj16.name }}"></a>
			{% else %}
				<small>(Sin archivo)</small>
			{% endif %}
		</div>
	</div>
	<hr class="thin-separator" />

	<div class="panel panel-default">
		<div class="panel-heading">10. Semanas Cotizadas</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-xs-3 col-xs-offset-1">
					<label>10.a Semanas Cotizadas</label>
				</div>
				<div class="col-xs-2">
					{% if adjuntos.adj8 %}
						<a class="thumbnail" href="{{ MEDIA_URL }}{{ adjuntos.adj8.name }}" data-toggle="lightbox" data-title="10.a Semanas Cotizadas" class="btn btn-info"><img src="{{ MEDIA_URL }}{{ adjuntos.adj8.name }}"></a>
					{% else %}
						<small>(Sin archivo)</small>
					{% endif %}
				</div>
			</div>
			<hr class="thin-separator" />

			<div class="row">
				<div class="col-xs-3 col-xs-offset-1">
					<label>10.b Semanas Cotizadas</label>
				</div>
				<div class="col-xs-2">
					{% if adjuntos.adj25 %}
						<a class="thumbnail" href="{{ MEDIA_URL }}{{ adjuntos.adj25.name }}" data-toggle="lightbox" data-title="10.b Semanas Cotizadas" class="btn btn-info"><img src="{{ MEDIA_URL }}{{ adjuntos.adj25.name }}"></a>
					{% else %}
						<small>(Sin archivo)</small>
					{% endif %}
				</div>
			</div>
			<hr class="thin-separator" />

			<div class="row">
				<div class="col-xs-3 col-xs-offset-1">
					<label>10.c Semanas Cotizadas</label>
				</div>
				<div class="col-xs-2">
					{% if adjuntos.adj26 %}
						<a class="thumbnail" href="{{ MEDIA_URL }}{{ adjuntos.adj26.name }}" data-toggle="lightbox" data-title="10.c Semanas Cotizadas" class="btn btn-info"><img src="{{ MEDIA_URL }}{{ adjuntos.adj26.name }}"></a>
					{% else %}
						<small>(Sin archivo)</small>
					{% endif %}
				</div>
			</div>
			<hr class="thin-separator" />

			<div class="row">
				<div class="col-xs-3 col-xs-offset-1">
					<label>10.d Semanas Cotizadas</label>
				</div>
				<div class="col-xs-2">
					{% if adjuntos.adj27 %}
						<a class="thumbnail" href="{{ MEDIA_URL }}{{ adjuntos.adj27.name }}" data-toggle="lightbox" data-title="10.d Semanas Cotizadas" class="btn btn-info"><img src="{{ MEDIA_URL }}{{ adjuntos.adj27.name }}"></a>
					{% else %}
						<small>(Sin archivo)</small>
					{% endif %}
				</div>
			</div>
			<hr class="thin-separator" />

			<div class="row">
				<div class="col-xs-3 col-xs-offset-1">
					<label>10.e Semanas Cotizadas</label>
				</div>
				<div class="col-xs-2">
					{% if adjuntos.adj28 %}
						<a class="thumbnail" href="{{ MEDIA_URL }}{{ adjuntos.adj28.name }}" data-toggle="lightbox" data-title="10.e Semanas Cotizadas" class="btn btn-info"><img src="{{ MEDIA_URL }}{{ adjuntos.adj28.name }}"></a>
					{% else %}
						<small>(Sin archivo)</small>
					{% endif %}
				</div>
			</div>
			<hr class="thin-separator" />
		</div>
	</div>

			

	<div class="panel panel-default">
		<div class="panel-heading">11. Validaciones</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-xs-3 col-xs-offset-1">
						<label>11.a Demandas Laborales</label>
				</div>
				<div class="col-xs-2">
					{% if adjuntos.adj7 %}
						<a class="thumbnail" href="{{ MEDIA_URL }}{{ adjuntos.adj7.name }}" data-toggle="lightbox" data-title="Anexo 1" class="btn btn-info"><img src="{{ MEDIA_URL }}{{ adjuntos.adj7.name }}"></a>
					{% else %}
						<small>(Sin archivo)</small>
					{% endif %}
				</div>
			</div>

			<hr class="thin-separator" />

			<div class="row">
				<div class="col-xs-3 col-xs-offset-1">
						<label>11.b Web</label>
				</div>
				<div class="col-xs-2">
					{% if adjuntos.adj36 %}
						<a class="thumbnail" href="{{ MEDIA_URL }}{{ adjuntos.adj36.name }}" data-toggle="lightbox" data-title="validacion web" class="btn btn-info"><img src="{{ MEDIA_URL }}{{ adjuntos.adj36.name }}"></a>
					{% else %}
						<small>(Sin archivo)</small>
					{% endif %}
				</div>
			</div>
		</div>
	</div>

	<hr class="thin-separator" />

	<div class="row">
		<div class="col-xs-3 col-xs-offset-1">
			<label>12. Carta Laboral</label>
		</div>
		<div class="col-xs-2">
			{% if adjuntos.adj18 %}
				<a class="thumbnail" href="{{ MEDIA_URL }}{{ adjuntos.adj18.name }}" data-toggle="lightbox" data-title="Adicional A" class="btn btn-info"><img src="{{ MEDIA_URL }}{{ adjuntos.adj18.name }}"></a>
			{% else %}
				<small>(Sin archivo)</small>
			{% endif %}
		</div>
	</div>
	<hr class="thin-separator" />

	<div class="panel panel-default">
		<div class="panel-heading">13. Adicionales</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-xs-3 col-xs-offset-1">
					<label>Adicionales A</label>
				</div>
				<div class="col-xs-2">
					{% if adjuntos.adj19 %}
						<a class="thumbnail" href="{{ MEDIA_URL }}{{ adjuntos.adj19.name }}" data-toggle="lightbox" data-title="Adicional B" class="btn btn-info"><img src="{{ MEDIA_URL }}{{ adjuntos.adj19.name }}"></a>
					{% else %}
						<small>(Sin archivo)</small>
					{% endif %}
				</div>
			</div>
			<hr class="thin-separator" />

			<div class="row">
				<div class="col-xs-3 col-xs-offset-1">
					<label>Adicionales B</label>
				</div>
				<div class="col-xs-2">
					{% if adjuntos.adj20 %}
						<a class="thumbnail" href="{{ MEDIA_URL }}{{ adjuntos.adj20.name }}" data-toggle="lightbox" data-title="Adicional C" class="btn btn-info"><img src="{{ MEDIA_URL }}{{ adjuntos.adj20.name }}"></a>
					{% else %}
						<small>(Sin archivo)</small>
					{% endif %}
				</div>
			</div>
			<hr class="thin-separator" />

			<div class="row">
				<div class="col-xs-3 col-xs-offset-1">
					<label>Adicionales C</label>
				</div>
				<div class="col-xs-2">
					{% if adjuntos.adj21 %}
						<a class="thumbnail" href="{{ MEDIA_URL }}{{ adjuntos.adj21.name }}" data-toggle="lightbox" data-title="Adicional D" class="btn btn-info"><img src="{{ MEDIA_URL }}{{ adjuntos.adj21.name }}"></a>
					{% else %}
						<small>(Sin archivo)</small>
					{% endif %}
				</div>
			</div>
			<hr class="thin-separator" />

			<div class="row">
				<div class="col-xs-3 col-xs-offset-1">
					<label>Adicionales D</label>
				</div>
				<div class="col-xs-2">
					{% if adjuntos.adj29 %}
						<a class="thumbnail" href="{{ MEDIA_URL }}{{ adjuntos.adj29.name }}" data-toggle="lightbox" data-title="Adicional D" class="btn btn-info"><img src="{{ MEDIA_URL }}{{ adjuntos.adj29.name }}"></a>
					{% else %}
						<small>(Sin archivo)</small>
					{% endif %}
				</div>
			</div>
			<hr class="thin-separator" />

			<div class="row">
				<div class="col-xs-3 col-xs-offset-1">
					<label>Adicionales E</label>
				</div>
				<div class="col-xs-2">
					{% if adjuntos.adj30 %}
						<a class="thumbnail" href="{{ MEDIA_URL }}{{ adjuntos.adj30.name }}" data-toggle="lightbox" data-title="Adicional E" class="btn btn-info"><img src="{{ MEDIA_URL }}{{ adjuntos.adj30.name }}"></a>
					{% else %}
						<small>(Sin archivo)</small>
					{% endif %}
				</div>
			</div>
			<hr class="thin-separator" />

			<div class="row">
				<div class="col-xs-3 col-xs-offset-1">
					<label>Adicionales F</label>
				</div>
				<div class="col-xs-2">
					{% if adjuntos.adj31 %}
						<a class="thumbnail" href="{{ MEDIA_URL }}{{ adjuntos.adj31.name }}" data-toggle="lightbox" data-title="Adicional F" class="btn btn-info"><img src="{{ MEDIA_URL }}{{ adjuntos.adj31.name }}"></a>
					{% else %}
						<small>(Sin archivo)</small>
					{% endif %}
				</div>
			</div>
			<hr class="thin-separator" />

			<div class="row">
				<div class="col-xs-3 col-xs-offset-1">
					<label>Adicionales G</label>
				</div>
				<div class="col-xs-2">
					{% if adjuntos.adj32 %}
						<a class="thumbnail" href="{{ MEDIA_URL }}{{ adjuntos.adj32.name }}" data-toggle="lightbox" data-title="Adicional G" class="btn btn-info"><img src="{{ MEDIA_URL }}{{ adjuntos.adj32.name }}"></a>
					{% else %}
						<small>(Sin archivo)</small>
					{% endif %}
				</div>
			</div>
			<hr class="thin-separator" />

			<div class="row">
				<div class="col-xs-3 col-xs-offset-1">
					<label>Adicionales H</label>
				</div>
				<div class="col-xs-2">
					{% if adjuntos.adj33 %}
						<a class="thumbnail" href="{{ MEDIA_URL }}{{ adjuntos.adj33.name }}" data-toggle="lightbox" data-title="Adicional H" class="btn btn-info"><img src="{{ MEDIA_URL }}{{ adjuntos.adj33.name }}"></a>
					{% else %}
						<small>(Sin archivo)</small>
					{% endif %}
				</div>
			</div>
			<hr class="thin-separator" />

			<div class="row">
				<div class="col-xs-3 col-xs-offset-1">
					<label>Adicionales I</label>
				</div>
				<div class="col-xs-2">
					{% if adjuntos.adj34 %}
						<a class="thumbnail" href="{{ MEDIA_URL }}{{ adjuntos.adj34.name }}" data-toggle="lightbox" data-title="Adicional I" class="btn btn-info"><img src="{{ MEDIA_URL }}{{ adjuntos.adj34.name }}"></a>
					{% else %}
						<small>(Sin archivo)</small>
					{% endif %}
				</div>
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-body">
			<div class="row">
				<div class="col-xs-3 col-xs-offset-1">
					<label>Extra A</label>
				</div>
				<div class="col-xs-2">
					{% if adjuntos.adj35 %}
						<a href="{{ MEDIA_URL }}{{ adjuntos.adj35.name }}" class="btn btn-default" target="_blank">Descargar</a>
					{% else %}
						<small>(Sin archivo)</small>
					{% endif %}
				</div>
			</div>
		</div>
	</div>

	{% include 'sections/candidato/seccion/empresa_select_modal.html' %}
</div>
{% endblock %}
