{% extends 'layout/base.html' %}
{% load fe_extras %}
{% block side_content %}
	{% include 'sections/candidato/seccion/search_sidebar.html' %}
{% endblock %}

{% block site_wrapper %}
{% autoescape off %}
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				{% if msg %}
					<div id="msg" class="alert alert-{{status}}">
						{% for m in msg %}
							- {{m}} <br />
						{% endfor %}
					</div>
				{% else %}
					<div id="msg"></div>
				{% endif %}
			</div>
		</div>	
{% endautoescape %}

<div ng-controller="CandidatoCTRL">
	<form role="form" action="/candidato/investigacion/{{ investigacion_id }}/editar" method="post" id="form_candidato_crear" class="enter-tab adjusted-fixed-submenu">

		{% include 'sections/candidato/seccion/candidato_header.html' with cta="both" %}
	
		<input type="hidden" id="investigacion_id" value="{{ investigacion_id }}" />		
		{% csrf_token %}
		<br />	
		<input type="hidden" name="action" id="action"/>
		<div class="tab-content">
			<div class="tab-pane active" id="info-personal">
				{% include 'sections/candidato/forma/seccion/informacion_personal.html' %}
				<br />				
			</div>
		</div>		
	</form>
	
	{% include 'sections/candidato/forma/seccion/existente.html' %}
	{% include 'sections/candidato/seccion/empresa_select_modal.html' %}
	{% include 'sections/candidato/seccion/empresa_select_forma_modal.html' %}
</div>	
{% endblock %}
