{% extends 'layout/base.html' %}
{% load fe_extras %}
{% block side_content %}
	{% include 'sections/candidato/seccion/search_sidebar.html' %}
{% endblock %}

{% block site_wrapper %}
{% autoescape off %}
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				{% if msg %}
					<div id="msg" class="alert alert-{{status}}">
						{% for m in msg %}
							- {{m}} <br />
						{% endfor %}
					</div>
				{% else %}
					<div id="msg"></div>
				{% endif %}
			</div>
		</div>	
{% endautoescape %}

{% include 'sections/candidato/seccion/candidato_header.html' %}

<div ng-controller="TrayectoriaCTRL">
		
	<form role="form" action="#" method="post" id="form_trayectoria_editar">
		{% csrf_token %}	

		<div class="row">
			<div class="col-md-8">
				{% include 'sections/candidato/seccion/menu_trayectoria.html' %}	
			</div>
			{% if request.user.is_staff %}
				<div class="col-md-4">
					<div class="row">
						<div class="col-md-6">
							<button type="submit" name="cancelar" class="btn btn-danger form-control">
								Regresar <span class="glyphicon glyphicon-"></span>
							</button>	
						</div>
						<div class="col-md-6">
							<button type="submit" name="guardar" class="btn btn-primary form-control">
								Guardar <span class="glyphicon glyphicon-save"></span>
							</button>
						</div>
					</div>
				</div>
			{% endif %}		
		</div>
		{% include 'sections/candidato/forma/seccion/trayectoria_laboral.html' %}
		<br />
		{% include 'sections/candidato/forma/seccion/evaluacion.html' %}

		<br />
		{% if request.user.is_staff %}
			<div class="row">
				<div class="col-md-2 col-md-offset-8">
					<a href="/candidato/investigacion/{{investigacion_id}}/borrar/trayectoria/{{trayectoria_id}}" class="btn btn-danger form-control btn_eliminar">Eliminar de trayectoria <span class="glyphicon glyphicon-trash"></span></a>
				</div>
				<div class="col-md-2">
					<button type="submit" name="guardar" class="btn btn-primary form-control">
						Guardar <span class="glyphicon glyphicon-save"></span>
					</button>
				</div>
			</div>
		{% endif %}
	</form>
	<!-- Modals -->
	{% include 'sections/candidato/seccion/empresa_select_forma_modal.html' %}
	{% include 'sections/candidato/seccion/empresa_select_modal.html' %}
</div>
{% include 'sections/candidato/seccion/empresa_select_modal.html' %}
{% endblock %}