{% extends 'layout/base.html' %}

{% block side_content %}
	{% include 'sections/candidato/seccion/search_sidebar.html' %}
{% endblock %}

{% block site_wrapper %}
{% autoescape off %}
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div id="msg"></div>
			</div>
		</div>	
{% endautoescape %}

{% include 'sections/candidato/seccion/candidato_header.html' %}

<div class="adjusted-fixed-submenu">
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Empresas investigadas {% if request.user.is_staff %}<a href="/candidato/investigacion/{{investigacion_id}}/trayectoria/nueva" title="empresa nuevo" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></a>{% endif %}</h3>
		</div>
		<div class="panel-body">
			<div class="row placeholders">
				<div class="table-responsive">
					{% if trayectorias_laborales %}	
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Empresa</th>
									<th class="text-center">Ver</th>
									{% if request.user.is_staff %}
										<th class="text-center">Terminada</th>
										<th class="text-center">Visible en Estatus</th>
									{% endif %}
								</tr>
							</thead>
							<tbody>
								{% for t in trayectorias_laborales %}
									<tr>
										<td>
											{{ t.compania.nombre }} <br />
											<small>{{ t.observaciones_generales|lower }}</small>
										</td>
										<td class="text-center">
											<a class="btn btn-default" href="/candidato/investigacion/{{investigacion_id}}/{% if request.user.is_staff %}editar{% else %}ver{% endif %}/trayectoria/{{t.id}}">
												<span class="glyphicon glyphicon-edit"></span>
											</a>
										</td>
										{% if request.user.is_staff %}
											<td class="text-center"><span class="glyphicon glyphicon-{% if t.terminada %}ok{% else %}remove{% endif %}"></span></td>
											<td class="text-center"><span class="glyphicon glyphicon-{% if t.visible_en_status %}ok{% else %}remove{% endif %}"></span></td>
										{% endif %}
									</tr>
								{% endfor %}
							</tbody>
						</table>
					{% else %}
						<div class="bg-info">No hay empresas registradas</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Referencias Comerciales {% if request.user.is_staff %}<a href="/candidato/investigacion/{{investigacion_id}}/trayectoria-comercial/nueva" title="Nueva trayectoria comercial" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></a>{% endif %}</h3>
		</div>
		<div class="panel-body">
		</div>
	</div>


	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Observaciones de Estatus de Inv. Laboral</h3>
		</div>
		<div class="panel-body">
			<form action="#" method="post" id="trayectoria_status_form">
				{% csrf_token %}
				<div class="row">
					<div class="col-md-12">
						<div class="text-danger">{{formaInvestigacion.observaciones_generales.errors}}</div>
						{{formaInvestigacion.observaciones_generales}}
					</div>
				</div>

				<div class="row">
					<br />
					{% if request.user.is_staff %}	
						<div class="col-md-2 pull-right">
							<button type="submit" class="btn btn-primary form-control" name="guardar">Guardar</button>
						</div>
					{% endif %}
				</div>
			</form>
		</div>
</div>
{% include 'sections/candidato/seccion/empresa_select_modal.html' %}
{% endblock %}
