{% extends 'layout/base.html' %}

{% block side_content %}
	{% include 'sections/candidato/seccion/search_sidebar.html' %}
{% endblock %}

{% block site_wrapper %}
{% autoescape off %}
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div id="msg"></div>
			</div>
		</div>	
{% endautoescape %}

{% include 'sections/candidato/seccion/candidato_header.html' %}

<div class="adjusted-fixed-submenu">
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Empresas investigadas {% if request.user.is_staff %}<a href="/candidato/investigacion/{{investigacion_id}}/trayectoria/nueva" title="empresa nuevo" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></a>{% endif %}</h3>
		</div>
		<div class="panel-body">
			{% if trayectorias_laborales %}	
				<div class="row placeholders">
					<div class="table-responsive">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Empresa</th>
									<th>Fecha de Ingreso</th>
									<th>Fecha de Egreso</th>
									<th>Puesto</th>
									<th>Motivo de baja</th>
									{% if request.user.is_staff %}
									<th class="text-center">Terminada</th>
									<th class="text-center">Visible en Estatus</th>
									{% endif %}
									<th class="text-center">Ver</th>
								</tr>
							</thead>
							<tbody>
								{% for t in trayectorias_laborales %}
									<tr>
										<td>
											{{ t.compania.nombre }} <br />
											<small>{{ t.observaciones_generales|lower }}</small>
										</td>
										<td class="{% if not t.periodo_alta %}text-danger{% endif %}">
											{% if t.periodo_alta %}
												{{t.periodo_alta}}
											{% else %}
												<b>Sin Dato</b>
											{% endif %}
										</td>
										<td class="{% if not t.periodo_baja %}text-danger{% endif %}">
											{% if t.periodo_baja %}
												{{t.periodo_baja}}
											{% else %}
												<b>Sin Dato</b>
											{% endif %}
										</td>
										<td>{{t.puesto_final}}</td>
										<td>{{t.datosgenerales.motivo_salida|default:''}}</td>
										{% if request.user.is_staff %}
											<td class="text-center"><span class="glyphicon glyphicon-{% if t.terminada %}ok{% else %}remove{% endif %}"></span></td>
											<td class="text-center"><span class="glyphicon glyphicon-{% if t.visible_en_status %}ok{% else %}remove{% endif %}"></span></td>
										{% endif %}
										<td class="text-center">
											<a class="btn btn-default" href="/candidato/investigacion/{{investigacion_id}}/{% if request.user.is_staff %}editar{% else %}ver{% endif %}/trayectoria/{{t.id}}">
												<span class="glyphicon glyphicon-edit"></span>
											</a>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			{% endif %}
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">
				Referencias Comerciales
				{% if request.user.is_staff %}
					<a href="/candidato/investigacion/{{investigacion_id}}/trayectoria/comercial/nueva" title="Nueva trayectoria comercial" class="btn btn-default">
						<span class="glyphicon glyphicon-plus"></span>
					</a>
				{% endif %}
			</h3>
		</div>
		<div class="panel-body">
			{% if referencias_comerciales %}
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Tipo de Negocio</th>
							<th>Ver</th>
						</tr>
					</thead>
					<tbody>
						{% for referencia in referencias_comerciales %}
							<tr>
								<td>{{referencia.tipo_negocio}}</td>
								<td>
									<a class="btn btn-default" href="/candidato/investigacion/{{investigacion_id}}/trayectoria/comercial/{{referencia.id}}">
										<span class="glyphicon glyphicon-edit"></span>
									</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% endif %}
		</div>
	</div>


	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Observaciones de Estatus de Inv. Laboral (visible en conclusión pdf)</h3>
		</div>
		<div class="panel-body">
			<form action="#" method="post" id="trayectoria_status_form">
				{% csrf_token %}
				<div class="row">
					<div class="col-md-12">
						<div class="text-danger">{{formaInvestigacion.observaciones_generales.errors}}</div>
						{{formaInvestigacion.observaciones_generales|safe}}
					</div>
				</div>

				<div class="row">
					<br />
					{% if request.user.is_staff or is_user_captura %}	
						<div class="col-md-2 pull-right">
							<button type="submit" class="btn btn-primary form-control" name="guardar">Guardar</button>
						</div>
						<div class="col-md-2 pull-right">
							<button type="submit" class="btn btn-default form-control" name="autogenerar">Autogenerar Conclusión</button>
						</div>
					{% endif %}
				</div>
			</form>
		</div>
</div>
{% include 'sections/candidato/seccion/empresa_select_modal.html' %}
{% endblock %}
