{% extends 'layout/base.html' %}
{% load fe_extras %}

{% block side_content %}
	{% include 'sections/candidato/seccion/search_sidebar.html' %}
{% endblock %}

{% block site_wrapper %}
	{% include 'sections/candidato/seccion/candidato_header.html' %}

	<div class="adjusted-fixed-submenu">
		<div class="panel panel-default">
			<div class="panel-heading">Reportes</div>
			<div class="panel-body">
				{% if investigacion.tipo_investigacion_status == 1 or investigacion.tipo_investigacion_status == 4 or investigacion.tipo_investigacion_status == 3 %}
				<div class="row">
					<div class="col-xs-3">
						<label>Laboral</label>
					</div>
					<div id="exportar-pdf" class="col-xs-2">
						<a class="btn btn-default" href="/candidato/investigacion/exportar/reporte-laboral/{{investigacion.id}}" target="_blank">Generar <span class="glyphicon glyphicon-export"></span></a>
					</div>
				</div>
				<hr />
				{% endif %}
					
				{% if investigacion.tipo_investigacion_status == 2 or investigacion.tipo_investigacion_status == 4 or investigacion.tipo_investigacion_status == 3 %}
				<div class="row">
					<div class="col-xs-3">
						<label>Socioeconómico</label>
					</div>
					<div id="exportar-pdf" class="col-xs-3">
						{% if datos_entrevista.autorizada != 1 %}
							Entrevista no autorizada
						{% else %}
							<a class="btn btn-default" href="/candidato/investigacion/exportar/reporte-socioeconomico/{{investigacion.id}}"  target="_blank">Generar <span class="glyphicon glyphicon-export"></span></a>
						{% endif %}
					</div>
				</div>
				<hr />
				{% endif %}
				
				{% if investigacion.tipo_investigacion_status == 5 or investigacion.tipo_investigacion_status == 7 or investigacion.tipo_investigacion_status == 4 or investigacion.tipo_investigacion_status == 3 %}
				<div class="row">
					<div class="col-xs-3">
						<label>Visita Domiciliaria</label>
					</div>
					<div id="exportar-pdf" class="col-xs-3">
						<a class="btn btn-default" href="/candidato/investigacion/exportar/reporte-visita-domiciliaria/{{investigacion.id}}"  target="_blank">Generar <span class="glyphicon glyphicon-export"></span></a>
					</div>
				</div>
				<hr />
				{% endif %}

				{% if investigacion.tipo_investigacion_status == 6 or investigacion.tipo_investigacion_status == 4 or investigacion.tipo_investigacion_status == 3 %}
				<div class="row">
					<div class="col-xs-3">
						<label>Validación Demandas Laborales</label>
					</div>
					<div id="exportar-pdf" class="col-xs-3">
						<a class="btn btn-default" href="/candidato/investigacion/exportar/reporte-demandas/{{investigacion.id}}"  target="_blank">Generar <span class="glyphicon glyphicon-export"></span></a>
					</div>
				</div>
				{% endif %}

			</div>
	</div>
	{% include 'sections/candidato/seccion/empresa_select_modal.html' %}
{% endblock %}
