{% extends 'partials/base.html' %}
{% load static crispy_forms_tags %}

{% block title %}{{ title }}{% endblock title %}

{% block extra_css %}
<!-- DataTables -->
<link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css'%}" rel="stylesheet" type="text/css" />
<link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css'%}" rel="stylesheet"
  type="text/css" />

<!-- Responsive datatable examples -->
<link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css'%}" rel="stylesheet"
  type="text/css" />
{% endblock extra_css %}

{% block content %}

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">

  <div class="page-content">
    <div class="container-fluid">

      <!-- start page title -->
      <div class="row">
        <div class="col-12">
          <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">Contactos</h4>

            <div class="page-title-right">
              <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                <li class="breadcrumb-item active">Listado de contactos</li>
              </ol>
            </div>

          </div>
        </div>
      </div>
      <!-- end page title -->

      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col-md-12">
                  <h4 class="card-title">Detalle de contacto</h4>
                </div>

                
              </div>

            </div>
            <div class="card-body">

       

        <div class="row">
          <div class="col-sm-12">


            <table class="table">

              <tbody>
                <tr>
                  <td>Email:</td>
                  <td>{{ object.email }} </td>
                </tr>

                <tr>
                  <td>Nombre:</td>
                  <td>{{ object.first_name }}, {{ object.last_name }} </td>
                </tr>   

               
              </tbody>
            </table>

        
          <a href="{% url 'clientes:clientes_list' %}"
            class="btn btn-warning waves-effect btn-label waves-light"> <i class="bx bx-user-x label-icon"></i>
            Regresar al listado</a>



          </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->

</div> <!-- container-fluid -->
</div>
<!-- End Page-content -->

{% block footer %}
{% include 'partials/footer.html' %}
{% endblock footer %}
</div>
<!-- end main content-->
{% endblock content %}

