<form role="form" method="post">
	{% csrf_token %}

	<div class="card">
		<div class="card-header">
			<h3 class="card-title">Información Personal</h3>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-3">
					<label for="id_candidato-nss">NSS</label>
					{{ formCandidato.nss }}
					{{ formCandidato.nss.errors }}
				</div>
				<div class="col-md-3">
					<label for="id_candidato-nombre">Nombre *</label>
					{{ formCandidato.nombre }}
					{{ formCandidato.nombre.errors }}
				</div>
				<div class="col-md-3">
					<label for="id_candidato-email">Apellido</label>
					{{ formCandidato.apellido }}
					{{ formCandidato.apellido.errors }}
				</div>
				<div class="col-md-3">
					<label for="id_candidato-email">Email</label>
					{{ formCandidato.email }}
					{{ formCandidato.email.errors }}
				</div>
			</div>

			<br />

			<div class="row">
				<div class="col-md-3">
					<label for="id_candidato-curp">CURP</label>
					{{ formCandidato.curp }}
					{{ formCandidato.curp.errors }}
				</div>
				<div class="col-md-3">
					<label for="id_candidato-nss">RFC</label>
					{{ formCandidato.rfc }}
					{{ formCandidato.rfc.errors }}
				</div>
				<div class="col-md-3">
					{{ formInvestigacion.label }}
				</div>
			</div>




			<br />
			<div class="row">
				<div class="col-md-2">
					<label for="id_origen-fecha">Fecha de Nacimiento</label>
					{{ formOrigen.fecha }}
					{{ formOrigen.fecha.errors }}
				</div>
				<div class="col-md-1">
					{{ formCandidato.edad.errors }}
					<label for="id_candidato-edad">Edad</label>
					{{ formCandidato.edad }}
				</div>
				<div class="col-md-3">
					<label for="id_origen-lugar">Lugar de nacimiento</label>
					{{ formOrigen.lugar }}
					{{ formOrigen.lugar.errors }}
				</div>
				<div class="col-md-3">
					<label for="id_origen-nacionalidad">Nacionalidad</label>
					{{ formOrigen.nacionalidad }}
					{{ formOrigen.nacionalidad.errors }}
				</div>
				<div class="col-md-3">
					{{formCandidato.estado_civil.label_tag}}
					{{ formCandidato.estado_civil }}
					{{ formCandidato.estado_civil.errors }}
				</div>
			</div>

			<br />

			<div class="row">
				<div class="col-md-3">
					<label for="id_investigacion-puesto">Puesto *</label>
					{{ formInvestigacion.puesto }}
					{{ formInvestigacion.puesto.errors }}
				</div>
				<div class="col-md-3">
					<label for="id_investigacion-fecha_recibido">Fecha recibido *</label>
					{% if view != 'edit' or request.user.is_superuser %}
					{{ formInvestigacion.fecha_recibido }}
					{{ formInvestigacion.fecha_recibido.errors }}
					{% else %}
					<input value="{{investigacion.fecha_recibido|date:'d/m/Y'}}" class="form-control" disabled>
					<input type="hidden" name="investigacion-fecha_recibido" id="id_investigacion-fecha_recibido"
						value="{{investigacion.fecha_recibido|date:'d/m/Y'}}">
					{% endif %}
				</div>
				<div class="col-md-3">
					<label for="id_investigacion-hora_recibido">Hora recibido *</label>
					{% if view != 'edit' or investigacion.hora_recibido is None or request.user.is_superuser %}
					{{ formInvestigacion.hora_recibido }}
					{{ formInvestigacion.hora_recibido.errors }}
					{% else %}
					<input value="{{investigacion.hora_recibido}}" class="form-control" disabled>
					<input type="hidden" name="investigacion-hora_recibido" id="id_investigacion-hora_recibido"
						value="{{investigacion.hora_recibido}}">
					{% endif %}
				</div>
			</div>

			<br />
			<h5>Teléfonos</h5>
			<div class="row">
				<div class="col-md-2">
					<label for="id_telefono1-numero">Teléfono Casa</label>
					{{ formTelefono1.numero }}
					{{ formTelefono1.numero.errors }}
				</div>
				<div class="col-md-2">
					<label for="id_telefono2-numero">Teléfono Celular</label>
					{{ formTelefono2.numero }}
					{{ formTelefono1.numero.errors }}
				</div>
				<div class="col-md-2">
					<label for="id_telefono3-numero">Teléfono Recados</label>
					{{ formTelefono3.numero }}
					{{ formTelefono3.numero.errors }}
				</div>
				<div class="col-md-2">
					<label for="id_telefono3-numero">Parentesco</label>
					{{ formTelefono3.parentesco }}
					{{ formTelefono3.parentesco.errors }}
				</div>

			</div>

			<br />

			<h5>Domicio actual</h5>
			<div class="row">

				<div class="col-md-3">
					<label for="id_direccion-calle">Calle y número</label>
					{{ formDireccion.calle }}
					{{ formDireccion.calle.errors }}
				</div>
				<div class="col-md-3">
					<label for="id_direccion-colonia">Colonia</label>
					{{ formDireccion.colonia }}
					{{ formDireccion.colonia.errors }}
				</div>
				<div class="col-md-2">
					<label for="id_direccion-cp">C.P.</label>
					{{ formDireccion.cp }}
					{{ formDireccion.cp.errors }}
				</div>
				<div class="col-md-2">
					<label for="id_direccion-ciudad">Ciudad</label>
					{{ formDireccion.ciudad }}
					{{ formDireccion.ciudad.errors }}
				</div>

				<div class="col-md-2">
					<label for="id_direccion-estado">Estado</label>
					{{ formDireccion.estado }}
					{{ formDireccion.estado.errors }}
				</div>

			</div>
			<br />

			<div class="row">
				<div class="col-md-4">
					<label for="id_prestacion_vivienda_infonavit-activo">Infonavit vigente</label>
					{% include 'share/radiobutton.html' with value=formPrestacionViviendaInfonavit.instance.activo name=formPrestacionViviendaInfonavit.activo.html_name %}
					{{ formPrestacionViviendaInfonavit.activo.errors }}
				</div>
				<div class="col-md-4">
					<label for="id_prestacion_vivienda_fonacot-activo">Fonacot vigente</label>
					{% include 'share/radiobutton.html' with value=formPrestacionViviendaFonacot.instance.activo name=formPrestacionViviendaFonacot.activo.html_name %}
					{{ formPrestacionViviendaFonacot.activo.errors }}
				</div>
				<div class="col-md-4">
					<label for="id_legalidad-sindicato">Afiliado a sindicato</label>
					{% include 'share/radiobutton.html' with value=formLegalidad.instance.afiliado_sindicato name=formLegalidad.afiliado_sindicato.html_name %}
					{{ formLegalidad.afiliado_sindicato.errors }}
				</div>
			</div>
			<br />

			<div class="row">
				<div class="col-md-4">
					<label for="id_prestacion_vivienda_infonavit-numero_credito">Número de crédito Infonavit</label>
					{{ formPrestacionViviendaInfonavit.numero_credito }}
					{{ formPrestacionViviendaInfonavit.numero_credito.errors }}
				</div>
				<div class="col-md-4">
					<label for="id_prestacion_vivienda_fonacot-numero_credito">Número de crédito Fonacot</label>
					{{ formPrestacionViviendaFonacot.numero_credito }}
					{{ formPrestacionViviendaFonacot.numero_credito.errors }}
				</div>
				<div class="col-md-4">
					<label for="id_legalidad-sindicato">Nombre:</label>
					{{ formLegalidad.sindicato }}
					{{ formLegalidad.sindicato.errors }}
				</div>
			</div>


			<hr class="thin-separator" />
			<div class="row">
				<div class="col-md-4">
					<label for="id_seguro-verificado_enburo">Verificado en Buro laboral</label>
					{% include 'share/radiobutton.html' with value=formSeguro.instance.verificado_enburo name=formSeguro.verificado_enburo.html_name %}
					{{ formSeguro.verificado_enburo.errors }}
				</div>
				<div class="col-md-4">
					<label for="id_investigacion-laboro_anteriormente">Laboró anteriormente en la empresa</label>
					{% include 'share/radiobutton.html' with value=formInvestigacion.instance.laboro_anteriormente name=formInvestigacion.laboro_anteriormente.html_name %}
					{{ formInvestigacion.laboro_anteriormente.errors }}
				</div>
				<div class="col-md-4">
					<label for="id_investigacion-laboro_anteriormente">Familiar laborando en la empresa</label>
					{% include 'share/radiobutton.html' with value=formInvestigacion.instance.familiar_laborando name=formInvestigacion.familiar_laborando.html_name %}
					{{ formInvestigacion.familiar_laborando.errors }}
				</div>
			</div>

		</div>
	</div>

	<br />

	<button type="submit" class="btn btn-success waves-effect btn-label waves-light"> <i
			class="bx bx-save label-icon"></i>
		Guardar datos</button>
	<br /><br />

</form>