{% extends 'partials/base.html' %}
{% load static crispy_forms_tags %}
{% block title %}{{ title }}{% endblock title %}

{% block extra_css %}

<!-- select2 css -->
<link href="{% static 'libs/select2/dist/css/select2.min.css' %}" rel="stylesheet" type="text/css" />
<!-- datepicker css -->
<link rel="stylesheet" href="{% static 'libs/flatpickr/dist/flatpickr.min.css'%}">

{% endblock extra_css %}

{% block content %}
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Investigación - Candidatos</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                                <li class="breadcrumb-item active">Listado de solicitudes</li>
                                <li class="breadcrumb-item active">Detalle</li>
                                <li class="breadcrumb-item active">Formulario de referencias</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Creación de referencias comerciales  </h3>


                    <form action="" method="post">
                        {% csrf_token %}

                        {{referencia_extra}}

                        <br />

                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    {% for field in trayectoria_comercial_form.visible_fields %}
                                    <div class="col-md-6">
                                        {{field.label_tag}}
                                        {{field}}
                                        {{field.errors}}
                                    </div>
                                    {% endfor %}
                                </div>

                                <hr />

                                {{ trayectoria_comercial_referencia_formset.management_form }}
                                {% for form in trayectoria_comercial_referencia_formset %}
                                <h4>Referencia {{ forloop.counter }}</h4>
                                <div class="row">
                                    {% for field in form %}
                                    <div class="col-md-6">
                                        {% if field.name != 'id' %}
                                        {{field.label_tag}}
                                        {% endif %}
                                        {{field}}
                                        {{field.errors}}
                                    </div>
                                    {% endfor %}
                                </div>

                                {% if not is_usuario_contacto and form.instance.id %}
                                <div class="row">
                                    <div class="col-md-12">
                                        <br />
                                        <a href="{% url 'investigaciones:investigacion_persona_trayectoria_comercial_delete' investigacion.pk trayectoria_id form.instance.id %}"
                                            class="btn btn-danger btn_eliminar pull-right">Eliminar</a>
                                    </div>
                                </div>
                                {% endif %}
                                <hr />
                                {% endfor %}
                            </div>
                        </div>


                        <button type="submit" class="btn btn-success waves-effect btn-label waves-light"> <i
                                class="bx bx-save label-icon"></i>
                            Guardar trayectoria comercial</button>

                        <a href="{% url 'investigaciones:investigacion_detail' investigacion.pk %}"
                            class="btn btn-primary waves-effect btn-label waves-light"> <i
                                class="bx bx bx-arrow-back label-icon"></i>
                            Cancelar</a>

                    </form>
                   


                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->
        </div>
    </div>
    {% block footer %}
    {% include 'partials/footer.html' %}
    {% endblock footer %}
</div>
<!-- end main content-->
{% endblock content %}