{% extends 'partials/base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock title %}


{% block content %}

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Investigaciones - Entrevistas</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                                <li class="breadcrumb-item ">
                                    <a href="{% url 'investigaciones:investigaciones_list' %}">
                                        Ejecutivo de cuenta
                                    </a>
                                </li>
                                <li class="breadcrumb-item active">Detalle de adjuntos</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->


            <!--<div class="row" id="detalle_investigacions">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Detalle de investigación</h3>

                            <div class="row">

                                <div class="col-md-3">
                                    <strong>Tipo de investigación(es):</strong>
                                    {% for ti in investigacion.tipo_investigacion.all  %}
                                    {{ ti }}
                                    {% endfor %}
                                </div>

                                <div class="col-md-3">
                                    <strong>Cliente:</strong>
                                    {{ investigacion.compania }}
                                </div>

                                <div class="col-md-3">
                                    <strong>Sucursal:</strong>
                                    {{ investigacion.sucursal }}
                                </div>

                                <div class="col-md-3">
                                    <strong>Contacto:</strong>
                                    {{ investigacion.cliente_solicitud }}
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>-->



            <!--<div class="row" id="informacion_personal">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">
                                Información personal
                            </h3>

                            <div class="row">
                                <div class="col-md-3">
                                    <strong>NSS:</strong>
                                    {{ investigacion.candidato.nss}}
                                </div>
                                <div class="col-md-3">
                                    <strong>Nombre:</strong>
                                    {{ investigacion.candidato.nombre }}
                                </div>
                                <div class="col-md-3">
                                    <strong>Apellido:</strong>
                                    {{ investigacion.candidato.apellido }}
                                </div>
                                <div class="col-md-3">
                                    <strong>Teléfono móvil:</strong>
                                    {{ investigacion.cliente_solicitud_candidato.telefono_movil }}
                                </div>
                            </div>

                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <strong>Edad:</strong>
                                    {{ investigacion.candidato.edad }}
                                </div>
                                <div class="col-md-6">
                                    <strong>CURP:</strong>
                                    {{ investigacion.candidato.curp}}
                                </div>

                            </div>

                            <br>
                            <div class="row">
                                <div class="col-md-4">
                                    <strong>Puesto:</strong>
                                    {{ investigacion.puesto }}
                                </div>
                                <div class="col-md-4">
                                    <strong>Fecha recibido:</strong>
                                    {{ investigacion.fecha_recibido}}
                                </div>

                                <div class="col-md-4">
                                    <strong>Hora recibido:</strong>
                                    {{ investigacion.hora_recibido}}
                                </div>

                            </div>

                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <strong>Teléfonos</strong><br><br>
                                    {% for tel in telefonos  %}
                                    <strong>{{tel.categoria}}:</strong> {{tel.numero}}<br>
                                    {% empty %}
                                    No tiene teléfonos
                                    {% endfor %}


                                </div>

                            </div>


                        </div>
                    </div>
                </div>

            </div>-->


            <div class="row" id="bitacora">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Adjuntos</h3>

                            <form enctype="multipart/form-data" role="form" method="post" action="" id="form_attachments">
                                {% csrf_token %}
                               

                                <div class="row">
                                    <div class="text-danger">{{ adjuntos_form.non_field_errors }}</div>
                                    <div class="col-xs-4 col-xs-offset-1">
                                        {% for f in adjuntos_form %}
                                            {% if f.name == "adj8" or f.name == "adj25" or f.name == "adj26" or f.name == "adj27" or f.name == "adj28" or f.name == "adj7" or f.name == "adj36" or f.name == "adj18" or f.name == "adj37" or f.name == "adj40" or f.name == "adj41" or f.name == "adj42" or f.name == "adj43" %}
                                                <div class="text-danger">{{ f.errors }}</div>
                                                {{ f.label_tag }}<br />
                                                {{ f }}
                                                <hr />
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <div class="col-md-4">
                                        <button type="submit"
                                                    class="btn btn-primary form-control">Guardar</button>
                                    </div>
                                </div>

                            </form>

                        </div>
                    </div>
                </div><!-- end col -->




                <!--<div class="row" id="bitacora">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">Bitácora</h3>

                                <div class="row">

                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-hover"
                                                id="datatable">
                                                <thead>
                                                    <tr>
                                                        <th>Fecha</th>
                                                        <th>Usuario</th>
                                                        <th>Servicio</th>
                                                        <th>Observaciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for bitacora in bitacoras %}
                                                    <tr>
                                                        <td>{{ bitacora.datetime }}</td>
                                                        <td>{{ bitacora.user }}</td>
                                                        <td>{{ bitacora.servicio }}</td>
                                                        <td>{{ bitacora.observaciones }}</td>
                                                    </tr>

                                                    {% empty %}
                                                    <tr>
                                                        <td colspan="4">No hay bitacoras para esta investigación</td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>

                                            
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>-->
            </div>


            <a href="{% url 'investigaciones:investigaciones_ejecutivo_laboral_list' %}"
                class="btn btn-primary waves-effect btn-label waves-light"> <i class="bx bx-arrow-back label-icon"></i>
                Regresar al listado</a>

            <br /><br />


            {% block footer %}
            {% include 'partials/footer.html' %}
            {% endblock footer %}
        </div>
        <!-- end main content-->
        <input type="hidden" id="investigacion_id" value="{{ investigacion.pk }}">
        <input type="hidden" id="seccion_entrevista" value="{{ seccion_entrevista }}">

        {% endblock content %}


        {% block extra_js %}
        <script>
            $(document).ready(function () {
                $('[data-toggle="popover"]').popover();
            });


            const triggerTabList = document.querySelectorAll('#myTab button')
            triggerTabList.forEach(triggerEl => {
                const tabTrigger = new bootstrap.Tab(triggerEl)

                triggerEl.addEventListener('click', event => {
                    event.preventDefault()
                    tabTrigger.show()
                })
            })


            if ($('#seccion_entrevista').val() == 'info_personal') {
                const triggerEl = document.querySelector('#myTab button[data-bs-target="#info_personal"]')
                bootstrap.Tab.getInstance(triggerEl).show() // Select tab by name
            }


            if ($('#seccion_entrevista').val() == 'datos_generales') {
                const triggerEl = document.querySelector('#myTab button[data-bs-target="#datos_generales"]')
                bootstrap.Tab.getInstance(triggerEl).show() // Select tab by name
            }

            if ($('#seccion_entrevista').val() == 'salud') {
                const triggerEl = document.querySelector('#myTab button[data-bs-target="#salud"]')
                bootstrap.Tab.getInstance(triggerEl).show() // Select tab by name
            }

            if ($('#seccion_entrevista').val() == 'academica') {
                const triggerEl = document.querySelector('#myTab button[data-bs-target="#academica"]')
                bootstrap.Tab.getInstance(triggerEl).show() // Select tab by name
            }

            if ($('#seccion_entrevista').val() == 'vivienda') {
                const triggerEl = document.querySelector('#myTab button[data-bs-target="#vivienda"]')
                bootstrap.Tab.getInstance(triggerEl).show() // Select tab by name
            }

            if ($('#seccion_entrevista').val() == 'familia') {
                const triggerEl = document.querySelector('#myTab button[data-bs-target="#familia"]')
                bootstrap.Tab.getInstance(triggerEl).show() // Select tab by name
            }

            if ($('#seccion_entrevista').val() == 'inf_economica') {
                const triggerEl = document.querySelector('#myTab button[data-bs-target="#inf_economica"]')
                bootstrap.Tab.getInstance(triggerEl).show() // Select tab by name
            }

            if ($('#seccion_entrevista').val() == 'bienes') {
                const triggerEl = document.querySelector('#myTab button[data-bs-target="#bienes"]')
                bootstrap.Tab.getInstance(triggerEl).show() // Select tab by name
            }

            if ($('#seccion_entrevista').val() == 'evaluacion') {
                const triggerEl = document.querySelector('#myTab button[data-bs-target="#evaluacion"]')
                bootstrap.Tab.getInstance(triggerEl).show() // Select tab by name
            }

            // for redirecting to select tab

            $("#datos_generales-tab").click(function () {
                console.log('click')
                let inv_id = $('#investigacion_id').val();
                window.location.replace('/investigaciones/investigaciones/entrevistal/detail/datos_generales/' +
                    inv_id + '/');
            });


            $("#info_personal-tab").click(function () {
                console.log('click')
                let inv_id = $('#investigacion_id').val();
                window.location.replace('/investigaciones/investigaciones/entrevistal/detail/info_personal/' +
                    inv_id + '/');
            });

            $("#salud-tab").click(function () {
                console.log('click')
                let inv_id = $('#investigacion_id').val();
                window.location.replace('/investigaciones/investigaciones/entrevistal/detail/salud/' + inv_id +
                    '/');
            });

            $("#academica-tab").click(function () {
                console.log('click')
                let inv_id = $('#investigacion_id').val();
                window.location.replace('/investigaciones/investigaciones/entrevistal/detail/academica/' +
                    inv_id + '/');
            });

            $("#vivienda-tab").click(function () {
                console.log('click')
                let inv_id = $('#investigacion_id').val();
                window.location.replace('/investigaciones/investigaciones/entrevistal/detail/vivienda/' +
                    inv_id + '/');
            });

            $("#familia-tab").click(function () {
                console.log('click')
                let inv_id = $('#investigacion_id').val();
                window.location.replace('/investigaciones/investigaciones/entrevistal/detail/familia/' +
                    inv_id + '/');
            });

            $("#inf_economica-tab").click(function () {
                console.log('click')
                let inv_id = $('#investigacion_id').val();
                window.location.replace('/investigaciones/investigaciones/entrevistal/detail/inf_economica/' +
                    inv_id + '/');
            });

            $("#bienes-tab").click(function () {
                console.log('click')
                let inv_id = $('#investigacion_id').val();
                window.location.replace('/investigaciones/investigaciones/entrevistal/detail/bienes/' + inv_id +
                    '/');
            });

            $("#evaluacion-tab").click(function () {
                console.log('click')
                let inv_id = $('#investigacion_id').val();
                window.location.replace('/investigaciones/investigaciones/entrevistal/detail/evaluacion/' +
                    inv_id + '/');
            });
        </script>

        {% endblock extra_js %}