{% extends 'partials/base.html' %}
{% load static i18n %}


{% block content %}

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">

  <div class="page-content">
    <div class="container-fluid">

      <!-- start page title -->
      <div class="row">
        <div class="col-12">
          <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">Clientes</h4>

            <div class="page-title-right">
              <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                <li class="breadcrumb-item active">Listado de mensajes del sistema</li>
                <li class="breadcrumb-item active">Detalle del mensaje</li>
              </ol>
            </div>

          </div>
        </div>
      </div>
      <!-- end page title -->

      <div class="row">
        <div class="col-12">

          <div class="card">
            <div class="card-body">

              <h5>Mensaje:</h5>

              <!-- start: FROM -->
              <form action="" method="post">{% csrf_token %}

                <table class="table table-bordered">

                  <tr>
                    <td>Título</td>
                    <td>{{object.title}}</td>
                  </tr>
                  <tr>
                    <td>Mensaje</td>
                    <td>{{object.message}}</td>
                  </tr>


                  {% comment %} {% if object.link %}
                  <tr>
                    <td>View</td>
                    <td><a href="{{object.link}}"> detail </a></td>
                  </tr>
                  {% endif %} {% endcomment %}

                </table>

                <br><br>
                <div class="control-group">
                  <div class="controls">

                    <!--<a href="" onclick="document.forms[0].submit();return false;" 
                    class="btn btn-danger waves-effect btn-label waves-light"> <i class="bx bx-trash-alt label-icon"></i>
                     Borrar</a>-->

                    <a href="{% url 'core:user_messages_list' %}" 
                    class="btn btn-success waves-effect btn-label waves-light"> <i class="bx bx-arrow-back label-icon"></i>
                      {% trans 'Back' %}</a>

                  </div>

                </div>

            </div>
            </form>
            <!-- end: FROM -->
          </div>

        </div>
      </div> <!-- end col -->
    </div> <!-- end row -->

  </div> <!-- container-fluid -->

  <!-- End Page-content -->

  {% block footer %}
  {% include 'partials/footer.html' %}
  {% endblock footer %}
</div>
<!-- end main content-->
{% endblock content %}