{% extends 'partials/base.html' %}
{% load static i18n %}


{% block content %}

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Clientes</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                                <li class="breadcrumb-item active">Listado del sistema</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-12">

                    <div class="card">
                        <div class="card-body">

                            <h5>Mensajes del sistema</h5>

                            <div class="table-responsive">
                                <table class="table table-striped mb-0">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Mensaje</th>
                                            <th>Leido</th>
                                            <th>Fecha</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for p in user_messages %}
                                        <tr>
                                            <td>
                                                <a
                                                    href="{% url 'core:user_messages_delete_list' p.pk %}"
                                                    class="btn btn-soft-primary waves-effect waves-light">
                                                    <i class="bx bx-edit font-size-16 align-middle"></i>
                                                </a>
                                            </td>
                                            <td>{{ p.title }}</td>
                                            <td>
                                                {% if p.unread %}
                                                <i data-feather="mail"></i>
                                                {% else %}
                                                <i data-feather="check"></i>
                                                {% endif %}
                                            </td>

                                            <td>{{ p.created_at }}</td>
                                        </tr>

                                        {% empty %}
                                        <tr>
                                            <td colspan="4"> Message no found</td>
                                        </tr>

                                        {% endfor %}
                                    </tbody>
                                </table>

                            </div>

                            {% comment %}
                            {% include "_pagination.html" %}
                            {% endcomment %}
   
                    </div>
                </div> <!-- end col -->
            </div> <!-- end row -->

        </div> <!-- container-fluid -->
    </div>
    <!-- End Page-content -->

    {% block footer %}
    {% include 'partials/footer.html' %}
    {% endblock footer %}
</div>
<!-- end main content-->
{% endblock content %}