{% extends 'layout/base.html' %}

{% block side_content %}
<div class="row">
	<div class="col-md-12">
		<div id="msg" class="alert alert-{{status}}">{{msg}}</div>
	</div>
</div>
{% endblock %}

{% block site_wrapper %}
<div ng-controller="CandidatoNuevaInvCTRL">
	
	<h3>Nueva Investigación <small>Candidato existente</small></h3>
	<div id="info-candidato">

	</div>
	<hr>
	<h4>Datos generales</h4>
	<div class="row">
		<div class="col-md-6">
			<dl class="dl-horizontal">
				<dt>Nombre</dt>
				<dd>{{ candidato.nombre }}</dd>
				{% if candidato.edad %}
					<dt>EDAD</dt>
					<dd>{{ candidato.edad }}</dd>
				{% endif %}
				{% if candidato.nss %}
					<dt>NSS</dt>
					<dd>{{ candidato.nss }}</dd>
				{% endif %}
				{% if candidato.curp %}
					<dt>CURP</dt>
					<dd>{{ candidato.curp }}</dd>
				{% endif %}
				{% if candidato.email %}
					<dt>E-MAIL</dt>
					<dd>{{ candidato.email }}</dd>
				{% endif %}
			</dl>
		</div>
		<div class="col-md-6">
		</div>
	</div>
	<hr>
	<form role="form" action="#" method="post" id="form_candidato_crear">
		{% csrf_token %}
		<input type="hidden" name="action" id="action"/>
		<div class="tab-content">
			<div class="tab-pane active" id="info-personal">	
				<div class="row">
					<div class="col-md-3">
						<label for="id_investigacion-fecha_recibido">Fecha recibido</label>
						{{ formInvestigacion.fecha_recibido }}
						{{ formInvestigacion.fecha_recibido.errors }}
					</div>
					<!-- <div class="col-md-3">
						<label for="id_investigacion-compania">Cliente (en formInvestigacion)</label>
						{{ formInvestigacion.compania }}
						{{ formInvestigacion.compania.errors }}
					</div> -->
					<div ng-click="open_empresa_modal()" class="col-md-3">
					    <label for="id_investigacion-compania">Cliente (Empresa)</label>
						<!-- {{ formInvestigacion.compania }} -->
						<input id="id_investigacion-compania" name="investigacion-compania" type="hidden" value="{[{compania}]}">
						<div class="input-group">
							<input id="id_investigacion-compania-nombre" name="investigacion-compania-nombre" placeholder="Empresa" readonly="readonly" ng-model="compania_nombre" type="text" class="form-control">
							<span class="input-group-addon glyphicon glyphicon-search"></span>
						</div>
						{{ formInvestigacion.compania.errors }}
					</div>
					<div class="col-md-3">
						<label for="id_companiacliente-contacto">Quién envia *</label>
							<select class="form-control" id="id_investigacion-contacto" name="investigacion-contacto" 
							ng-model="contacto" >
								<option value="">---------</option>
								<option ng-repeat="contacto in contacto_data" value="{[{ contacto.id }]}">{[{ contacto.nombre }]}</option>
							</select>
						{{ formInvestigacion.contacto.errors }}
					</div>
					<div class="col-md-3">
						<label for="id_investigacion-puesto">Puesto *</label>
						{{ formInvestigacion.puesto }}
						{{ formInvestigacion.puesto.errors }}
					</div>
				</div>
				<br />
				<div class="row">
					<div class="col-md-3">
						<label for="id_investigacion-ciudad">Estatus candidato *</label>
						{{ formInvestigacion.status }}
						{{ formInvestigacion.status.errors }}
					</div>
					<div class="col-md-6">
						<label for="id_investigacion-observaciones">Observaciones candidato</label>
						{{ formInvestigacion.observaciones }}
						{{ formInvestigacion.observaciones.errors }}
					</div>
					<div class="col-md-3">
						<label for="id_investigacion-agente">Agente *</label> <br />
						{{ formInvestigacion.agente }}
						{{ formInvestigacion.agente.errors }}
					</div>
				</div>
				<br />
				<div class="row">
					<div class="col-md-3 col-md-offset-3">
						<button name="guardar_empezar_inv" type="submit" class="btn btn-default form-control">Guardar y cargar investigación</button><br /><br />
					</div>
					<div class="col-md-3">
						<button name="guardar_solo" type="submit" class="btn btn-default form-control" >Solo guardar</button><br /><br />
					</div>
					<div class="col-md-3">
						<button name="guardar_crear_otro" type="submit" class="btn btn-primary form-control">Guardar y crear otro candidato</button>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-md-offset-9">
						<button name="cancelar" type="submit" class="btn btn-danger form-control">Cancelar</button>
					</div>
				</div>
			</div>
		</div>
	</form>
<!-- Modal -->
{% include 'sections/candidato/seccion/empresa_select_forma_modal.html' %}
	
</div>


{% endblock %}

{% block extra_javascript %}

{% endblock %}