<!--begin:: Modal-->
<div id="modal-resultados" class="modal fade" tabindex="-1" aria-labelledby="exampleModalFullscreenLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalFullscreenLabel">Evaluación de resultados, conclusiones y observaciones</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="formResultados" action="/investigaciones/investigaciones/detail/{{ investigacion.pk }}/" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="action" value="form-resultado">
                <div class="modal-body">
                    <div id='modal_title' name="modal_title"></div>
                    <br>
                    <div id='modal_content'>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="">Resultados</label>
                                {{ formInvestigacionResultado.resultado }}
                            </div>
                            <div class="col-md-12">
                                <label for="">Conclusiones</label>
                                {{ formInvestigacionResultado.conclusiones }}
                            </div>
                            <div class="col-md-12 col-md-offset-1">
                                <label for="">Observaciones</label>
                                {{ formInvestigacionResultado.observaciones }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success waves-effect" id="btnSaveResultados" onclick="btnSendResultados();">Guardar</button>
                    <button type="button" class="btn btn-secondary waves-effect" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--end:: Modal-->

<script>
    var openModalResultados = () => {
        $('#modal-resultados').modal('show');
    }
    var btnSendResultados = () => {
        $("#btnSaveResultados").attr('disabled', true);
        $("#btnSaveResultados").html('Guardando...');
        $("#formResultados").submit()
    }


</script>