{% extends 'partials/base.html' %}
{% load static crispy_forms_tags %}
{% block title %}{{ title }}{% endblock title %}

{% block extra_css %}

<!-- select2 css -->
<link href="{% static 'libs/select2/dist/css/select2.min.css' %}" rel="stylesheet" type="text/css" />
<!-- datepicker css -->
<link rel="stylesheet" href="{% static 'libs/flatpickr/dist/flatpickr.min.css'%}">

{% endblock extra_css %}

{% block content %}
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Investigación - Edición de datos del candidato</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                                <li class="breadcrumb-item active">Listado de solicitudes</li>
                                <li class="breadcrumb-item active">Detalle</li>
                                <li class="breadcrumb-item active">Formulario candidato</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->

            {% include 'investigaciones/personas/informacion_personal.html' %}

          
            <!-- end col -->
        </div>
        <!-- end row -->


    </div> <!-- container-fluid -->
</div>
<!-- End Page-content -->
{% block footer %}
{% include 'partials/footer.html' %}
{% endblock footer %}
</div>
<!-- end main content-->
{% endblock content %}

{% block extra_js %}
<script src="{% static 'libs/select2/dist/js/select2.min.js'%}"></script>
<script src="{% static 'libs/flatpickr/dist/flatpickr.min.js'%}"></script>

<script>
    $(document).ready(function () {
        $('#id_agente').select2();
        $('#id_contacto').select2();
        flatpickr("#id_fecha_recibido", {
            defaultDate: new Date
        });
        flatpickr("#id_hora_recibido", {
            enableTime: !0,
            noCalendar: !0,
            dateFormat: "H:i",
            defaultDate: new Date
        });

        $('#id_investigacion-fecha_recibido').prop("readonly", true);
        $('#id_investigacion-hora_recibido').prop("readonly", true);

    });
</script>
{% endblock extra_js %}