{% extends 'partials/base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock title %}

{% block extra_css %}
    <!-- Sweet Alert-->
    <link href="{% static 'libs/sweetalert2/dist/sweetalert2.min.css' %}" rel="stylesheet" type="text/css"/>
{% endblock extra_css %}

{% block content %}

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <!-- BEGIG MODAL INCLUDE -->
    {% include 'investigaciones/investigacion_detail_modal.html' %}
    <!-- END MODAL INCLUDE -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0 font-size-18">Investigaciones</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                                    <li class="breadcrumb-item ">
                                        <a href="{% url 'investigaciones:investigaciones_list' %}">
                                            Coord. Atn. Ctes
                                        </a>
                                    </li>
                                    <li class="breadcrumb-item active">Detalles</li>
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end page title -->


                <div class="row" id="detalle_investigacions">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">Coordinación de atención al cliente - Detalle</h3>
                                <br>

                                <div class="row">

                                    <div class="col-md-3">
                                        <strong>Tipo de investigación(es):</strong>
                                        {% for ti in investigacion.tipo_investigacion.all %}
                                            {{ ti }}
                                        {% endfor %}
                                    </div>

                                    <div class="col-md-3">
                                        <strong>Cliente:</strong>
                                        {{ investigacion.compania }}
                                    </div>

                                    <div class="col-md-3">
                                        <strong>Sucursal:</strong>
                                        {{ investigacion.sucursal }}
                                    </div>

                                    <div class="col-md-3">
                                        <strong>Contacto:</strong>
                                        {{ investigacion.cliente_solicitud }}
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div><!-- end col -->

                </div>

                <div class="row" id="candidato">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">


                                    {% if investigacion.candidato_validado %}

                                        <button type="button" class="btn btn-soft-success waves-effect waves-light"><i
                                                class="bx bx-check-double font-size-16 align-middle"></i></button>

                                    {% else %}

                                        <button type="button" class="btn btn-soft-danger waves-effect waves-light"
                                                data-bs-toggle="popover" title="Data incompleta"
                                                data-bs-content="Se debe completar los datos del candidato, "><i
                                                class="bx bx-block font-size-16 align-middle"></i></button>

                                    {% endif %}

                                    Datos del candidato

                                </h3>

                                <div class="row">
                                    <div class="col-md-3">
                                        <strong>Nombres:</strong>
                                        {{ investigacion.candidato.nombre }} {{ investigacion.candidato.apellido }}
                                    </div>
                                    <div class="col-md-3">
                                        <strong>NSS:</strong>
                                        {{ investigacion.candidato.nss }}
                                    </div>
                                    <div class="col-md-3">
                                        <strong>Teléfono móvil:</strong>
                                        {{ investigacion.cliente_solicitud_candidato.telefono_movil }}
                                    </div>
                                    <div class="col-md-3">
                                        <strong>CURP:</strong>
                                        {{ investigacion.candidato.curp }}
                                    </div>

                                </div>

                                <br>
                                {% if archivo_adjunto %}
                                    <a href="../../../../media/{{ archivo_adjunto }}" target="_blank" class="btn btn-warning waves-effect btn-label waves-light">
                                        <i class="bx bx-download label-icon"></i>
                                        Descargar archivo
                                    </a>
                                {% else %}
                                    Sin archivo adjunto
                                {% endif %}

                                <br><br>


                                <a href="{% url 'investigaciones:investigacion_candidato_edit' investigacion.id %}"
                                   class="btn btn-primary waves-effect btn-label waves-light">
                                    <i class="bx bx-edit label-icon"></i>
                                    Editar datos del candidato
                                </a>

                            </div>
                        </div>
                    </div><!-- end col -->

                </div>

                <!--  laboral -->
                <div class="row" id="demanadas_laborales">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">

                                    <!-- <button type="button" class="btn btn-soft-success waves-effect waves-light"><i class="bx bx-check-double font-size-16 align-middle"></i></button> -->
                                    <button type="button" class="btn {% if investigacion.laboral_completado %}btn-soft-success {% else %}btn-soft-danger  {% endif %} waves-effect waves-light"
                                            data-bs-toggle="popover" title="Data incompleta"
                                            data-bs-content="Se debe agragar al menos una investigacion laboral "><i
                                            class="bx {% if investigacion.laboral_completado %}bx-check-double {% else %}bx-block {% endif %} font-size-16 align-middle"></i></button>
                                    Investigación Laboral

                                </h3>

                                <br/>

                                <h5>Empresas investigadas</h5>

                                <div class="table-rep-plugin">
                                    <div class="table-responsive mb-0" data-pattern="priority-columns">

                                        <table class="table table-striped table-bordered table-hover table-sm">

                                            <thead>
                                            <tr>
                                                <th>Acciones</th>
                                                <th>Empresa</th>
                                                <th>Fecha de Ingreso</th>
                                                <th>Fecha de Egreso</th>
                                                <th>Puesto</th>
                                                <th>Motivo de baja</th>
                                                <th>Terminada</th>
                                                <th>Visible en Estatus</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for tl in tajectorias_laborales %}
                                                <tr>
                                                    <td style="text-align: center;">
                                                        <a href="{% url 'investigaciones:investigacion_persona_trayectoria_laboral_edit' investigacion.id tl.pk %}"
                                                           class="btn btn-soft-primary waves-effect waves-light can-hide"><i
                                                                class="bx bx-edit font-size-16 align-middle"></i>
                                                        </a>
                                                        <a href="{% url 'investigaciones:investigaciones_persona_trayectoria_laboral_delete' investigacion.id tl.pk %}"
                                                           onclick="confirmation(event)"
                                                           class="btn btn-soft-danger waves-effect waves-light can-hide"><i
                                                                class="bx bx-trash font-size-16 align-middle"></i>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        {{ tl.compania.nombre }} <br/>
                                                        <small>{{ tl.observaciones_generales|lower }}</small>
                                                    </td>
                                                    <td class="{% if not tl.periodo_alta %}text-danger{% endif %}">
                                                        {% if tl.periodo_alta %}
                                                            {{ tl.periodo_alta }}
                                                        {% else %}
                                                            <b>Sin Dato</b>
                                                        {% endif %}
                                                    </td>
                                                    <td class="{% if not tl.periodo_baja %}text-danger{% endif %}">
                                                        {% if tl.periodo_baja %}
                                                            {{ tl.periodo_baja }}
                                                        {% else %}
                                                            <b>Sin Dato</b>
                                                        {% endif %}
                                                    </td>
                                                    <td>{{ tl.puesto_final }}</td>
                                                    <td>{{ tl.datosgenerales.motivo_salida|default:'' }}</td>


                                                    <td class="text-center">
                                                        <i
                                                                class="fa fa-{% if tl.terminada %}check{% else %}times{% endif %}"></i>
                                                    </td>
                                                    <td class="text-center">
                                                        <i
                                                                class="fa fa-{% if tl.visible_en_status %}check{% else %}times{% endif %}"></i>
                                                    </td>

                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                {% if not investigacion.laboral_completado %}
                                    <a href="{% url 'investigaciones:investigacion_persona_trayectoria_laboral_create' investigacion.id %}"
                                       class="btn btn-primary waves-effect btn-label waves-light">
                                        <i class="bx bx-plus label-icon"></i>
                                        Agregar datos de investigación laboral
                                    </a>
                                    <button type="button" class="btn btn-success waves-effect btn-label waves-light" id="completar-inv-laboral-pregunta">
                                        <i class="bx bx-check label-icon"></i> Completar Investigación Laboral
                                    </button>
                                {% else %}
                                    <input type="hidden" id="completar-inv-laboral-pregunta" value="1">
                                    <h5>La investigación está completada</h5>
                                    <hr>
                                    <h5>Resultados</h5>
                                    {{ investigacion.get_resultado_display }}<br><br>
                                    <h5>Conclusiones</h5>
                                    {{ investigacion.conclusiones | default_if_none:'' }}<br><br>
                                    <h5>Observaciones</h5>
                                    {{ investigacion.observaciones | default_if_none:'' }}<br><br>
                                    <a href="javascript:void(0);"
                                       onclick="openModalResultados()"
                                       class="btn btn-success waves-effect btn-label waves-light">
                                        <i class="bx bx-edit label-icon"></i>
                                        Resultados, conclusiones y observaciones
                                    </a>
                                    <hr>
                                    <a href="/candidato/investigacion/exportar/reporte-laboral/{{ investigacion.id }}"
                                       target="_blank"
                                       class="btn btn-primary waves-effect btn-label waves-light">
                                        <i class="bx bx-plus label-icon"></i>
                                        Reporte de investigación Laboral
                                    </a>

                                {% endif %}

                                <br/><br/>

                                <h5>Referencias Comerciales</h5>

                                <table class="table table-striped table-bordered table-hover table-sm">
                                    <thead>
                                    <tr>
                                        <th>Tipo de Negocio</th>

                                        <th>Acciones</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for referencia in tajectorias_comerciales %}
                                        <tr>
                                            <td>{{ referencia.tipo_negocio }}</td>
                                            <td>
                                                <a href="{% url 'investigaciones:investigacion_persona_trayectoria_comercial_create' investigacion.id referencia.id %}"
                                                   class="btn btn-primary waves-effect btn-label waves-light can-hide">
                                                    <i class="bx bx-edit label-icon"></i>
                                                    Editar
                                                </a>
                                            </td>
                                        </tr>
                                    {% empty %}
                                        <tr>
                                            <td colspan="2">No hay registros</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                                <a href="{% url 'investigaciones:investigacion_persona_trayectoria_comercial_create' investigacion.id 0 %}"
                                   class="btn btn-primary waves-effect btn-label waves-light can-hide">
                                    <i class="bx bx-plus label-icon"></i>
                                    Agregar referencia Laboral</a>


                                {% comment %}
                            <br />
                            <br />
                            Observaciones de Estatus de Inv. Laboral (visible en conclusión pdf)
                            {% endcomment %}

                                <br/><br/>
                                <!-- <a href="{% url 'investigaciones:investigacion_persona_trayectoria_laboral_create' investigacion.id %}"
                                class="btn btn-primary waves-effect waves-light">
                                <i class="bx bx-plus font-size-16 align-middle me-2"></i>
                                Completar la investigación laboral
                            </a> -->

                            </div>
                        </div>
                    </div><!-- end col -->
                </div>
                <div class="row" id="asignacion_coordinadores">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">Asignación de coordinadores</h3>
                                <div class="row">

                                    <div class="col-md-12">

                                        <br/>
                                        <strong>Ejecutivo de cuentas:</strong><br>
                                        {% if investigacion.ejecutivo_de_cuentas %}
                                            {{ investigacion.ejecutivo_de_cuentas }}
                                            <br>

                                            <a href="{% url 'investigaciones:investigaciones_coord_de_visitas_eject_venta_update' investigacion.id %}"
                                               class="btn btn-primary waves-effect btn-label waves-light">
                                                <i class="bx bx-edit label-icon"></i>
                                                Editar ejecutivo de cuentas
                                            </a>

                                        {% else %}
                                            <span class="text-danger">No asignado</span><br>
                                            <a href="{% url 'investigaciones:investigaciones_coord_de_visitas_eject_venta_update' investigacion.id %}"
                                               class="btn btn-primary waves-effect btn-label waves-light">
                                                <i class="bx bx-edit label-icon"></i>
                                                Asignar ejecutivo de cuenta
                                            </a>
                                        {% endif %}

                                        <br>

                                        {% if investigacion.entrevista %}
                                            <br/>
                                            <strong>Coordinador de Visitas:</strong><br>
                                            {% if investigacion.coordinador_visitas %}
                                                {{ investigacion.coordinador_visitas }}
                                                <br>

                                                <a href="{% url 'investigaciones:investigaciones_coordinador_ejecutivo_update_coord_visita' investigacion.id %}"
                                                   class="btn btn-primary waves-effect btn-label waves-light">
                                                    <i class="bx bx-edit label-icon"></i>
                                                    Editar coordinador de visita
                                                </a>

                                            {% else %}
                                                <span class="text-danger">No asignado</span><br>
                                                <a href="{% url 'investigaciones:investigaciones_coordinador_ejecutivo_update_coord_visita' investigacion.id %}"
                                                   class="btn btn-primary waves-effect btn-label waves-light">
                                                    <i class="bx bx-edit label-icon"></i>
                                                    Asignar Coordinador de Visita
                                                </a>
                                            {% endif %}

                                            <br>
                                            <br>
                                        {% endif %}

                                        {% if investigacion.psicometrico %}

                                            <strong>Coordinador de psicometrico</strong><br>

                                            {% if investigacion.coordinador_psicometrico %}
                                                {{ investigacion.coordinador_psicometrico }}
                                                <br>

                                                <a href="{% url 'investigaciones:investigaciones_coordinador_ejecutivo_update_coord_psicometrico' investigacion.id %}"
                                                   class="btn btn-primary waves-effect btn-label waves-light">
                                                    <i class="bx bx-edit label-icon"></i>
                                                    Editar coordinador de psicometría
                                                </a>

                                            {% else %}
                                                <span class="text-danger">No asignado</span><br>
                                                <a href="{% url 'investigaciones:investigaciones_coordinador_ejecutivo_update_coord_psicometrico' investigacion.id %}"
                                                   class="btn btn-primary waves-effect btn-label waves-light">
                                                    <i class="bx bx-edit label-icon"></i>
                                                    Asignar Coordinador de psicometría
                                                </a>
                                            {% endif %}
                                        {% endif %}

                                        <br>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div><!-- end col -->

                </div>


                {% comment %}
            <div class="row" id="demandas_laborales">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Demandas laborales</h3>

                            <div class="row">

                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered table-hover" id="datatable">
                                            <thead>
                                                <tr>
                                                    <th>Demanda Laboral</th>
                                                    <th>Empresa</th>
                                                    <th>Motivo</th>
                                                    <th>Ubicacion</th>
                                                    <th>Fecha</th>
                                                    <th>Audencia</th>
                                                    <th>Conclusión</th>
                                                    <th>Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for demanda in demandas %}
                                                <tr>
                                                    <td>
                                                        
                                                        {% if demanda.tiene_demanda == 0 %}
                                                            No
                                                        {% elif demanda.tiene_demanda == 1 %}
                                                            Si
                                                        {% endif %}
                                                    </td>
                                                    <td>{{ demanda.empresa }}</td>
                                                    <td>{{ demanda.motivo }}</td>
                                                    <td>{{ demanda.ubicacion }}</td>
                                                    <td>{{ demanda.fecha }}</td>
                                                    <td>{{ demanda.audiencias }}</td>
                                                    <td>{{ demanda.conclusion }}</td>
                                                    <td>
                                                        <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">'
                                                            <a class="btn btn-primary" href="{% url 'investigaciones:investigaciones_demanada_update' investigacion.id demanda.pk %}" ><i class="bx bx-edit-alt font-size-16 align-middle"></i></a>
                                                            <a class="btn btn-danger"  href="{% url 'investigaciones:investigaciones_demanada_delete' investigacion.id demanda.pk  %}"  ><i class="bx bx bx-trash font-size-16 align-middle"></i></a>
                                                        </div>
                                        
                                                    </td>
                                                </tr>

                                                {% empty %}
                                                <tr>
                                                    <td colspan="4">No existen demandas laborales para esta investigación</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>

                                        <a href="{% url 'investigaciones:investigaciones_demanada_create' investigacion.id %}"
                                            class="btn btn-primary waves-effect btn-label waves-light">
                                            <i class="bx bx-plus label-icon"></i>
                                            Agregar demanda laboral</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div><!-- end col -->

            

            </div>
            {% endcomment %}


                {% if psicometrico %}

                    <div class="row" id="investigacion_psicometric">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <h3 class="card-title">

                                        Investigación psicométrica

                                    </h3>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <strong>Ejecutivo psicometrico:</strong>
                                            {{ psicometrico_data.user }}
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <strong>Fecha de asignación:</strong>
                                            {{ psicometrico_data.created }}
                                        </div>
                                        <div class="col-md-3">
                                            <strong>Última modificación:</strong>
                                            {{ psicometrico_data.modificated }}
                                        </div>
                                        <div class="col-md-3">
                                            <strong>Completado:</strong>
                                            <i
                                                    class="fa fa-{% if psicometrico_data.completado %}check{% else %}times{% endif %}"></i>
                                        </div>
                                    </div>

                                    {% if psicometrico_data.completado %}

                                        <br>
                                        <div class="row">
                                            <div class="col-md-10">
                                                <strong>Observaciones:</strong>
                                                {{ psicometrico_data.observaciones }}
                                            </div>
                                            <div class="col-md-12">
                                                <br>
                                                <strong>Archivo:</strong>
                                                <br>

                                                {% if  psicometrico_data.archivo %}
                                                    <a href="/media/{{ psicometrico_data.archivo }}"
                                                       class="btn btn-primary waves-effect waves-light">
                                                        <i class="bx bx-download font-size-16 align-middle me-2"></i>
                                                        Descargar
                                                    </a>
                                                {% else %}
                                                    Informe no contiene archivo
                                                {% endif %}
                                            </div>
                                        </div>

                                    {% endif %}

                                </div>
                            </div>
                        </div><!-- end col -->

                    </div>

                {% endif %}

                <div class="row" id="estado_investigacion">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">Estado de la Investigación</h3>


                                <div class="row">

                                    <div class="col-md-12">

                                        Datos del candidato verificados:

                                        {% if investigacion.candidato_validado %}
                                            <i class="fa fa-check"></i>
                                        {% else %}
                                            <i class="fa fa-times"></i>
                                        {% endif %}
                                        <br>
                                        <br>

                                        <strong>Asignación de Coordinadores:</strong><br>

                                        {% if investigacion.psicometrico %}

                                            Coordinador de psicométrico
                                            {% if investigacion.coord_psicometrico_asignadado %}
                                                <i class="fa fa-check"></i>
                                            {% else %}
                                                <i class="fa fa-times"></i>
                                            {% endif %}

                                        {% endif %}

                                        {% if investigacion.entrevista %}
                                            Coordinador de visitas
                                            {% if investigacion.coord_visitas_asignado %}
                                                <i class="fa fa-check"></i>
                                            {% else %}
                                                <i class="fa fa-times"></i>
                                            {% endif %}

                                            <br>
                                            <br>

                                        {% endif %}

                                        {% if investigacion.entrevista %}
                                            <strong>Entrevista:</strong><br>

                                            Asignación de visita domiciliaria
                                            {% if investigacion.entrevista_asignacion_visita_domiciliaria %}
                                                <i class="fa fa-check"></i>
                                            {% else %}
                                                <i class="fa fa-times"></i>
                                            {% endif %}


                                            Formulario de entrevista:

                                            {% if investigacion.entrevista_from_completado %}
                                                <i class="fa fa-check"></i>
                                            {% else %}
                                                <i class="fa fa-times"></i>
                                            {% endif %}


                                            Archivos de entrevista:
                                            {% if investigacion.entrevista_app_completado %}
                                                <i class="fa fa-check"></i>
                                            {% else %}
                                                <i class="fa fa-times"></i>
                                            {% endif %}


                                        {% endif %}

                                        <br><br>

                                        {% if investigacion.laboral %}
                                            <strong>Investigación laboral:</strong><br>

                                            Investigación laboral:

                                            {% if investigacion.laboral_completado %}
                                                <i class="fa fa-check"></i>
                                            {% else %}
                                                <i class="fa fa-times"></i>
                                            {% endif %}

                                        {% endif %}

                                        <br><br>

                                        {% if investigacion.psicometrico %}
                                            <strong>Investigación Psicométrica:</strong><br>

                                            Datos psicométrico completados:

                                            {% if investigacion.psicometrico_completado %}
                                                <i class="fa fa-check"></i>
                                            {% else %}
                                                <i class="fa fa-times"></i>
                                            {% endif %}

                                        {% endif %}

                                    </div>
                                </div>
                                <br>
                                {% comment %}
                                {% if investigacion.entrevista_from_completado %}
                                {% endcomment %}
                                    {% if not investigacion.investigacion_completada %}
                                        <button type="button" class="btn btn-success waves-effect btn-label waves-light" id="completar-inv-pregunta">
                                            <i class="bx bx-check label-icon"></i> Completar Investigación
                                        </button>
                                    {% else %}
                                        <h5>La investigación ha sido completada</h5>

                                        <br>
                                        <br>
                                        <h5>Resultados</h5>
                                        {{ investigacion.get_resultado_display }}<br>
                                        <h5>Conclusiones</h5>
                                        {{ investigacion.conclusiones }}<br>
                                        <h5>Observaciones</h5>
                                        {{ investigacion.observaciones }}<br>



                                        <a href="{% url 'investigaciones:investigacion_cerrar' investigacion.pk %}"
                                           class="btn btn-success waves-effect waves-light">
                                            <i class="bx bx-check font-size-16 align-middle me-2"></i>
                                            Cerrar Investigación
                                        </a>

                                        <a href="{% url 'print_reporte_socioeconomico' investigacion.pk %}"
                                           target="_blank"
                                           class="btn btn-success waves-effect waves-light">
                                            <i class="bx bx-check font-size-16 align-middle me-2"></i>
                                            Descargar Excel
                                        </a>

                                    {% endif %}
                                    {% comment %}
                                {% endif %}
                                    {% endcomment %}

                            </div>
                        </div>
                    </div><!-- end col -->

                </div>

                <div class="row" id="bitacora">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">Bitácora</h3>

                                <div class="row">

                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-hover" id="datatable">
                                                <thead>
                                                <tr>
                                                    <th>Fecha</th>
                                                    <th>Usuario</th>
                                                    <th>Servicio</th>
                                                    <th>Observaciones</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for bitacora in bitacoras %}
                                                    <tr>
                                                        <td>{{ bitacora.datetime }}</td>
                                                        <td>{{ bitacora.user }}</td>
                                                        <td>{{ bitacora.servicio }}</td>
                                                        <td>{{ bitacora.observaciones }}</td>
                                                    </tr>

                                                {% empty %}
                                                    <tr>
                                                        <td colspan="4">No hay bitacoras para esta investigación</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>

                                            <a href="{% url 'investigaciones:investigaciones_bitacora_create' investigacion.id 'coord_serv_cliente' %}"
                                               class="btn btn-primary waves-effect btn-label waves-light">
                                                <i class="bx bx-plus label-icon"></i>
                                                Agregar bitácora</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div><!-- end col -->

                </div>


                <a href="{% url 'investigaciones:investigaciones_list' %}"
                   class="btn btn-primary waves-effect btn-label waves-light"> <i class="bx bx-arrow-back label-icon"></i>
                    Regresar al listado</a>

                <br/><br/>


            </div> <!-- container-fluid -->
        </div>
        <!-- End Page-content -->


        {% block footer %}
            {% include 'partials/footer.html' %}
        {% endblock footer %}
    </div>
    <!-- end main content-->

    <input type="hidden" id="investigacion_id" name="investigacion_id" value="{{ investigacion.pk }}">
{% endblock content %}

{% block extra_js %}

    <!-- Sweet Alerts js -->
    <script src="{% static 'libs/sweetalert2/dist/sweetalert2.min.js' %}"></script>

    <!-- Sweet alert init js-->
    <script src="{% static 'js/system/sweetalert.investigaciones.detail.init.js' %}"></script>

    <script>
        $(document).ready(function () {
            investigacion_id = $('#investigacion_id').val();
            $('[data-toggle="popover"]').popover();
        });
    </script>

{% endblock extra_js %}