@page {
  margin: 0;
}
/* line 8, ../sass/print.sass */
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  -webkit-print-color-adjust: exact !important;
}

/* line 14, ../sass/print.sass */
.page-break {
  display: block;
  page-break-before: always;
}

/* line 18, ../sass/print.sass */
.clear-fix {
  clear: both;
}

/* line 21, ../sass/print.sass */
.background-1 {
  border: solid 20px #8A0000;
  height: calc(100% - 85px);
  padding: 15px 15px 30px 15px;
}
/* line 26, ../sass/print.sass */
.background-1 .background-2 {
  height: 100%;
}

/* line 29, ../sass/print.sass */
.background-2 {
  border: solid 10px #8A0000;
  height: calc(100% - 20px);
  padding: 0px 10px 0 10px;
  position: relative;
}

/* line 35, ../sass/print.sass */
.header {
  border-bottom: 3px solid black;
  position: relative;
}
/* line 39, ../sass/print.sass */
.header h1 {
  text-transform: uppercase;
  margin: 10px 0;
}
/* line 43, ../sass/print.sass */
.header img {
  position: absolute;
  bottom: 5px;
  right: 0;
}

/* line 48, ../sass/print.sass */
.footer {
  position: absolute;
  bottom: 0px;
  right: 20px;
  font-size: 0.9em;
  text-align: right;
  width: calc(100% - 40px);
}
/* line 56, ../sass/print.sass */
.footer p {
  font-style: italic;
}
/* line 59, ../sass/print.sass */
.footer strong {
  font-style: normal;
}
/* line 62, ../sass/print.sass */
.footer .agent {
  border: 2px solid #8A0000;
  border-radius: 10px;
  background: #DDD;
  display: inline-block;
  padding: 5px 50px;
}
/* line 69, ../sass/print.sass */
.footer hr {
  background: black;
  height: 3px;
  margin: 10px 0 0 0;
  display: block;
}
/* line 75, ../sass/print.sass */
.footer i {
  display: inline-block;
  background: #8A0000;
  border-radius: 20px;
  color: white;
  width: 20px;
  height: 20px;
  text-align: center;
  position: relative;
  top: -2px;
  line-height: 20px;
}

/* line 89, ../sass/print.sass */
.cover-page .company h2 {
  border-radius: 20px;
  background: #8A0000;
  color: white;
  margin: 100px 0 0 100px;
  padding: 5px 50px;
  width: 300px;
}
/* line 97, ../sass/print.sass */
.cover-page .company table {
  margin: 20px 0 0 60px;
}
/* line 99, ../sass/print.sass */
.cover-page .company table th {
  text-align: right;
  font-weight: normal;
  padding-right: 10px;
}
/* line 104, ../sass/print.sass */
.cover-page .company table td {
  background: #DDD;
  padding: 5px 40px 5px 10px;
  font-weight: bold;
}
/* line 109, ../sass/print.sass */
.cover-page .candidate {
  margin: 40px 0 0 140px;
}
/* line 113, ../sass/print.sass */
.cover-page .candidate thead th {
  background: #999;
  color: white;
  padding: 5px 0;
}
/* line 118, ../sass/print.sass */
.cover-page .candidate tbody th {
  text-align: right;
  font-weight: normal;
  padding-right: 10px;
}
/* line 122, ../sass/print.sass */
.cover-page .candidate tbody td {
  background: #DDD;
  padding: 5px 40px 5px 10px;
  font-weight: bold;
}
/* line 127, ../sass/print.sass */
.cover-page .results {
  margin: 40px 0 0 140px;
}
/* line 130, ../sass/print.sass */
.cover-page .results h2 {
  background: #8A0000;
  color: white;
  margin: 0 0 0 100px;
  padding: 5px 20px;
  display: inline-block;
}
/* line 137, ../sass/print.sass */
.cover-page .results table {
  margin: 0 0 0 100px;
  border-spacing: 5px;
}
/* line 141, ../sass/print.sass */
.cover-page .results table tr {
  margin: 5px 0;
}
/* line 144, ../sass/print.sass */
.cover-page .results table th {
  background: #DDD;
  padding: 8px;
  font-weight: bold;
}
/* line 149, ../sass/print.sass */
.cover-page .results table td {
  font-weight: bold;
}

/* line 153, ../sass/print.sass */
.laboral-study-page h3 {
  background: #8A0000;
  color: white;
  padding: 5px 0;
  text-align: center;
}
/* line 159, ../sass/print.sass */
.laboral-study-page table {
  width: 100%;
}
/* line 162, ../sass/print.sass */
.laboral-study-page table th {
  font-weight: normal;
}
/* line 165, ../sass/print.sass */
.laboral-study-page table td {
  background: #DDD;
  padding: 5px;
  font-weight: bold;
}
/* line 171, ../sass/print.sass */
.laboral-study-page .general-observations div {
  background: #DDD;
  height: 55%;
  border-radius: 20px;
}
/* line 177, ../sass/print.sass */
.laboral-study-page .work-reference table {
  border-collapse: separate;
}
/* line 180, ../sass/print.sass */
.laboral-study-page .work-reference table th {
  font-weight: bold;
  text-align: left;
}
/* line 184, ../sass/print.sass */
.laboral-study-page .work-reference table td {
  text-align: center;
  padding: 0 10px;
}
/* line 188, ../sass/print.sass */
.laboral-study-page .work-reference table .big {
  width: 50%;
  text-align: left;
}
/* line 193, ../sass/print.sass */
.laboral-study-page .company table {
  border-spacing: 10px;
}
/* line 196, ../sass/print.sass */
.laboral-study-page .company td {
  width: 30%;
}
/* line 200, ../sass/print.sass */
.laboral-study-page .resume table {
  border-collapse: separate;
  text-align: center;
}
/* line 204, ../sass/print.sass */
.laboral-study-page .resume table th {
  background: #999;
  padding: 5px;
}
/* line 208, ../sass/print.sass */
.laboral-study-page .resume table td {
  background: none;
  padding: 0;
}
/* line 212, ../sass/print.sass */
.laboral-study-page .resume table table {
  border-spacing: 0;
}
/* line 215, ../sass/print.sass */
.laboral-study-page .resume table table th {
  background: none;
}
/* line 218, ../sass/print.sass */
.laboral-study-page .resume table table td {
  background: #DDD;
}
/* line 221, ../sass/print.sass */
.laboral-study-page .resume .table-border {
  border: 3px solid #8A0000;
  width: 100%;
}
/* line 224, ../sass/print.sass */
.laboral-study-page .resume .table-border th {
  font-size: 7px;
}
