@page {
  margin: 0;
}
/* line 7, ../sass/print.sass */
body {
  margin: 0;
  padding: 0;
  -webkit-print-color-adjust: exact !important;
}

/* line 12, ../sass/print.sass */
.page-break {
  display: block;
  page-break-before: always;
}

/* line 16, ../sass/print.sass */
.clear-fix {
  clear: both;
}

/* line 19, ../sass/print.sass */
.background-1 {
  border: solid 20px #8A0000;
  height: calc(100% - 100px);
  padding: 10px 10px 50px 10px;
}

/* line 24, ../sass/print.sass */
.background-2 {
  border: solid 10px #8A0000;
  height: 100%;
  padding: 20px 20px 0 20px;
  position: relative;
}
/* line 30, ../sass/print.sass */
.background-2 .header {
  border-bottom: 3px solid black;
  position: relative;
}
/* line 34, ../sass/print.sass */
.background-2 .header h1 {
  text-transform: uppercase;
}
/* line 37, ../sass/print.sass */
.background-2 .header img {
  position: absolute;
  bottom: 5px;
  right: 0;
}
/* line 43, ../sass/print.sass */
.background-2 .company h2 {
  border-radius: 20px;
  background: #8A0000;
  color: white;
  margin: 100px 0 0 100px;
  padding: 5px 50px;
  width: 300px;
}
/* line 51, ../sass/print.sass */
.background-2 .company table {
  margin: 20px 0 0 60px;
}
/* line 53, ../sass/print.sass */
.background-2 .company table th {
  text-align: right;
  font-weight: normal;
  padding-right: 10px;
}
/* line 58, ../sass/print.sass */
.background-2 .company table td {
  background: #DDD;
  padding: 5px 40px 5px 10px;
  font-weight: bold;
}
/* line 63, ../sass/print.sass */
.background-2 .candidate {
  margin: 40px 0 0 140px;
}
/* line 67, ../sass/print.sass */
.background-2 .candidate thead th {
  background: #555;
  color: white;
  padding: 5px 0;
}
/* line 72, ../sass/print.sass */
.background-2 .candidate tbody th {
  text-align: right;
  font-weight: normal;
  padding-right: 10px;
}
/* line 76, ../sass/print.sass */
.background-2 .candidate tbody td {
  background: #DDD;
  padding: 5px 40px 5px 10px;
  font-weight: bold;
}
/* line 81, ../sass/print.sass */
.background-2 .results {
  margin: 40px 0 0 140px;
}
/* line 84, ../sass/print.sass */
.background-2 .results h3 {
  background: #8A0000;
  color: white;
  margin: 0 0 0 100px;
  padding: 5px 20px;
  display: inline-block;
}
/* line 91, ../sass/print.sass */
.background-2 .results table {
  margin: 0 0 0 100px;
  border-spacing: 5px;
}
/* line 95, ../sass/print.sass */
.background-2 .results table tr {
  margin: 5px 0;
}
/* line 98, ../sass/print.sass */
.background-2 .results table th {
  background: #DDD;
  padding: 8px;
  font-weight: bold;
}
/* line 103, ../sass/print.sass */
.background-2 .results table td {
  font-weight: bold;
}
/* line 106, ../sass/print.sass */
.background-2 .footer {
  position: absolute;
  bottom: 0px;
  right: 20px;
  font-size: 0.9em;
  text-align: right;
  width: calc(100% - 40px);
}
/* line 114, ../sass/print.sass */
.background-2 .footer p {
  font-style: italic;
}
/* line 117, ../sass/print.sass */
.background-2 .footer strong {
  font-style: normal;
}
/* line 120, ../sass/print.sass */
.background-2 .footer .agent {
  border: 2px solid #8A0000;
  border-radius: 10px;
  background: #DDD;
  display: inline-block;
  padding: 5px 50px;
}
/* line 127, ../sass/print.sass */
.background-2 .footer hr {
  background: black;
  height: 3px;
  margin: 10px 0 0 0;
  display: block;
}
