<form action="#" method="post">{% csrf_token %}
	<div>
		<div class="row">
			<div class="col-md-12">
				<input class="btn btn-lrg btn-primary" type="submit" value="Guardar cambios" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<h2>Información</h2>
				{% for field in candidato_form %}
					<div class="form-group">
						<div class="text-danger">{{field.errors}}</div>
						{{field.label_tag}}
						{{field}}
					</div>
				{% endfor %}
			</div>
			<div class="col-md-3">
				<h2>Teléfonos</h2>
				{{ tel_formset.management_form }}
				{% for form in tel_formset %}
					<h2><small>{{ form.instance.categoria|title }}</small></h2>
					{{ form.as_p }}

				{% endfor %}
			</div>
			<div class="col-md-3">
				<h2>Dirección</h2>
				{{ direccion_form.as_p }}
				<h2>Origen</h2>
				{{ origen_form.as_p }}
				<h2>Licencia</h2>
				{{ licencia_form.as_p }}
			</div>
			<div class="col-md-3">
				<h2>Vivienda</h2>
				{{ pv_formset.management_form }}
				{% for form in pv_formset %}
					<h2><small>{{ form.instance.categoria_viv|title }}</small></h2>
					{{ form.as_p }}
				{% endfor %}
			</div>
		</div>
	</div>
</form>