<form action="#" method="post">{% csrf_token %}
	<div class="row">
		<div class="col-md-12">
			<input class="btn btn-lrg btn-primary" type="submit" value="Guardar cambios" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h2>Documentos</h2>
			{{ documentos_formset.management_form }}
			{% for form in documentos_formset %}
				<h2><small> {{ form.instance.tipo }}</small></h2>
				{{ form.as_p }}
			{% endfor %}
		</div>
		<div class="col-md-4">
			<h2>Aspectos Hogar</h2>
			{{ aspectos_hogar_formset.management_form }}
			{% for form in aspectos_hogar_formset %}
				<h2><small> {{ form.instance.tipo }}</small></h2>
				{{ form.as_p }}
			{% endfor %}
		</div>
		<div class="col-md-4">
			<h2>Aspectos Candidato</h2>
			{{ aspectos_candidato_formset.management_form }}
			{% for form in aspectos_candidato_formset %}
				<h2><small> {{ form.instance.tipo }}</small></h2>
				{{ form.as_p }}
			{% endfor %}
		</div>
	</div>
</form>