{% extends 'mail/base.html' %}

{% block content %}
<p style="font-weight: bold;">
    Estimado coordinador de Ejecutivos
</p>
<p>
    <span style="font-weight: bold;">Se ha generado una nueva solicitud</span><br />
</p>

<p>
    <span style="font-weight: bold;">Candidato</span><br />
    <span style="font-weight: normal;">{{candidato}}</span>
</p>

<p>
    <span style="font-weight: bold;">Compañia</span><br />
    <span style="font-weight: normal;">{{compania}}</span>
</p>

<p>
    <span style="font-weight: bold;">Tipo de solicitud</span><br />
    <span style="font-weight: normal;">

        {% for ts in tipo_de_solicitud %}
            {{ts}}
        {% endfor %}

    </span>
</p>

{% endblock content %}