<form action="#" method="post">{% csrf_token %}
	{% if request.user.is_staff %}
		<div class="row">
			<div class="col-md-2 col-md-offset-10">
				<button class="btn btn-lrg btn-primary" type="submit">Guardar cambios <span class="glyphicon glyphicon-save"></span></button>
			</div>
		</div>
		<br />
	{% endif %}
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="row">
				<div class="col-xs-4">
					<div class="text-danger">{{propietario_vivienda_form.nombre.errors}}</div>
					{{propietario_vivienda_form.nombre.label_tag}}
					{{propietario_vivienda_form.nombre}}
				</div>
				<div class="col-xs-4">
					<div class="text-danger">{{propietario_vivienda_form.parentesco.errors}}</div>
					{{propietario_vivienda_form.parentesco.label_tag}}
					{{propietario_vivienda_form.parentesco}}
				</div>

				<div class="col-xs-4">
					<div class="text-danger">{{caracteristicas_vivienda_form.renta_mensual.errors}}</div>
					{{caracteristicas_vivienda_form.renta_mensual.label_tag}}
					{{caracteristicas_vivienda_form.renta_mensual}}
				</div>
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Vivienda</h3>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-xs-2">
					<div class="text-danger">{{caracteristicas_vivienda_form.propia.errors}}</div>
					<label>Propia:</label>
					{{caracteristicas_vivienda_form.propia}}
				</div>
				<div class="col-xs-2">
					<div class="text-danger">{{caracteristicas_vivienda_form.rentada.errors}}</div>
					<label>Rentada:</label>
					{{caracteristicas_vivienda_form.rentada}}
				</div>
				<div class="col-xs-2">
					<div class="text-danger">{{caracteristicas_vivienda_form.hipotecada.errors}}</div>
					<label>Hipotecada:</label>
					{{caracteristicas_vivienda_form.hipotecada}}
				</div>
				<div class="col-xs-2">
					<div class="text-danger">{{caracteristicas_vivienda_form.prestada.errors}}</div>
					<label>Prestada:</label>
					{{caracteristicas_vivienda_form.prestada}}
				</div>
				<div class="col-xs-2">
					<div class="text-danger">{{caracteristicas_vivienda_form.otra.errors}}</div>
					<label>Otra:</label>
					{{caracteristicas_vivienda_form.otra}}
				</div>
				<div class="col-xs-2">
					<div class="text-danger">{{caracteristicas_vivienda_form.valor_aproximado.errors}}</div>
					<label>Valor aproximado:</label>
					{{caracteristicas_vivienda_form.valor_aproximado}}
				</div>
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Tipo de inmueble</h3>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-xs-2">
					<div class="text-danger">{{tipo_inmueble_vivienda_form.casa.errors}}</div>
					<label>Casa:</label>
					{{tipo_inmueble_vivienda_form.casa}}
				</div>
				<div class="col-xs-2">
					<div class="text-danger">{{tipo_inmueble_vivienda_form.terreno_compartido.errors}}</div>
					<label>Terreno compartido:</label>
					{{tipo_inmueble_vivienda_form.terreno_compartido}}
				</div>
				<div class="col-xs-2">
					<div class="text-danger">{{tipo_inmueble_vivienda_form.departamento.errors}}</div>
					<label>Departamento:</label>
					{{tipo_inmueble_vivienda_form.departamento}}
				</div>
				<div class="col-xs-2">
					<div class="text-danger">{{tipo_inmueble_vivienda_form.vivienda_popular.errors}}</div>
					<label>Vivienda popular:</label>
					{{tipo_inmueble_vivienda_form.vivienda_popular}}
				</div>
				<div class="col-xs-2">
					<div class="text-danger">{{tipo_inmueble_vivienda_form.otro_tipo.errors}}</div>
					<label>Otro:</label>
					{{tipo_inmueble_vivienda_form.otro_tipo}}
				</div>
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Distribución dimensional</h3>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-xs-3">
					<div class="text-danger">{{distribucion_vivienda.habitaciones.errors}}</div>
					<label>Habitaciones:</label>
					{{distribucion_vivienda.habitaciones}}
				</div>
				<div class="col-xs-3">
					<div class="text-danger">{{distribucion_vivienda.banos.errors}}</div>
					<label>Baños:</label>
					{{distribucion_vivienda.banos}}
				</div>
				<div class="col-xs-3">
					<div class="text-danger">{{distribucion_vivienda.salas.errors}}</div>
					<label>Salas:</label>
					{{distribucion_vivienda.salas}}
				</div>
				<div class="col-xs-3">
					<div class="text-danger">{{distribucion_vivienda.comedor.errors}}</div>
					<label>Comedor:</label>
					{{distribucion_vivienda.comedor}}
				</div>
			</div>
		
			<div class="row">
				<div class="col-xs-3">
					<div class="text-danger">{{distribucion_vivienda.cocina.errors}}</div>
					<label>Cocina:</label>
					{{distribucion_vivienda.cocina}}
				</div>
				<div class="col-xs-3">
					<div class="text-danger">{{distribucion_vivienda.patios.errors}}</div>
					<label>Patios:</label>
					{{distribucion_vivienda.patios}}
				</div>
				<div class="col-xs-3">
					<div class="text-danger">{{distribucion_vivienda.cocheras.errors}}</div>
					<label>Cocheras:</label>
					{{distribucion_vivienda.cocheras}}
				</div>
			</div>
		
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-body">
			<div class="row">
				<div class="col-xs-4">
					<div class="text-danger">{{situacion_vivienda_form.tiempo_radicando.errors}}</div>
					<label>Tiempo de radicar en el domicilio:</label>
					{{situacion_vivienda_form.tiempo_radicando}}
				</div>
				<div class="col-xs-4">
					<div class="text-danger">{{situacion_vivienda_form.tipo_mobiliario.errors}}</div>
					<label>Tipo de mobiliario:</label>
					{{situacion_vivienda_form.tipo_mobiliario}}
				</div>
				<div class="col-xs-4">
					<div class="text-danger">{{situacion_vivienda_form.sector_socioeconomico.errors}}</div>
					<label>Sector socioeconómico:</label>
					{{situacion_vivienda_form.sector_socioeconomico}}
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4">
					<div class="text-danger">{{situacion_vivienda_form.personas_viven_con_evaluado.errors}}</div>
					<label>Personas que viven con el evaluado:</label>
					{{situacion_vivienda_form.personas_viven_con_evaluado}}
				</div>
				<div class="col-xs-4">
					<div class="text-danger">{{situacion_vivienda_form.conservacion.errors}}</div>
					<label>Conservación de vivienda:</label>
					{{situacion_vivienda_form.conservacion}}
				</div>
				<div class="col-xs-4">
					<div class="text-danger">{{situacion_vivienda_form.tamano_aprox_mts2.errors}}</div>
					<label>Tamaño aproximado (mts2):</label>
					{{situacion_vivienda_form.tamano_aprox_mts2}}
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<div class="text-danger">{{situacion_vivienda_form.domicilio_anterior.errors}}</div>
					<label>Si tiene más de 5 Años viviendo en el domicilio, especifique su domicilio anterior completo:</label>
					{{situacion_vivienda_form.domicilio_anterior}}
				</div>
			</div>
		</div>
	</div>
	
</form>
