{% load app_filters %}
<section class="cover-page">
  <div class="background-1">
    <div>
      {% include 'sections/reportes/seccion/header.html' %}

      {% include 'sections/reportes/compartido/cover-company.html' %}

      <div class="candidate socioeconomico">
        <table>
          <tbody>
            <tr>
              <th><strong>CANDIDATO</strong></th>
              <td colspan="2" class="header-2">{{ candidato }} {{ candidato.apellido }}</td>
            </tr>
            <tr>
              <th>PUESTO</th>
              <td colspan="2">{{ investigacion.puesto }}</td>
            </tr>
            <tr>
              <th>EDAD</th>
              <td colspan="2">{{ candidato.edad }} años</td>
            </tr>
            <tr>
              <th></th>
              <th class="smaller">GESTOR <br /> ENTREVISTADOR</th>
              <td>
                {{entrevista_cita.entrevistador|default:"&nbsp;"}}
              </td>
            </tr>
            <tr>
              <th></th>
              <th class="smaller">FECHA DE <br /> ENTREVISTA</th>
              <td>
                {{entrevista_cita.fecha_entrevista|parse_date:'%d/%m/%Y'|date:"d/M/Y"|localize_month}}
              </td>
            </tr>
            <tr>
              <th></th>
              <th class="smaller">HORA DE <br />ENTREVISTA</th>
              <td>
                {{entrevista_cita.hora_entrevista}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      {% include 'sections/reportes/compartido/cover-footer.html' %}
    </div>
  </div>
</section>
<div class="page-break"></div>
