<section class="laboral-study-page laboral-general">
    <div class="background-2">
      {% include 'sections/reportes/socioeconomico/header.html' %}

      <h3>FOTOGRAFÍAS DEL DOMICILIO</h3>

      <br>

      <div class="domicilio">
        <div>
          <div class="border-top">
            <strong>INTERIOR LATERAL IZQUIERDO</strong>
          </div>
          <div class="border-bottom">
            <strong>INTERIOR LATERAL DERECHO</strong>
          </div>
        </div>

        <div>
          <div>
            <strong>EXTERIOR LATERAL IZQUIERDO</strong>
          </div>
          <div class="border-left">
            <strong>EXTERIOR LATERAL DERECHO</strong>
          </div>
        </div>

        <div class="center">
          <strong>EXTERIOR FRENTE</strong>
        </div>
      </div>

      {% include 'sections/reportes/seccion/footer.html' %}
    </div>
  </section>
  <div class="page-break"></div>
  