<section class="laboral-study-page laboral-general">
    <div class="background-2">
      {% include 'sections/reportes/socioeconomico/header.html' %}

      <h3>ACTA DE NACIMIENTO</h3>

      <div class="semanas-cotizadas">
        {% if adjuntos.adj17 %}
        <img src="{{adjuntos_baseurl}}{{adjuntos.adj17}}" />
        {% endif %}
      </div>


      {% include 'sections/reportes/seccion/footer.html' with page=trayectoria.count|add:page %}
    </div>
  </section>
  <div class="page-break"></div>
  