<section class="laboral-study-page laboral-general">
    <div class="background-2">
      {% include 'sections/reportes/socioeconomico/header.html' %}

      <h3>COMPROBANTE DE DOMICILIO</h3>

      <div class="semanas-cotizadas">
        {% if adjuntos.adj16 %}
        <img src="{{adjuntos_baseurl}}{{adjuntos.adj16}}" />
        {% endif %}
      </div>


      {% include 'sections/reportes/seccion/footer.html' with page=trayectoria.count|add:14 %}
    </div>
  </section>
  <div class="page-break"></div>
  