<section class="laboral-study-page laboral-general">
    <div class="background-2">
      {% include 'sections/reportes/socioeconomico/header.html' %}

      <h3>SEMANAS COTIZADAS ANTE EL IMSS</h3>

      <div class="semanas-cotizadas">
        {% if adjuntos.adj8 %}
        <img src="{{adjuntos_baseurl}}{{adjuntos.adj8}}" />
        {% endif %}
      </div>

      {% include 'sections/reportes/seccion/footer.html' with page=trayectoria.count|add:11 %}
    </div>
  </section>
  <div class="page-break"></div>
  