{% load app_filters %}

<section class="laboral-study-page laboral-general">
    <div class="background-2">
      {% include 'sections/reportes/socioeconomico/header.html' %}

      <h3>GESTOR ENTREVISTADOR Y CANDIDATO</h3>

      <div class="entrevistador">
        {% if adjuntos.adj10 %}
        <img src="{{adjuntos_baseurl}}{{adjuntos.adj10}}" />
        {% endif %}
      </div>

      <h3>CROQUIS DE UBICACIÓN DEL DOMICILIO</h3>

      <div class="croquis-domicilio">
        {% if adjuntos.adj13 %}
        <img src="{{adjuntos_baseurl}}{{adjuntos.adj13}}" />
        {% endif %}
      </div>

      <div class="dommicilio-referencia">
        <p>PEQUEÑA DESCRIPCIÓN DE LA FORMA DE LLEGAR AL DOMICILIO.</p>
        <div>
          {% if situacion_vivienda.domicilio_direcciones %}
          {{situacion_vivienda.domicilio_direcciones|print_text|safe}}
          {% endif %}
        </div>
      </div>

      {% include 'sections/reportes/seccion/footer.html' %}
    </div>
  </section>
  <div class="page-break"></div>
  