<section class="laboral-study-page laboral-general">
    <div class="background-2">
      {% include 'sections/reportes/socioeconomico/header.html' %}

      <h3>CONCLUSIÓN DE ESTUDIO SOCIOECONÓMICO</h3>

      <div class="conclusion">
        <p></p>

        <table>
          <tr>
            <td class="no-bg">
              <h3>RESULTADO DE <br />INVESTIGACIÓN LABORAL</h3>
            </td>
            <td width="50" class="no-bg"></td>
            <td class="no-bg">
              <h3>RESULTADO DE VISITA <br /> DOMICILIARIA</h3>
            </td>
          </tr>

          <tr>
            <td class="no-bg align-top">
              <div class="results">
              {% include 'sections/reportes/compartido/results.html' %}
              </div>
            </td>

            <td class="no-bg"></td>

            <td class="no-bg">
              <h4>CALIFICACIÓN DEL 1 AL 100%</h4>
              <table>
                <tr>
                  <td colspan="2" class="title">ASPECTO DEL HOGAR</td>
                </tr>
                {% for aspecto in entrevista_persona.entrevistaaspectohogar_set.all %}
                <tr>
                  <th>{{aspecto}}</th>
                  <td>{{aspecto.estatus}}</td>
                </tr>
                {% endfor %}
              </table>

              <table>
                <tr>
                  <td colspan="2" class="title">PERSONAL</td>
                </tr>
                {% for aspecto in entrevista_persona.entrevistaaspectocandidato_set.all %}
                <tr>
                  <th>{{aspecto}}</th>
                  <td>{{aspecto.estatus}}</td>
                </tr>
                {% endfor %}
              </table>
            </td>
          </tr>
        </table>
      </div>

      {% include 'sections/reportes/seccion/footer.html' with page=trayectoria.count|add:18 %}
    </div>
  </section>
  <div class="page-break"></div>
  