<section class="laboral-study-page laboral-general">
  <div class="background-2">
    {% include 'sections/reportes/socioeconomico/header.html' %}

    <div>
      <h3>MARCO FAMILIAR</h3>
      <table>
        <tr>
          <th>PARENTESCO</th>
          <th>NOMBRE COMPLETO</th>
          <th>EDAD</th>
          <th>OCUPACIÓN Y/O CARGO</th>
          <th>EMPRESA Y/O INSTITUCIÓN</th>
          <th>No. TELEFÓNICO (CON LADA)</th>
          <th>DOMICILIO COMPLETO</th>
        </tr>

        <tr>
          <th>PADRE</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <th>MADRE</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <th>HERMANO</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <th>PAREJA</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <th>HIJO</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>

    </div>

    <br /><br /><br /><br />

    <div>
      <h3>SITUACIÓN DE LA VIVIENDA</h3>
      <table>
        <tr>
          <th colspan="4">NOMBRE DEL PROPIETARIO</th>
          <th>PARENTESCO</th>
          <th>RENTA MENSUAL</th>
        </tr>
        <tr>
          <td colspan="4"></td>
          <td></td>
          <td>MXN</td>
        </tr>

        <tr>
          <th colspan="2">VIVIENDA</th>
          <th colspan="2">VALOR APROXIMADO</th>
          <th colspan="2">TIPO DE INMUEBLE</th>
        </tr>
        <tr>
          <td colspan="2"></td>
          <td colspan="2">MXN</td>
          <td colspan="2"></td>
        </tr>
      </table>
    </div>

    <div>
      <h4>DISTRIBUCIÓN DIMENSIONAL</h4>
      <table>
        <tr>
          <th>HABITACIONES</th>
          <td>&nbsp;</td>

          <th>BAÑOS</th>
          <td>&nbsp;</td>

          <th>SALAS</th>
          <td>&nbsp;</td>

          <th>COMEDOR</th>
          <td>&nbsp;</td>

          <th>PATIOS</th>
          <td>&nbsp;</td>

          <th>COCINA</th>
          <td>&nbsp;</td>

          <th>COCHERA</th>
          <td>&nbsp;</td>
        </tr>
      </table>
      <table>
        <tr>
          <th>TIEMPO DE RADICAR EN EL DOMICILIO </th>
          <th>TIPO DE MOBILIARIO</th>
          <th>SECTOR SOCIOECONÓMICO</th>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>

        <tr>
          <th colspan="2">SI TIENE MENOS DE 5 AÑOS VIVIENDO EN EL DOMICILIO, ESPECIFICAR DOMICILIO ANTERIOR COMPLETO</th>
          <td>&nbsp;</td>
        </tr>
      </table>
      <table>
        <tr>
          <th>DETALLAR QUIENES VIVEN CON EL EVALUADO</th>
          <td colspan="2">&nbsp;</td>
        </tr>
      </table>
      <table>
        <tr>
          <th>CONSERVACIÓN DE LA VIVIENDA</th>
          <td>&nbsp;</td>
          <th>TAMAÑO APROXIMADO</th>
          <td>MT2</td>
        </tr>
      </table>
    </div>

    {% include 'sections/reportes/seccion/footer.html' %}
  </div>
</section>
<div class="page-break"></div>
