{% load app_filters %}
<section class="laboral-study-page laboral-general">
  <div class="background-2">
    {% include 'sections/reportes/seccion/header.html' %}

    <div>
      <h3>MARCO FAMILIAR</h3>
      <table class="marco-familiar">
        <tr>
          <th>PARENTESCO</th>
          <th>NOMBRE COMPLETO</th>
          <th>EDAD</th>
          <th>OCUPACIÓN Y/O CARGO</th>
          <th>EMPRESA Y/O INSTITUCIÓN</th>
          <th>No. TELEFÓNICO (CON LADA)</th>
          <th>DOMICILIO COMPLETO</th>
        </tr>

        {% for familiar in marco_familiar %}
        {%if familiar.nombre %}
        <tr>
          <th>
            {{familiar.parentesco}}
          </th>
          <td>{{familiar.nombre}}</td>
          <td>{{familiar.edad}}</td>
          <td>{{familiar.ocupacion}}</td>
          <td>{{familiar.empresa}}</td>
          <td>{{familiar.telefono}}</td>
          <td>{{familiar.residencia}}</td>
        </tr>
        {% endif %}
        {% endfor %}
      </table>

    </div>

    {% include 'sections/reportes/seccion/footer.html' %}
  </div>
</section>
<div class="page-break"></div>
