{% load app_filters %}
<section class="laboral-study-page laboral-general">
  <div class="background-2">
    {% include 'sections/reportes/socioeconomico/header.html' %}

    <div>
      <h3>MARCO FAMILIAR</h3>
      <table class="marco-familiar">
        <tr>
          <th>PARENTESCO</th>
          <th>NOMBRE COMPLETO</th>
          <th>EDAD</th>
          <th>OCUPACIÓN Y/O CARGO</th>
          <th>EMPRESA Y/O INSTITUCIÓN</th>
          <th>No. TELEFÓNICO (CON LADA)</th>
          <th>DOMICILIO COMPLETO</th>
        </tr>

        {% for familiar in marco_familiar %}
        {%if familiar.nombre %}
        <tr>
          <th>
            {% if familiar.parentesco %}
              {{familiar.parentesco}}
            {% else %}
              {{familiar.tipo}}
            {% endif %}
          </th>
          <td>{{familiar.nombre}}</td>
          <td>{{familiar.edad}}</td>
          <td>{{familiar.ocupacion}}</td>
          <td>{{familiar.empresa}}</td>
          <td>{{familiar.telefono}}</td>
          <td>{{familiar.residencia}}</td>
        </tr>
        {% endif %}
        {% endfor %}
      </table>

    </div>

    <br /><br /><br /><br />

    <div>
      <h3>SITUACIÓN DE LA VIVIENDA</h3>
      <table>
        <tr>
          <th colspan="4">NOMBRE DEL PROPIETARIO</th>
          <th>PARENTESCO</th>
          <th>RENTA MENSUAL</th>
        </tr>
        <tr>
          <td colspan="4">{{propietario_vivienda.nombre}}</td>
          <td>{{propietario_vivienda.parentesco}}</td>
          <td>{{caracteristicas_vivienda.renta_mensual|print_money}}</td>
        </tr>

        <tr>
          <th colspan="2">VIVIENDA</th>
          <th colspan="2">VALOR APROXIMADO</th>
          <th colspan="2">TIPO DE INMUEBLE</th>
        </tr>
        <tr>
          <td colspan="2">
            {% if caracteristicas_vivienda.propia %}
              PROPIA
            {% elif caracteristicas_vivienda.rentada %}
              RENTADA
            {% elif caracteristicas_vivienda.hipotecada %}
              HIPOTECADA
            {% elif caracteristicas_vivienda.prestada %}
              PRESTADA
            {% elif caracteristicas_vivienda.otra %}
              OTRA
            {% endif %}
          </td>
          <td colspan="2">{{caracteristicas_vivienda.valor_aproximado|print_money}}</td>
          <td colspan="2">
            {% if tipo_inmueble_vivienda.casa %}
              CASA
            {% elif tipo_inmueble_vivienda.terreno_compartido %}
              TERRENO COMPARTIDO
            {% elif tipo_inmueble_vivienda.departamento %}
              DEPARTAMENTO
            {% elif tipo_inmueble_vivienda.vivienda_popular %}
              VIVIENDA POPULAR
            {% elif tipo_inmueble_vivienda.otro_tipo %}
              OTRO
            {% endif %}
          </td>
        </tr>
      </table>
    </div>

    <div>
      <h4>DISTRIBUCIÓN DIMENSIONAL</h4>
      <table class="distribucion-dimensional">
        <tr>
          <th style="font-size: 7px">HABITACIONES</th>
          <td>{{distribucion_vivienda.habitaciones}}</td>

          <th>BAÑOS</th>
          <td>{{distribucion_vivienda.banos}}</td>

          <th>SALAS</th>
          <td>{{distribucion_vivienda.salas}}</td>

          <th>COMEDOR</th>
          <td>{{distribucion_vivienda.comedor}}</td>

          <th>PATIOS</th>
          <td>{{distribucion_vivienda.patios}}</td>

          <th>COCINA</th>
          <td>{{distribucion_vivienda.cocina}}</td>

          <th>COCHERA</th>
          <td>{{distribucion_vivienda.cocheras}}</td>
        </tr>
      </table>
      <table>
        <tr>
          <th>TIEMPO DE RADICAR EN EL DOMICILIO </th>
          <th>TIPO DE MOBILIARIO</th>
          <th>SECTOR SOCIOECONÓMICO</th>
        </tr>
        <tr>
          <td>{{situacion_vivienda.tiempo_radicando}}</td>
          <td>{{situacion_vivienda.tipo_mobiliario}}</td>
          <td>{{situacion_vivienda.sector_socioeconomico}}</td>
        </tr>

        <tr>
          <th colspan="2">SI TIENE MENOS DE 5 AÑOS VIVIENDO EN EL DOMICILIO, ESPECIFICAR DOMICILIO ANTERIOR COMPLETO</th>
          <td>{{situacion_vivienda.domicilio_anterior}}</td>
        </tr>
      </table>
      <table>
        <tr>
          <th>DETALLAR QUIENES VIVEN CON EL EVALUADO</th>
          <td colspan="2">{{situacion_vivienda.personas_viven_con_evaluado}}</td>
        </tr>
      </table>
      <table>
        <tr>
          <th>CONSERVACIÓN DE LA VIVIENDA</th>
          <td>{{situacion_vivienda.conservacion}}</td>
          <th>TAMAÑO APROXIMADO</th>
          <td>{{situacion_vivienda.tamano_aprox_mts2}}</td>
        </tr>
      </table>
    </div>

    {% include 'sections/reportes/seccion/footer.html' with page='4' %}
  </div>
</section>
<div class="page-break"></div>
