{% extends 'layout/base_print.html' %}

{% block site_wrapper %}

{% include 'sections/reportes/socioeconomico/cover.html' %}

{% include 'sections/reportes/socioeconomico/general.html' %}

{% include 'sections/reportes/socioeconomico/personal.html' %}

{% include 'sections/reportes/socioeconomico/familiar.html' %}

{% include 'sections/reportes/socioeconomico/familiar-anexo.html' %}

{% include 'sections/reportes/socioeconomico/referencias.html' %}

{% include 'sections/reportes/socioeconomico/mensual.html' %}

{% include 'sections/reportes/compartido/referencia-laboral.html' %}

{% include 'sections/reportes/compartido/referencia-comercial.html' %}

{% include 'sections/reportes/socioeconomico/adjunto-domicilio.html' %}

{% include 'sections/reportes/socioeconomico/adjunto-entrevistador.html' %}

{% if adjuntos.adj11 %}
  {% include 'sections/reportes/socioeconomico/adjunto-privacidad.html' %}
{% endif %}

{% if adjuntos.adj12 %}
  {% include 'sections/reportes/socioeconomico/adjunto-constancia.html' %}
{% endif %}

{% if adjuntos.adj8 %}
  {% include 'sections/reportes/socioeconomico/adjunto-semanas-cotizadas.html' with file=adjuntos.adj8 %}
{% endif %}
{% if adjuntos.adj25 %}
  {% include 'sections/reportes/socioeconomico/adjunto-semanas-cotizadas.html' with file=adjuntos.adj25 %}
{% endif %}
{% if adjuntos.adj26 %}
  {% include 'sections/reportes/socioeconomico/adjunto-semanas-cotizadas.html' with file=adjuntos.adj26 %}
{% endif %}
{% if adjuntos.adj27 %}
  {% include 'sections/reportes/socioeconomico/adjunto-semanas-cotizadas.html' with file=adjuntos.adj27 %}
{% endif %}
{% if adjuntos.adj28 %}
  {% include 'sections/reportes/socioeconomico/adjunto-semanas-cotizadas.html' with file=adjuntos.adj28 %}
{% endif %}

{% if adjuntos.adj7 %}
  {% include 'sections/reportes/socioeconomico/adjunto-validacion-demanda.html' %}
{% endif %}

{% if adjuntos.adj14 %}
  {% include 'sections/reportes/socioeconomico/adjunto-ultimo-grado.html' %}
{% endif %}

{% if adjuntos.adj16 %}
  {% include 'sections/reportes/socioeconomico/adjunto-comprobante-domicilio.html' %}
{% endif %}

{% if adjuntos.adj17 %}
  {% include 'sections/reportes/socioeconomico/adjunto-acta-nacimiento.html' %}
{% endif %}

{% if adjuntos.adj18 %}
  {% include 'sections/reportes/socioeconomico/adjunto-anexo-documentos.html' %}
{% endif %}

{% if adjuntos.adj19 %}
  {% include 'sections/reportes/socioeconomico/adjunto-anexo-documentos-2.html' %}
{% endif %}

{% if adjuntos.adj20 %}
  {% include 'sections/reportes/socioeconomico/adjunto-anexo-documentos-3.html' %}
{% endif %}

{% if adjuntos.adj21 %}
  {% include 'sections/reportes/socioeconomico/adjunto-anexo-documentos-4.html' %}
{% endif %}

{% include 'sections/reportes/socioeconomico/adjunto-conclusion.html' %}

{% endblock %}
