{% extends 'layout/base_print.html' %}

{% block site_wrapper %}

{% include 'sections/reportes/socioeconomico/cover.html' %}

{% include 'sections/reportes/socioeconomico/general.html' %}

{% include 'sections/reportes/socioeconomico/personal.html' %}

{% include 'sections/reportes/socioeconomico/familiar.html' %}

{% include 'sections/reportes/socioeconomico/referencias.html' %}

{% include 'sections/reportes/socioeconomico/mensual.html' %}

{% include 'sections/reportes/compartido/referencia-laboral.html' %}

{% endblock %}
