<section class="laboral-study-page laboral-general">
  <div class="background-2">
    {% include 'sections/reportes/socioeconomico/header.html' %}

    <div class="mensual">
      <h3>INFORMACIÓN ECONÓMICA MENSUAL</h3>
      <br />
      <div class="border-red">
        <h4>SITUACIÓN ECONÓMICA</h4>
        <table>
          <tr>
            <td colspan="4" class="title">TARJETAS DE CRÉDITO Y/O COMERCIALES</td>
          </tr>
          <tr>
            <th>INSTITUCIÓN</th>
            <th>LIMITE DE CRÉDITO</th>
            <th>PAGO MÍNIMO</th>
            <th>SALDO ACTUAL</th>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <td colspan="4" class="title">CUENTAS DE DÉBITO</td>
          </tr>
          <tr>
            <th>INSTITUCIÓN</th>
            <th>SALDO MENSUAL</th>
            <th>ANTIGÜEDAD</th>
            <th>AHORRO</th>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <td colspan="4" class="title">AUTOMÓVILES</td>
          </tr>
          <tr>
            <th>MARCA / MODELO</th>
            <th>AÑO</th>
            <th>LIQUIDADO</th>
            <th>VALOR COMERCIAL</th>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <td colspan="4" class="title">BIENES RAÍCES</td>
          </tr>
          <tr>
            <th>TIPO DE INMUEBLE</th>
            <th>MONTO LIQUIDADO</th>
            <th>UBICACIÓN <small>(DIRECCIÓN COMPLETA)</small></th>
            <th>VALOR COMERCIAL</th>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <td colspan="4" class="title">SEGUROS</td>
          </tr>
          <tr>
            <th>EMPRESA</th>
            <th>TIPO DE SEGURO</th>
            <th>FORMA DE PAGO</th>
            <th>VIGENCIA</th>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </table>

        <table>
          <tr>
            <td colspan="6" class="title">DEUDAS ACTUALES <br /><small>(BANCARIAS, DEPARTAMENTALES, FINANCIERAS, CRÉDITO INFONAVIT Y/O FONACOT)</small></td>
          </tr>
          <tr>
            <th>FECHA DE OTORGAMIENTO</th>
            <th>INSTITUCIÓN</th>
            <th>CANTIDAD TOTAL</th>
            <th>CONCEPTO Y/O TIPO</th>
            <th>SALDO ACTUAL</th>
            <th>PAGO MENSUAL</th>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>

      <br />

      <div class="border-red">
        <h4>EN CASO DE CONTAR CON CRÉDITO INFONAVIT ACTIVO, ESPECIFIQUE LO SIGUIENTE</h4>
        <table>
          <tr>
            <th>No. DE CRÉDITO</th>
            <td>&nbsp;</td>
            <th>FECHA EN QUE FUE TRAMITADO</th>
            <td>&nbsp;</td>
          </tr>

          <tr>
            <th>¿PARA QUÉ SE TRAMITÓ?</th>
            <td>&nbsp;</td>
            <th>DOMICILIO COMPLETO DEL INMUEBLE</th>
            <td>&nbsp;</td>
          </tr>
        </table>
      </div>

      <br />

      <div class="border-red">
        <h4>EN CASO DE CONTAR CON CRÉDITO FONACOT ACTIVO, ESPECIFIQUE LO SIGUIENTE</h4>
        <table>
          <tr>
            <th>No. DE CRÉDITO</th>
            <td>&nbsp;</td>
            <th>FECHA EN QUE FUE TRAMITADO</th>
            <td>&nbsp;</td>
          </tr>
        </table>
      </div>

      <br />

      <div class="border-red">
        <table>
          <tr>
            <th>QUIENES SON DEPENDIENTES ECONÓMICOS</th>
            <td>&nbsp;</td>
          </tr>
        </table>
      </div>
    </div>

    {% include 'sections/reportes/seccion/footer.html' with page='6' %}
  </div>
</section>
<div class="page-break"></div>
