<section class="laboral-study-page laboral-general">
  <div class="background-2">
    {% include 'sections/reportes/socioeconomico/header.html' %}

    <div class="mensual">
      <h3>INFORMACIÓN ECONÓMICA MENSUAL</h3>
      <br />
      <div class="border-red">
        <h4>SITUACIÓN ECONÓMICA</h4>
        <table>
          <tr>
            <td colspan="4" class="title">TARJETAS DE CRÉDITO Y/O COMERCIALES</td>
          </tr>
          <tr>
            <th>INSTITUCIÓN</th>
            <th>LIMITE DE CRÉDITO</th>
            <th>PAGO MÍNIMO</th>
            <th>SALDO ACTUAL</th>
          </tr>
          {% for tarjeta in tarjeta_credito %}
          <tr>
            <td>{{tarjeta.institucion}}</td>
            <td>{{tarjeta.limite_credito}}</td>
            <td>{{tarjeta.pago_minimo}}</td>
            <td>{{tarjeta.saldo_actual}}</td>
          </tr>
          {% endfor %}

          <tr>
            <td colspan="4" class="title">CUENTAS DE DÉBITO</td>
          </tr>
          <tr>
            <th>INSTITUCIÓN</th>
            <th>SALDO MENSUAL</th>
            <th>ANTIGÜEDAD</th>
            <th>AHORRO</th>
          </tr>
          {% for tarjeta in tarjeta_debito %}
          <tr>
            <td>{{tarjeta.institucion}}</td>
            <td>{{tarjeta.saldo_mensual}}</td>
            <td>{{tarjeta.antiguedad}}</td>
            <td>{{tarjeta.ahorro}}</td>
          </tr>
          {% endfor %}

          <tr>
            <td colspan="4" class="title">AUTOMÓVILES</td>
          </tr>
          <tr>
            <th>MARCA / MODELO</th>
            <th>AÑO</th>
            <th>LIQUIDADO</th>
            <th>VALOR COMERCIAL</th>
          </tr>
          {% for auto in automoviles %}
          <tr>
            <td>{{auto.marca}}</td>
            <td>{{auto.modelo_ano}}</td>
            <td>{{auto.liquidacion}}</td>
            <td>{{auto.valor_comercial}}</td>
          </tr>
          {% endfor %}
          
          <tr>
            <td colspan="4" class="title">BIENES RAÍCES</td>
          </tr>
          <tr>
            <th>TIPO DE INMUEBLE</th>
            <th>MONTO LIQUIDADO</th>
            <th>UBICACIÓN <small>(DIRECCIÓN COMPLETA)</small></th>
            <th>VALOR COMERCIAL</th>
          </tr>
          {% for item in bienes_raices %}
          <tr>
            <td>{{item.tipo_inmueble}}</td>
            <td>{{item.liquidacion}}</td>
            <td>{{item.ubicacion}}</td>
            <td>{{item.valor_comercial}}</td>
          </tr>
          {% endfor %}

          <tr>
            <td colspan="4" class="title">SEGUROS</td>
          </tr>
          <tr>
            <th>EMPRESA</th>
            <th>TIPO DE SEGURO</th>
            <th>FORMA DE PAGO</th>
            <th>VIGENCIA</th>
          </tr>
          {% for item in seguros %}
          <tr>
            <td>{{item.empresa}}</td>
            <td>{{item.tipo}}</td>
            <td>{{item.forma_pago}}</td>
            <td>{{item.vigencia}}</td>
          </tr>
          {% endfor %}
        </table>

        <table>
          <tr>
            <td colspan="6" class="title">DEUDAS ACTUALES <br /><small>(BANCARIAS, DEPARTAMENTALES, FINANCIERAS, CRÉDITO INFONAVIT Y/O FONACOT)</small></td>
          </tr>
          <tr>
            <th>FECHA DE OTORGAMIENTO</th>
            <th>INSTITUCIÓN</th>
            <th>CANTIDAD TOTAL</th>
            <th>CONCEPTO Y/O TIPO</th>
            <th>SALDO ACTUAL</th>
            <th>PAGO MENSUAL</th>
          </tr>
          {% for item in deudas %}
          <tr>
            <td>{{item.fecha_otorgamiento}}</td>
            <td>{{item.institucion}}</td>
            <td>{{item.cantidad_total}}</td>
            <td>{{item.tipo}}</td>
            <td>{{item.saldo_actual}}</td>
            <td>{{item.pago_mensual}}</td>
          </tr>
          {% endfor %}
        </table>
      </div>

      <br />

      <div class="border-red">
        <h4>EN CASO DE CONTAR CON CRÉDITO INFONAVIT ACTIVO, ESPECIFIQUE LO SIGUIENTE</h4>
        <table>
          <tr>
            <th>No. DE CRÉDITO</th>
            <td>{{infonavit.numero_credito}}</td>
            <th>FECHA EN QUE FUE TRAMITADO</th>
            <td>{{infonavit.fecha_tramite}}</td>
          </tr>

          <tr>
            <th>¿PARA QUÉ SE TRAMITÓ?</th>
            <td>*REVISAR*</td>
            <th>DOMICILIO COMPLETO DEL INMUEBLE</th>
            <td>{{infonavit.uso}}</td>
          </tr>
        </table>
      </div>

      <br />

      <div class="border-red">
        <h4>EN CASO DE CONTAR CON CRÉDITO FONACOT ACTIVO, ESPECIFIQUE LO SIGUIENTE</h4>
        <table>
          <tr>
            <th>No. DE CRÉDITO</th>
            <td>{{fonacot.numero_credito}}</td>
            <th>FECHA EN QUE FUE TRAMITADO</th>
            <td>{{fonacot.fecha_tramite}}</td>
          </tr>
        </table>
      </div>

      <br />

      <div class="border-red">
        <table>
          <tr>
            <th>QUIENES SON DEPENDIENTES ECONÓMICOS</th>
            <td>{{entrevista_persona.dependientes_economicos}}</td>
          </tr>
        </table>
      </div>
    </div>

    {% include 'sections/reportes/seccion/footer.html' with page='6' %}
  </div>
</section>
<div class="page-break"></div>
