{% load app_filters %}
<section class="laboral-study-page laboral-general">
  <div class="background-2">
    {% include 'sections/reportes/socioeconomico/header.html' %}

    <div class="general-info">
      <h3>INFORMACIÓN PERSONAL</h3>

      <table>
        <tr>
          <th colspan="2">HA TRABAJADO ANTERIORMENTE EN LA EMPRESA</th>
          <th colspan="2">PUESTO</th>
          <th colspan="2">PERIODOS</th>
          <th colspan="2">MOTIVO DE RETIRO</th>
          <th colspan="2">SUCURSAL Y/O CIUDAD</th>
        </tr>
        <tr>
          <td colspan="2">&nbsp;</td>
          <td colspan="2"></td>
          <td colspan="2"></td>
          <td colspan="2"></td>
          <td colspan="2"></td>
        </tr>

        <tr>
          <th colspan="2">FAMILIARES TRABAJANDO EN LA EMPRESA</th>
          <th colspan="2">NOMBRE</th>
          <th colspan="2">PUESTO</th>
          <th colspan="2">PARENTESCO</th>
          <th colspan="2">SUCURSAL Y/O CIUDAD</th>
        </tr>
        <tr>
          <td colspan="2">&nbsp;</td>
          <td colspan="2"></td>
          <td colspan="2"></td>
          <td colspan="2"></td>
          <td colspan="2"></td>
        </tr>

        <tr>
          <th colspan="5">CUENTA CON ANTECEDENTES PENALES</th>
          <th colspan="5">CUENTA CON ALGÚN TATUAJE O ARETE (ESPECIFICAR CANTIDAD Y ÁREA DEL CUERPO)</th>
        </tr>
        <tr>
          <td colspan="5">&nbsp;</td>
          <td colspan="5"></td>
        </tr>

        <tr>
          <th>PESO (KG)</th>
          <th>ESTATURA (MTS)</th>
          <th>SALUD FÍSICA </th>
          <th>SALUD VISUAL</th>
          <th>EMBARAZO (# MESES)</th>
        </tr>
        <tr>
          <td colspan="2">&nbsp;</td>
          <td colspan="2"></td>
          <td colspan="2"></td>
          <td colspan="2"></td>
          <td colspan="2"></td>
        </tr>

        <tr>
          <th colspan="10">EJERCICIO QUE PRACTICA Y CON QUÉ FRECUENCIA LO HACE</th>
        </tr>
        <tr>
          <td colspan="10">&nbsp;</td>
        </tr>

        <tr>
          <th colspan="5">ACCIDENTES</th>
          <th colspan="5">INTERVENCIONES QUIRÚRGICAS</th>
        </tr>
        <tr>
          <td colspan="5">&nbsp;</td>
          <td colspan="5"></td>
        </tr>

        <tr>
          <th colspan="5">ENFERMEDADES QUE PADECEN LOS FAMILIARES</th>
          <th colspan="5">HA ESTADO BAJO TRATAMIENTO MÉDICO O PSICOLÓGICO</th>
        </tr>
        <tr>
          <td colspan="5">&nbsp;</td>
          <td colspan="5"></td>
        </tr>

        <tr>
          <th colspan="5">ENFERMEDADES PADECIDAS CON MAYOR FRECUENCIA</th>
          <th colspan="5">INSTITUCIÓN MÉDICA A LA QUE ACUDE</th>
        </tr>
        <tr>
          <td colspan="5">&nbsp;</td>
          <td colspan="5"></td>
        </tr>

      </table>
    </div>

    <div class="general-info">
      <h3>INFORMACIÓN ACADÉMICA</h3>
      <table>
        <tr>
          <th>ESCOLARIDAD</th>
          <th>INSTITUCIÓN</th>
          <th>CIUDAD Y ESTADO</th>
          <th>PERIODOS</th>
          <th>EXHIBE CERTIFICADO</th>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <th>OTRA</th>
          <td colspan="4">&nbsp;</td>
        </tr>

        <tr>
          <th>CEDULA PROFESIONAL</th>
          <td colspan="4">&nbsp;</td>
        </tr>
      </table>
      <table>
        <tr>
          <th>DOMINIO DE OTROS IDIOMAS</th>
          <th>HABLADO <small>(PORCENTAJE)</small></th>
          <th>LEÍDO <small>(PORCENTAJE)</small></th>
          <th>ESCRITO <small>(PORCENTAJE)</small></th>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>

    <div class="activities">
      <h3>ACTIVIDADES Y HÁBITOS</h3>
      <table>
        <tr>
          <th colspan="2">CADA CUÁNTO TIEMPO CONSUME</th>
          <th>TABACO</th>
          <td>&nbsp;</td>
          <th>ALCOHOL</th>
          <td>&nbsp;</td>
          <th>OTRAS</th>
          <td>&nbsp;</td>
        </tr>

        <tr>
          <th colspan="2">RELIGIÓN</th>
          <td colspan="2">&nbsp;</td>
          <th colspan="2">CADA CUANTO TIEMPO LA PRACTICA Y EN QUÉ HORARIOS</th>
          <td colspan="2">&nbsp;</td>
        </tr>
      </table>

      <table>
        <tr>
          <td class="no-bg">
            <table class="inner-table">
              <tr>
                <th colspan="2" class="title">PERIODOS DE INACTIVIDAD LABORAL</th>
              </tr>
              <tr>
                <th>FECHAS</th>
                <th>ACTIVIDAD QUE REALIZÓ</th>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td></td>
              </tr>
            </table>
          </td>
          <th width="1"></th>

          <td class="no-bg">
            <table class="inner-table">
              <tr>
                <th colspan="2" class="title">NEGOCIOS POR CUENTA PROPIA</th>
              </tr>
              <tr>
                <th>PERIODOS</th>
                <th>ACTIVIDADES A LAS QUE SE DEDICÓ</th>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>

    {% include 'sections/reportes/seccion/footer.html' %}
  </div>
</section>
<div class="page-break"></div>
