<section class="laboral-study-page laboral-general">
  <div class="background-2">
    {% include 'sections/reportes/socioeconomico/header.html' %}

    <div class="general-info">
      <h3>INFORMACIÓN PERSONAL</h3>

      <table>
        <tr>
          <th colspan="2">HA TRABAJADO ANTERIORMENTE EN LA EMPRESA</th>
          <th colspan="2">PUESTO</th>
          <th colspan="2">PERIODOS</th>
          <th colspan="2">MOTIVO DE RETIRO</th>
          <th colspan="2">SUCURSAL Y/O CIUDAD</th>
        </tr>
        <tr>
          <td colspan="2">{{historial_en_empresa}}</td>
          <td colspan="2">{{historial_en_empresa.puesto}}</td>
          <td colspan="2">{{historial_en_empresa.periodo}}</td>
          <td colspan="2">{{historial_en_empresa.motivo_salida|default:''}}</td>
          <td colspan="2">{{historial_en_empresa.sucursal}}</td>
        </tr>

        <tr>
          <th colspan="2">FAMILIARES TRABAJANDO EN LA EMPRESA</th>
          <th colspan="2">NOMBRE</th>
          <th colspan="2">PUESTO</th>
          <th colspan="2">PARENTESCO</th>
          <th colspan="2">SUCURSAL Y/O CIUDAD</th>
        </tr>
        <tr>
          <td colspan="2">{{historial_familiar_en_empresa}}</td>
          <td colspan="2">{{historial_familiar_en_empresa.nombre}}</td>
          <td colspan="2">{{historial_familiar_en_empresa.puesto}}</td>
          <td colspan="2">*REVISAR*</td>
          <td colspan="2">{{historial_familiar_en_empresa.sucursal}}</td>
        </tr>

        <tr>
          <th colspan="5">CUENTA CON ANTECEDENTES PENALES</th>
          <th colspan="5">CUENTA CON ALGÚN TATUAJE O ARETE (ESPECIFICAR CANTIDAD Y ÁREA DEL CUERPO)</th>
        </tr>
        <tr>
          <td colspan="5">{{info_personal.antecedentes_penales}}</td>
          <td colspan="5">{{info_personal.tatuajes}}</td>
        </tr>

        <tr>
          <th colspan="2">PESO (KG)</th>
          <th colspan="2">ESTATURA (MTS)</th>
          <th colspan="2">SALUD FÍSICA </th>
          <th colspan="2">SALUD VISUAL</th>
          <th colspan="2">EMBARAZO (# MESES)</th>
        </tr>
        <tr>
          <td colspan="2">{{salud}}</td>
          <td colspan="2">{{salud.estatura_mts}}</td>
          <td colspan="2">{{salud.salud_fisica}}</td>
          <td colspan="2">{{salud.salud_visual}}</td>
          <td colspan="2">{{salud.embarazo_meses}}</td>
        </tr>

        <tr>
          <th colspan="10">EJERCICIO QUE PRACTICA Y CON QUÉ FRECUENCIA LO HACE</th>
        </tr>
        <tr>
          <td colspan="10">{{salud.ejercicio_tipo_frecuencia}}</td>
        </tr>

        <tr>
          <th colspan="5">ACCIDENTES</th>
          <th colspan="5">INTERVENCIONES QUIRÚRGICAS</th>
        </tr>
        <tr>
          <td colspan="5">{{salud.accidentes}}</td>
          <td colspan="5">{{salud.intervenciones_quirurgicas}}</td>
        </tr>

        <tr>
          <th colspan="5">ENFERMEDADES QUE PADECEN LOS FAMILIARES</th>
          <th colspan="5">HA ESTADO BAJO TRATAMIENTO MÉDICO O PSICOLÓGICO</th>
        </tr>
        <tr>
          <td colspan="5">{{salud.enfermedades_familiares}}</td>
          <td colspan="5">{{salud.tratamiento_medico_psicologico}}</td>
        </tr>

        <tr>
          <th colspan="5">ENFERMEDADES PADECIDAS CON MAYOR FRECUENCIA</th>
          <th colspan="5">INSTITUCIÓN MÉDICA A LA QUE ACUDE</th>
        </tr>
        <tr>
          <td colspan="5">{{salud.enfermedades_mayor_frecuencia}}</td>
          <td colspan="5">{{salud.institucion_medica}}</td>
        </tr>

      </table>
    </div>

    <div class="general-info">
      <h3>INFORMACIÓN ACADÉMICA</h3>
      <table>
        <tr>
          <th>ESCOLARIDAD</th>
          <th>INSTITUCIÓN</th>
          <th>CIUDAD Y ESTADO</th>
          <th>PERIODOS</th>
          <th>EXHIBE CERTIFICADO</th>
        </tr>
        {% for grado in info_academica_grados %}
        <tr>
          <td>{{grado}}</td>
          <td>{{grado.institucion}}</td>
          <td>{{grado.ciudad}}</td>
          <td>{{grado.anos}}</td>
          <td>{{grado.certificado}}</td>
        </tr>
        {% endfor %}

        <tr>
          <th>CEDULA PROFESIONAL</th>
          <td colspan="4">{{info_academica.cedula_profesional}}</td>
        </tr>
      </table>
      <table>
        <tr>
          <th>DOMINIO DE OTROS IDIOMAS</th>
          <th>HABLADO <small>(PORCENTAJE)</small></th>
          <th>LEÍDO <small>(PORCENTAJE)</small></th>
          <th>ESCRITO <small>(PORCENTAJE)</small></th>
        </tr>
        <tr>
          <td>{{info_academica_idioma}}</td>
          <td>{{info_academica_idioma.hablado|default:"&nbsp;"}}</td>
          <td>{{info_academica_idioma.leido|default:""}}</td>
          <td>{{info_academica_idioma.escuchado|default:""}}</td>
        </tr>
      </table>
      <table>
        <tr>
          <th colspan="2"></th>
          <th colspan="2"><strong>¿ESTUDIA ACTUALMENTE?</strong></th>
          <th>SÍ</th>
          <td>
            {% if info_academica.estudios_institucion %}X{% endif %}
          </td>
          <th>NO</th>
          <td>
            {% if not info_academica.estudios_institucion %}X{% endif %}
          </td>
        </tr>
        <tr>
          <th colspan="8">EN CASO DE QUE SÍ, RESPONDA LO SIGUIENTE:</th>
        </tr>
        <tr>
          <th colspan="2">INSTITUCIÓN</th>
          <th colspan="2">QUÉ ESTUDIA</th>
          <th colspan="2">HORARIOS</th>
          <th colspan="2">DÍAS</th>
        </tr>
        <tr>
          <td colspan="2">{{info_academica.estudios_institucion|default:'&nbsp;'}}</td>
          <td colspan="2">{{info_academica.estudios_que|default:''}}</td>
          <td colspan="2">{{info_academica.estudios_horarios|default:''}}</td>
          <td colspan="2">{{info_academica.estudios_dias|default:''}}</td>
        </tr>
      </table>
    </div>

    <div class="activities">
      <h3>ACTIVIDADES Y HÁBITOS</h3>
      <table>
        <tr>
          <th colspan="2">CADA CUÁNTO TIEMPO CONSUME</th>
          <th>TABACO</th>
          <td>&nbsp;</td>
          <th>ALCOHOL</th>
          <td>&nbsp;</td>
          <th>OTRAS</th>
          <td>&nbsp;</td>
        </tr>

        <tr>
          <th colspan="2">RELIGIÓN</th>
          <td colspan="2">&nbsp;</td>
          <th colspan="2">CADA CUANTO TIEMPO LA PRACTICA Y EN QUÉ HORARIOS</th>
          <td colspan="2">&nbsp;</td>
        </tr>
      </table>

      <table>
        <tr>
          <td class="no-bg">
            <table class="inner-table">
              <tr>
                <th colspan="2" class="title">PERIODOS DE INACTIVIDAD LABORAL</th>
              </tr>
              <tr>
                <th>FECHAS</th>
                <th>ACTIVIDAD QUE REALIZÓ</th>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td></td>
              </tr>
            </table>
          </td>
          <th width="1"></th>

          <td class="no-bg">
            <table class="inner-table">
              <tr>
                <th colspan="2" class="title">NEGOCIOS POR CUENTA PROPIA</th>
              </tr>
              <tr>
                <th>PERIODOS</th>
                <th>ACTIVIDADES A LAS QUE SE DEDICÓ</th>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>

    {% include 'sections/reportes/seccion/footer.html' %}
  </div>
</section>
<div class="page-break"></div>
