<section class="laboral-study-page laboral-general">
  <div class="background-2">
    {% include 'sections/reportes/socioeconomico/header.html' %}

    <div>
      <h3>REFERENCIAS VECINALES Y PERSONALES</h3>

      <h4>REFERENCIA VECINAL (OBLIGATORIA)</h4>
      <table>
        <tr>
          <th>NOMBRE COMPLETO</th>
          <td colspan="2">&nbsp;</td>
          <th>TELÉFONO (CON LADA)</th>
          <td>&nbsp;</td>
        </tr>

        <tr>
          <th>DOMICILIO COMPLETO</th>
          <td colspan="2">&nbsp;</td>
          <th>PARENTESCO</th>
          <td>&nbsp;</td>
        </tr>

        <tr>
          <th>OCUPACIÓN (CARGO Y EMPRESA)</th>
          <td colspan="2">&nbsp;</td>
          <th>TIEMPO DE CONOCER AL EVALUADO</th>
          <td>&nbsp;</td>
        </tr>

        <tr>
          <th>COMO CONOCIÓ AL EVALUADO</th>
          <td colspan="4">&nbsp;</td>
        </tr>
      </table>
      
      <h4>REFERENCIA PERSONAL (OBLIGATORIA)</h4>
      <table>
        <tr>
          <th>NOMBRE COMPLETO</th>
          <td colspan="2">&nbsp;</td>
          <th>TELÉFONO (CON LADA)</th>
          <td>&nbsp;</td>
        </tr>

        <tr>
          <th>DOMICILIO COMPLETO</th>
          <td colspan="2">&nbsp;</td>
          <th>PARENTESCO</th>
          <td>&nbsp;</td>
        </tr>

        <tr>
          <th>OCUPACIÓN (CARGO Y EMPRESA)</th>
          <td colspan="2">&nbsp;</td>
          <th>TIEMPO DE CONOCER AL EVALUADO</th>
          <td>&nbsp;</td>
        </tr>

        <tr>
          <th>COMO CONOCIÓ AL EVALUADO</th>
          <td colspan="4">&nbsp;</td>
        </tr>
      </table>

      <h4>REFERENCIA PERSONAL (OPCIONAL)</h4>
      <table>
        <tr>
          <th>NOMBRE COMPLETO</th>
          <td colspan="2">&nbsp;</td>
          <th>TELÉFONO (CON LADA)</th>
          <td>&nbsp;</td>
        </tr>

        <tr>
          <th>DOMICILIO COMPLETO</th>
          <td colspan="2">&nbsp;</td>
          <th>PARENTESCO</th>
          <td>&nbsp;</td>
        </tr>
      </table>
    </div>

    <div class="info-economica">
      <h3>INFORMACIÓN ECONÓMICA MENSUAL <br /><small>(INVOLUCRA A TODOS LOS QUE VIVEN CON EL CANDIDATO)</small></h3>

      <table>
        <tr>
          <th colspan="3">
            <h4>INGRESOS</h4>
          </th>
          <th colspan="3">
            <h4>EGRESOS</h4>
          </th>
        </tr>

        <tr>
          <th>INVESTIGADO</th>
          <td colspan="2">$</td>
          <th>IMPUESTOS</th>
          <td colspan="2">$</td>
        </tr>

        <tr>
          <th colspan="3"></th>
          <th>VESTIDO</th>
          <td colspan="2"><span>$</span></td>
        </tr>

        <tr>
          <th>CÓNYUGE</th>
          <td colspan="2">$</td>
          <th>GASTOS AUTOMÓVIL</th>
          <td colspan="2">$</td>
        </tr>

        <tr>
          <th colspan="3"></th>
          <th>TRANSPORTE PÚBLICO</th>
          <td colspan="2"><span>$</span></td>
        </tr>

        <tr>
          <th>PADRES</th>
          <td colspan="2">$</td>
          <th>ALIMENTACIÓN</th>
          <td colspan="2">$</td>
        </tr>

        <tr>
          <th colspan="3"></th>
          <th>EDUCACIÓN</th>
          <td colspan="2"><span>$</span></td>
        </tr>

        <tr>
          <th>HERMANOS</th>
          <td colspan="2">$</td>
          <th>MÉDICO</th>
          <td colspan="2">$</td>
        </tr>

        <tr>
          <th colspan="3"></th>
          <th>DIVERSIONES</th>
          <td colspan="2"><span>$</span></td>
        </tr>

        <tr>
          <th>OTROS <small>(ESPECIFICAR)</small></th>
          <td colspan="2">$</td>
          <th>SERVICIOS <small>(AGUA, LUZ, TELÉFONO, GAS, CABLE)</small></th>
          <td colspan="2">$</td>
        </tr>

        <tr>
          <th></th>
          <td colspan="2">$</td>
          <th>SERVICIO DOMÉSTICO</th>
          <td colspan="2">$</td>
        </tr>

        <tr>
          <th></th>
          <td colspan="2">$</td>
          <th>SEGUROS</th>
          <td colspan="2">$</td>
        </tr>

        <tr>
          <th></th>
          <td colspan="2">$</td>
          <th>DEUDA 1 <small>INSTITUCIÓN</small></th>
          <td colspan="2">$</td>
        </tr>

        <tr>
          <th></th>
          <td colspan="2">$</td>
          <th>DEUDA 2 <small>INSTITUCIÓN</small></th>
          <td colspan="2">$</td>
        </tr>

        <tr>
          <th></th>
          <td colspan="2">$</td>
          <th>OTROS <small>(ESPECIFICAR)</small></th>
          <td colspan="2">$</td>
        </tr>

        <tr class="total">
          <th>TOTAL</th>
          <td colspan="2">$</td>
          <th>TOTAL</th>
          <td colspan="2">$</td>
        </tr>
      </table>
    </div>

    {% include 'sections/reportes/seccion/footer.html' %}
  </div>
</section>
<div class="page-break"></div>
