{% load app_filters %}
<section class="laboral-study-page laboral-general">
  <div class="background-2">
    {% include 'sections/reportes/socioeconomico/header.html' %}

    <div>
      <h3>REFERENCIAS VECINALES Y PERSONALES</h3>

      {% for referencia in referencias %}
        {% if referencia.tipo == "vecinal" %}
        <h4>REFERENCIA VECINAL (OBLIGATORIA)</h4>
        {% elif referencia.tipo = "personal" %}
        <h4>REFERENCIA PERSONAL (OBLIGATORIA)</h4>
        {% else %}
        <h4>REFERENCIA PERSONAL (OPCIONAL)</h4>
        {% endif %}
        {% if referencia.tipo == "vecinal" or referencia.tipo = "personal" %}
        <table>
          <tr>
            <th>NOMBRE COMPLETO</th>
            <td colspan="2">{{referencia.nombre}}</td>
            <th>TELÉFONO (CON LADA)</th>
            <td>{{referencia.telefono}}</td>
          </tr>

          <tr>
            <th>DOMICILIO COMPLETO</th>
            <td colspan="2">{{referencia.domicilio}}</td>
            <th>PARENTESCO</th>
            <td>{{referencia.parentesco}}</td>
          </tr>

          <tr>
            <th>OCUPACIÓN (CARGO Y EMPRESA)</th>
            <td colspan="2">{{referencia.ocupacion}}</td>
            <th>TIEMPO DE CONOCER AL EVALUADO</th>
            <td>{{referencia.tiempo_conocido}}</td>
          </tr>

          <tr>
            <th>COMO CONOCIÓ AL EVALUADO</th>
            <td colspan="4">{{referencia.lugares_labor_evaluado}}</td>
          </tr>
        </table>
        {% else %}
          <table>
            <tr>
              <th>NOMBRE COMPLETO</th>
              <td colspan="2">{{referencia.nombre}}</td>
              <th>TELÉFONO (CON LADA)</th>
              <td>{{referencia.telefono}}</td>
            </tr>
    
            <tr>
              <th>DOMICILIO COMPLETO</th>
              <td colspan="2">{{referencia.domicilio}}</td>
              <th>PARENTESCO</th>
              <td>{{referencia.parentesco}}</td>
            </tr>
          </table>
        {% endif %}
      {% endfor %}
    </div>

    <div class="info-economica">
      <h3>INFORMACIÓN ECONÓMICA MENSUAL <br /><small>(INVOLUCRA A TODOS LOS QUE VIVEN CON EL CANDIDATO)</small></h3>
      <div>
        <table>
          <th colspan="3">
            <h4>INGRESOS</h4>
          </th>
          {% for ingreso in ingresos %}
          {% if not forloop.last %} 
          <tr>
            <th>{{ingreso.concepto}}</th>
            <td colspan="2">{{ingreso.monto|print_money}}</td>
          </tr>
          {% endif %}
          {% endfor %}
        </table>
        <table>
          <th colspan="3">
            <h4>EGRESOS</h4>
          </th>
          {% for egreso in egresos %}
          {% if not forloop.last %} 
          <tr>
            <th>{{egreso.concepto}}</th>
            <td colspan="2">{{egreso.monto|print_money}}</td>
          </tr>
          {% endif %}
          {% endfor %}
        </table>
      </div>
      <div class="totales">
        <table>
          {% for ingreso in ingresos %}
          {% if forloop.last %} 
          <tr>
            <th><strong>{{ingreso.concepto}}</strong></th>
            <th colspan="2"><h4>{{ingreso.monto|print_money}}</h4></th>
          </tr>
          {% endif %}
          {% endfor %}
        </table>
        <table>
          {% for egreso in egresos %}
          {% if forloop.last %} 
          <tr>
            <th><strong>{{egreso.concepto}}</strong></th>
            <th colspan="2"><h4>{{egreso.monto|print_money}}</h4></th>
          </tr>
          {% endif %}
          {% endfor %}
        </table>
      </div>

    </div>

    {% include 'sections/reportes/seccion/footer.html' %}
  </div>
</section>
<div class="page-break"></div>
