{% extends 'layout/base.html' %}
{% load fe_extras %}

{% block side_content %}

{% endblock %}

{% block site_wrapper %}
  <table class="table table-striped table-estatus">
    <tr>
      <th>Folio</th>
      <th>Subtotal</th>
      <th>Total</th>
      <th>Fecha</th>
      <th>Investigaciones</th>
    </tr>
    {% for factura in facturas %}
      <tr>
        <td><a href="/cobranza/factura/{{factura.folio}}">{{factura.folio}}</a></td>
        <td>{{factura.subtotal}}</td>
        <td>{{factura.total}}</td>
        <td>{{factura.fecha}}</td>
        <td>{{factura.investigacion.all|length}}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
