{% extends 'layout/base.html' %}

{% load fe_extras %}
{% block side_content %}

{% endblock %}

{% block site_wrapper %}
  <h1 class="page-header">
    {% if not folio %}
      Agregar Factura
    {% else %}
      Editar Factura
    {% endif %}
  </h1>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Cobranza</h3>
      </div>
      <div class="panel-body">
        <label>Factura:</label>
        <input class="form-control" type="file" id="factura">

        <form action="#" method="POST">
          {% csrf_token %}

          {{ facturaForm.management_form }}
          {{facturaForm}}
          <br />

          <label>Investigaciones:</label>
          <div class="textarea-anchors">
            <div class="row">
              <div class="col-md-6">
                <textarea name="investigaciones" rows="10" class="form-control">{% for investigacion in factura.investigacion.all %}{{investigacion.id}}
  {% endfor %}</textarea>
              </div>
              <div class="col-md-6">
                <div class="anchors-wrapper">
                  {% for investigacion in factura.investigacion.all %}
                    <a href="/candidato/investigacion/{{investigacion.id}}/editar" target="_blank">{{investigacion.id}}</a>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>

          <br />

          <input type="submit" class="btn btn-primary" value="Guardar">
          <a href="/cobranza/facturas" class="btn btn-warning">Cancelar</a>

          {% if folio %}
          <br /><br />
          <a href="/cobranza/factura/{{folio}}/eliminar" class="btn btn-danger pull-right btn_eliminar">Eliminar</a>
          {% endif %}

        </form>

      </div>
    </div>
  </div>
{% endblock %}
