{% extends 'partials/base.html' %}
{% load static crispy_forms_tags %}

{% block title %}{{ title }}{% endblock title %}

{% block extra_css %}
<!-- select2 css -->
<link href="{% static 'libs/select2/dist/css/select2.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock extra_css %}

{% block content %}

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">

  <div class="page-content">
    <div class="container-fluid">

      <!-- start page title -->
      <div class="row">
        <div class="col-12">
          <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">Clientes</h4>

            <div class="page-title-right">
              <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li class="breadcrumb-item active">
                  <a href="{% url 'companias_list' %}">Listado de clientes</a>
                </li>
                
                {% if compania_id %}
                <li class="breadcrumb-item active">
                  <a href="{% url 'companias_detail' compania_id %}">Detalle de cliente</a>
                </li>
                {% endif %}
                  
                <li class="breadcrumb-item active">Formulario de cliente</li>
              </ol>
            </div>

          </div>
        </div>
      </div>
      <!-- end page title -->

      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col-md-12">
                  <h4 class="card-title">Formulario de datos fiscales</h4>
                </div>
              </div>

            </div>
            <div class="card-body">

              <form role="form" method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}

                <button type="submit" class="btn btn-primary waves-effect btn-label waves-light"> <i
                    class="bx bx-check label-icon"></i>
                  Guardar cliente</button>

                <a href="{% url 'companias_list' %}"
                  class="btn btn-warning waves-effect btn-label waves-light"> <i class="bx bx-user-x label-icon"></i>
                  Cancelar</a>

            </div>
            </form>
          </div>
        </div>
      </div> <!-- end col -->
    </div> <!-- end row -->

  </div> <!-- container-fluid -->
</div>
<!-- End Page-content -->

{% block footer %}
{% include 'partials/footer.html' %}
{% endblock footer %}
</div>
<!-- end main content-->
{% endblock content %}


{% block extra_js %}
<script src="{% static 'js/system/estado_municipio.js'%}"></script>
<script src="{% static 'libs/select2/dist/js/select2.min.js'%}"></script>

<script>
  $(document).ready(function () {
    $('#id_estado').select2();
    $('#id_municipio').select2();
  });
</script>
{% endblock extra_js %}