{% extends 'partials/base.html' %}
{% load static i18n crispy_forms_tags %}


{% block content %}

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">

  <div class="page-content">
    <div class="container-fluid">

      <!-- start page title -->
      <div class="row">
        <div class="col-12">
          <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">Clientes</h4>

            <div class="page-title-right">
              <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                <li class="breadcrumb-item "><a href="{% url 'companias_list' %}">Listado de clientes</a></li>
                <li class="breadcrumb-item "><a href="{% url 'companias_detail' compania.pk %}">Detalle de cliente</a></li>
                <li class="breadcrumb-item active">Eliminar cliente</li>
              </ol>
            </div>

          </div>
        </div>
      </div>
      <!-- end page title -->

      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col-md-12">
                  <h4 class="card-title">Formulario del cliente</h4>
                </div>
              </div>

            </div>
            <div class="card-body">

              <form action="" method="post">{% csrf_token %}
               
                <div class="table-responsive">
                  <table class="table table-striped mb-0">
                    <tbody>
                      <tr>
                        <td>Nombre:</td>
                        <td>{{ compania.nombre }} </td>
                      </tr>
      
                      <tr>
                        <td>Teléfono:</td>
                        <td>{{ compania.telefono }}</td>
                      </tr>
      
                      <tr>
                        <td>Teléfono alterno:</td>
                        <td>{{ compania.telefono_alt }}</td>
                      </tr>
      
                      <tr>
                        <td>Email:</td>
                        <td>{{ compania.email }}</td>
                      </tr>
      
                      <tr>
                        <td>Giro:</td>
                        <td>{{ compania.role }}</td>
                      </tr>
      
                      <tr>
                        <td>Dirección fiscal:</td>
                        <td>{{ compania.rfc_direccion }}</td>
                      </tr>
      
                      <tr>
                        <td>RFC:</td>
                        <td>{{ compania.rfc }}</td>
                      </tr>
      
                      <tr>
                        <td>Razón social:</td>
                        <td>{{ compania.razon_social }}</td>
                      </tr>
      
                      <!-- <tr>
                        <td>Es Cliene:</td>
                        <td>{{ compania.es_cliente }}</td>
                      </tr> -->
      
                      <tr>
                        <td>Notas:</td>
                        <td>{{ compania.rfc }}</td>
                      </tr>
      
                      <tr>
                        <td>Fecha de creación:</td>
                        <td>{{ compania.fecha_creacion }}</td>
                      </tr>
      
                    </tbody>
                  </table>
                </div><!-- end div responsive -->
      

                 

                  <p>¿Estás seguro de eliminar este cliente?</p>

                  <a href="{% url 'companias_detail' compania.pk %}" 
                  class="btn btn-primary waves-effect btn-label waves-light"><i class="bx bx-arrow-back label-icon"></i>Cancelar</a>
                  
                  <a href="" onclick="document.forms[0].submit();return false;"
                  class="btn btn-danger waves-effect btn-label waves-light"><i class="bx bx-trash label-icon"></i>Eliminar</a>

              </form>

            </div>
            </form>

          </div>
        </div> <!-- end col -->
      </div> <!-- end row -->

    </div> <!-- container-fluid -->
  </div>
  <!-- End Page-content -->

  {% block footer %}
  {% include 'partials/footer.html' %}
  {% endblock footer %}
</div>
<!-- end main content-->
{% endblock content %}
