{% extends 'layout/base.html' %}
{% load fe_extras %}
{% block side_content %}
	{% include 'sections/candidato/seccion/search_sidebar.html' %}
{% endblock %}

{% block site_wrapper %}

	{% include 'sections/candidato/seccion/candidato_header.html' %}

	{% include 'sections/candidato/seccion/menu_trayectoria.html' %}
	
	{% include 'sections/entrevista/seccion/menu_entrevista.html' %}

	<h2>Importar archivo</h2>
	<p>Un vez que hayas verficado el archivo de excel y la información esté en el formato adecuado
		lo siguiente es capturar esa información en el sistema.
	</p>
	<p>Para esto solo necesitas seleccionar el archivo y dar click en "Importar".</p>

	<p> Ya que la información se encuentre en el sistema la podrás modificar si es necesario.</p>

	<div class="row">
		<div class="col-md-7 col-md-offset-1">
			{% if pre_candidato.errors %}
				<div class="alert alert-danger">
					<p><strong>Errores en lectura de archivo:</strong></p>
					{% for error in pre_candidato.errors %}
						<p>{{ error }}</p>
					{% endfor %}
				</div>
			{% endif %}
			{% if candidato.errors %}
				<div class="alert alert-danger">
					<p><strong>Errores al guardar información:</strong></p>
					{% for error in candidato.errors %}
						<p>{{ error }}</p>
					{% endfor %}
				</div>
			{% endif %}
		</div>
	</div>

	<form class="form-horizontal" role="form" action="#" method="post" enctype="multipart/form-data">{% csrf_token %}
		<div class="row">
			<div class="col-md-4">
				{{form}}
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2 col-md-offset-2">
				<div class="">
					<button type="submit" class="btn btn-primary form-control" title="Importar">Importar <span class="glyphicon glyphicon-export"></span></button>
				</div>
			</div>
		</div>
	</form>

{% include 'sections/candidato/seccion/empresa_select_modal.html' %}
{% endblock %}