{% load fe_extras %}
{% load static crispy_forms_tags %}
<form action="#" method="post">{% csrf_token %}

	<h5>Tarjetas de crédito</h5>

	{{ tarjetas_formset.management_form }}
	{% for form in tarjetas_formset %}
	{{ form.id }}
	<div class="row">
		<div class="col-3"> 
			{{ form.institucion|as_crispy_field }}
		</div>
		<div class="col-3"> 
			{{ form.limite_credito|as_crispy_field }}
		</div>
		<div class="col-3"> 
			{{ form.pago_minimo|as_crispy_field }}
		</div>
		<div class="col-3"> 
			{{ form.saldo_actual|as_crispy_field }}
		</div>
	</div>
	{% if not forloop.last %}
	<hr class="thin-separator" />
	{% endif %}
	{% endfor %}

    <br>

	<h5>Cuentas de débito</h5>

	{{ cuentas_deb_formset.management_form }}
	{% for form in cuentas_deb_formset %}
	{{ form.id }}
	<div class="row">
		<div class="col-3"> 
			{{ form.institucion|as_crispy_field }}
		</div>
		<div class="col-3">
			{{ form.saldo_mensual|as_crispy_field }}
		</div>
		<div class="col-3">
			{{ form.antiguedad|as_crispy_field }}
		</div>
		<div class="col-3"> 
			{{ form.ahorro|as_crispy_field }}
		</div>
	</div>
	{% if not forloop.last %}
	<hr class="thin-separator" />
	{% endif %}
	{% endfor %}
	
	<br/>

	<h5>Automóviless</h5>

	{{ autos_formset.management_form }}
	{% for form in autos_formset %}
	{{ form.id }}
	<div class="row">
		<div class="col-3"> 
			{{ form.marca|as_crispy_field }}
		</div>
		<div class="col-3"> 
			{{ form.modelo_ano|as_crispy_field }}
		</div>
		<div class="col-3"> 
			{{ form.liquidacion|as_crispy_field }}
		</div>
		<div class="col-3"> 
			{{ form.valor_comercial|as_crispy_field }}
		</div>
	</div>
	{% if not forloop.last %}
	<hr class="thin-separator" />
	{% endif %}
	{% endfor %}

	<br>

	<h5>Bienes raíces</h5>

	{{ bienesraices_formset.management_form }}
	{% for form in bienesraices_formset %}
	{{ form.id }}
	<div class="row">
		<div class="col-3"> 
			{{ form.tipo_inmueble|as_crispy_field }}
		</div>
		<div class="col-3"> 
			{{ form.ubicacion|as_crispy_field }}
		</div>
		<div class="col-3"> 
			{{ form.liquidacion|as_crispy_field }}
		</div>
		<div class="col-3"> 
			{{ form.valor_comercial|as_crispy_field }}
		</div>
	</div>
	{% if not forloop.last %}
	<hr class="thin-separator" />
	{% endif %}
	{% endfor %}

	<br>

	<h5>Seguros</h5>

	{{ seguros_formset.management_form }}
	{% for form in seguros_formset %}
	{{ form.id }}
	<div class="row">
		<div class="col-3"> 
			{{ form.empresa|as_crispy_field }}
		</div>
		<div class="col-3"> 
			{{ form.tipo|as_crispy_field }}
		</div>
		<div class="col-3"> 
			{{ form.forma_pago|as_crispy_field }}
		</div>
		<div class="col-3">
			{{ form.vigencia|as_crispy_field }}
		</div>
	</div>
	{% if not forloop.last %}
	<hr class="thin-separator" />
	{% endif %}
	{% endfor %}


	<h5>Deudas actuales</h5>

	{{ deudas_formset.management_form }}

	{% for form in deudas_formset %}
	{{ form.id }}
	{{ form.person }}
	<div class="row">
		<div class="col-2"> 
			{{ form.fecha_otorgamiento|as_crispy_field }}
		</div>
		<div class="col-2">
			{{ form.tipo|as_crispy_field }}
		</div>
		<div class="col-2"> 
			{{ form.institucion|as_crispy_field }}
		</div>
		<div class="col-2"> 
			{{ form.cantidad_total|as_crispy_field }}
		</div>
		<div class="col-2"> 
			{{ form.saldo_actual|as_crispy_field }}
		</div>
		<div class="col-2"> 
			{{ form.pago_mensual|as_crispy_field }}
		</div>
	</div>
	{% if not forloop.last %}
	<hr class="thin-separator" />
	{% endif %}
	{% endfor %}

	<br>
	{% include 'sections/entrevista/forms/cta.html' %}



</form>