{% load fe_extras %}
<form action="#" method="post">{% csrf_token %}
	
	{% include 'sections/entrevista/forms/cta.html' %}
	
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="row">
				<div class="col-md-12">
					<div class="text-danger">{{ candidato_form.dependientes_economicos.errors }}</div>
					{{ candidato_form.dependientes_economicos.label_tag }}
					{{ candidato_form.dependientes_economicos }}
				</div>
			</div>
		</div>
	</div>

	{{ pv_formset.management_form }}
	{% for form in pv_formset %}
	<div class="panel panel-default">
		{{ form.id }}
		<div class="panel-heading">
			<h3 class="panel-title">{{ form.instance.categoria_viv|title }}</h3>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-3">
					<div class="text-danger">{{ form.activo.errors }}</div>
					{{ form.activo.label_tag }}
					{{ form.activo }}
				</div>
				<div class="col-md-3">
					<div class="text-danger">{{ form.numero_credito.errors }}</div>
					{{ form.numero_credito.label_tag }}
					{{ form.numero_credito }}
				</div>
				<div class="col-md-3">
					<div class="text-danger">{{ form.fecha_tramite.errors }}</div>
					{{ form.fecha_tramite.label_tag }}
					{{ form.fecha_tramite }}
				</div>
				<div class="col-md-3">
					<div class="text-danger">{{ form.uso.errors }}</div>
					{{ form.uso.label_tag }}
					{{ form.uso }}
				</div>
				{% if forloop.counter == 1 %}
				<div class="col-md-12">
					<div class="text-danger">{{ form.motivo.errors }}</div>
					{{ form.motivo.label_tag }}
					{{ form.motivo }}
				</div>
				{% endif %}
			</div>
			
		</div>
	</div>
	{% endfor %}

	<div class="row">
		<div class="col-xs-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">INGRESOS</h3>
				</div>
				<div class="panel-body">
					{{ ingresos_formset.management_form }}
					{% for form in ingresos_formset %}
							{{ form.id }}
						<div class="row">
							<div class="col-xs-6" >
								{% if form.instance.concepto == "otros" %}
									{{form.detalle}}
								{% else %}
								<label>{{form.instance.concepto|clean_type}}:</label>
								{% endif %}
							</div>
							<div class="col-xs-6">
								<div class="text-danger">{{ form.monto.errors }}</div>
								{{form.monto}}
							</div>
						</div>
						<hr  class="thin-separator" />
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="col-xs-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">EGRESOS</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-6">
							{{ egresos_formset.management_form }}
							{% for form in egresos_formset %}
									{{ form.id }}
								<div class="row">
									<div class="col-xs-6" >
										{% if form.instance.concepto != 'deuda1' and form.instance.concepto != 'deuda2' %}
										<label>{{form.instance.concepto|clean_type}}:</label>
										{% else %}
										{{form.detalle}}
										{% endif %}
									</div>
									<div class="col-xs-6">
										<div class="text-danger">{{ form.monto.errors }}</div>
										{{form.monto}}
									</div>
								</div>
								{% if forloop.counter == 7 %}<!--  Ajuste para hacer 2 columnas con este formset (egresos) -->
									</div>
									<div class="col-xs-6">
								{% else %}
									<hr  class="thin-separator" />
								{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
