<form action="#" method="post">{% csrf_token %}
	<div class="row">
		<div class="col-md-12">
			<input class="btn btn-lrg btn-primary" type="submit" value="Guardar cambios" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h2></h2>
			{% for field in situacion_vivienda_form %}
				<div class="form-group">
					<div class="text-danger">{{field.errors}}</div>
					{{field.label_tag}}
					{{field}}
				</div>
			{% endfor %}
			<h2>Propietario</h2>
			{% for field in propietario_vivienda_form %}
				<div class="form-group">
					<div class="text-danger">{{field.errors}}</div>
					{{field.label_tag}}
					{{field}}
				</div>
			{% endfor %}
		</div>
		<div class="col-md-4">
			<h2>Características</h2>
			{% for field in caracteristicas_vivienda_form %}
				<div class="form-group">
					<div class="text-danger">{{field.errors}}</div>
					{{field.label_tag}}
					{{field}}
				</div>
			{% endfor %}
			<h2>Tipo de inmueble</h2>
			{% for field in tipo_inmueble_vivienda_form %}
				<div class="form-group">
					<div class="text-danger">{{field.errors}}</div>
					{{field.label_tag}}
					{{field}}
				</div>
			{% endfor %}
		</div>
		<div class="col-md-4">
			<h2>Distribución y Dimensiones</h2>
			{% for field in distribucion_vivienda %}
				<div class="form-group">
					<div class="text-danger">{{field.errors}}</div>
					{{field.label_tag}}
					{{field}}
				</div>
			{% endfor %}
		</div>
	</div>
</form>