{% extends 'layout/base.html' %}

{% block side_content %}
	<ul class="nav nav-sidebar">
		<li class="{% if seccion == 'datos-generales' %}active{% endif %}"><a href="/investigacion/{{ investigacion.id }}/editar/datos-generales">Datos generales</a></li>
		<li class="{% if seccion == 'info-personal' %}active{% endif %}"><a href="/investigacion/{{ investigacion.id }}/editar/info-personal">Personal</a></li>
		<li class="{% if seccion == 'salud' %}active{% endif %}"><a href="/investigacion/{{ investigacion.id }}/editar/salud">Datos de salud</a></li>
		<li class="{% if seccion == 'actividades' %}active{% endif %}"><a href="/investigacion/{{ investigacion.id }}/editar/actividades">Actividades y Hábitos</a></li>
		<li class="{% if seccion == 'academica' %}active{% endif %}"><a href="/investigacion/{{ investigacion.id }}/editar/academica">Información Académica</a></li>

		<li class="{% if seccion == 'vivienda' %}active{% endif %}"><a href="/investigacion/{{ investigacion.id }}/editar/vivienda">Situación de la vivienda</a></li>
		<li class="{% if seccion == 'familia' %}active{% endif %}"><a href="/investigacion/{{ investigacion.id }}/editar/familia">Marco Familiar</a></li>
		<li class="{% if seccion == 'economia-mensual' %}active{% endif %}"><a href="/investigacion/{{ investigacion.id }}/editar/economia-mensual">Economía Mensual</a></li>

		<li class="{% if seccion == 'sit-economica' %}active{% endif %}"><a href="/investigacion/{{ investigacion.id }}/editar/sit-economica">Situación Económica</a></li>
		<li class="{% if seccion == 'referencias' %}active{% endif %}"><a href="/investigacion/{{ investigacion.id }}/editar/referencias">Referencias Personales</a></li>
		<li class="{% if seccion == 'evaluacion' %}active{% endif %}"><a href="/investigacion/{{ investigacion.id }}/editar/evaluacion">Evaluación</a></li>
		<li class="{% if seccion == 'resumen' %}active{% endif %}"><a href="/investigacion/{{ investigacion.id }}/editar/resumen">Resumen</a></li>

	</ul>
{% endblock %}

{% block site_wrapper %}
<h1 class="page-header">{{title}}</h1>
<p class="{{msg_class}}">{{ state }}</p>

<div id="form-container">
	{% include form_template %}
</div>

{% endblock %}