{% load app_filters %}
{% for ref in trayectoria %}
<section class="laboral-study-page">
  <div class="background-2">
    <div class="header">
      <h1>Estudio Laboral</h1>
      <img src="/media/logo-nuevo.png" />
      <div class="clear-fix"></div>
    </div>

    <div class="work-reference">
      <h3>REFERENCIA LABORAL</h3>
      <table>
        <tr>
          <td class="no-bg no-padding">
            <table>
              <tr>
                <th>
                  AFILIACIÓN AL IMSS
                </th>
                <td>
                  {{ref.aparece_nss|activo_opciones|default:'&nbsp;'}}
                </td>
              </tr>
              <tr>
                <th>
                  REPORTA CANDIDATO
                </th>
                <td>
                  {{ref.reporta_candidato|activo_opciones}}
                </td>
              </tr>
            </table>
          </td>
          <td class="no-bg no-padding">
            <table>
              <tr>
                <th>
                  CARTA LABORAL
                </th>
                <td colspan="3">
                  {% if ref.cartalaboral.fecha or ref.cartalaboral.expide == "NO PRESENTA" %}
                  FECHA: {{ref.cartalaboral.fecha}} <Br />
                  QUIEN EXPIDE: {{ref.cartalaboral.expide}}
                  {% else %}
                  NO <br /><br />
                  {% endif %}
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>

    <div class="company">
      <h3>EMPRESA</h3>
      <table>
        <tr>
          <th>RAZÓN SOCIAL:</th>
          <td>{{ref.compania.razon_social}}</td>
          <th>SUCURSAL Y/O UBICACIÓN</th>
          <td>
            {% with ref.compania.sucursales_set.all|first as sucursal %}
            {{sucursal}} / {{sucursal.ciudad}}
            {% endwith %}
          </td>
        </tr>
        <tr>
          <th>NOMBRE COMERCIAL:</th>
          <td>{{ref.compania}}</td>
          <th>GIRO</th>
          <td>{{ref.compania.role|default:"&nbsp;"}}</td>
        </tr>
        <tr>
          {% with ref.compania.sucursales_set.all|first as sucursal %}
          <th>TELÉFONO</th>
          <td>{{sucursal.telefono|default:"&nbsp;"}}</td>
          <th>EMAIL</th>
          <td>{{sucursal.email|default:"NO PROPORCIONÓ"}}</td>
          {% endwith %}
        </tr>
      </table>
    </div>

    <div class="resume">
      <table>
        <tr>
          <th width="50%">FECHAS LABORADAS</th>
          <th>PUESTOS DESEMPEÑADOS</th>
        </tr>
        <tr>
          <td>
            <table>
              <tr>
                <th>INGRESO:</th>
                <td>{{ref.periodo_alta|default:""}}</td>
                <th>EGRESO</th>
                <td>{{ref.periodo_baja|default:""}}</td>
              </tr>
            </table>
          </td>
          <td>
            <table>
              <tr>
                <th>INICIAL:</th>
                <td>{{ref.puesto_inicial|default:""}}</td>
                <th>FINAL:</th>
                <td>{{ref.puesto_final|default:""}}</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>

      <table>
        <tr>
          <th>FUNCIONES Y/O RESPONSABILIDADES</th>
        </tr>
        <tr>
          <td>
            <table>
              <tr>
                <td>{{ref.funciones|default:"&nbsp;"}}</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>

      <table>
        <tr>
          <th width="50%">SUELDO MENSUAL</th>
          <th>PERSONAS A SU CARGO</th>
        </tr>
        <tr>
          <td>
            <table>
              <tr>
                <th>INICIAL</th>
                <td colspan="2">{{ref.sueldo_inicial|default:""|print_money}}</td>
                <th>FINAL</th>
                <td colspan="2">{{ref.sueldo_final|default:""|print_money}}</td>
              </tr>
            </table>
          </td>
          <td>
            <table>
              <tr>
                <th>NÚMERO</th>
                <td>{{ref.datosgenerales.num_personas}}</td>
                <th>PUESTOS</th>
                <td>{{ref.datosgenerales.puestos}}</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>

      <table>
        <tr>
          <th>JEFE INMEDIATO</th>
        </tr>
        <tr>
          <td>
            <table>
              <tr>
                <th>NOMBRE</th>
                <td>{{ref.opinion_jefe.nombre|default:""}}</td>
                <th>PUESTO</th>
                <td>{{ref.opinion_jefe.puesto|default:""}}</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>

      <table>
        <tr>
          <th>MOTIVO DE SEPARACIÓN</th>
        </tr>
        <tr>
          <td>
            <table>
              <tr>
                <th>SEÑALADO POR LA EMPRESA:</th>
                <td>{{ref.datosgenerales.motivo_salida}}</td>
                <th>SEÑALADO POR EL CANDIDATO:</th>
                <td>{{ref.datosgenerales.motivo_salida_candidato}}</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>

      <table>
        <tr>
          <th>MANEJO DE VALORES</th>
          <th>RECONTRATACIÓN</th>
          <th>FUE SINDICALIZADO</th>
        </tr>
        <tr>
          <td>
            <table>
              <tr>
                <th>SI</th>
                <td>{% if ref.datosgenerales.tiene_valores == 1 %}X{% else %}&nbsp;{% endif %}</td>
                <th>NO</th>
                <td>{% if ref.datosgenerales.tiene_valores == 2 %}X{% else %}&nbsp;{% endif %}</td>
              </tr>
            </table>
          </td>
          <td>
            <table>
              <tr>
                <th>SI</th>
                <td>{% if ref.datosgenerales.es_recontratable == 1 %}X{% else %}&nbsp;{% endif %}</td>
                <th>NO</th>
                <td>{% if ref.datosgenerales.es_recontratable == 2 %}X{% else %}&nbsp;{% endif %}</td>
              </tr>
            </table>
          </td>
          <td>
            <table>
              <tr>
                <th>SI</th>
                <td>{% if ref.datosgenerales.tiene_sindicato == 1 %}X{% else %}&nbsp;{% endif %}</td>
                <th>NO</th>
                <td>{% if ref.datosgenerales.tiene_sindicato == 2 %}X{% else %}&nbsp;{% endif %}</td>
              </tr>
            </table>
          </td>
        </tr>

        <tr>
          <td class="normal-font">TIPO DE VALORES</td>
          <td class="normal-font">MOTIVO</td>
          <td class="normal-font">NOMBRE DEL SINDICATO</td>
        </tr>
        <tr>
          <th>
            {% if ref.datosgenerales.tiene_mercancia %}
            MERCANCIA
            {% endif %}

            {% if ref.datosgenerales.tiene_informacion %}
            INFORMACIÓN
            {% endif %}

            {% if ref.datosgenerales.tiene_documentos %}
            DOCUMENTOS
            {% endif %}

            {% if ref.datosgenerales.tiene_efectivo %}
            EFECTIVO
            {% endif %}
          </th>
          <th>
            {{ref.datosgenerales.recontratable_motivo}}
          </th>
          <th>
            {{ref.datosgenerales.nombre_sindicato}}
          </th>
        </tr>
      </table>

      <table class="table-border">
        <tr>
          <th>CUADRO DE EVALUACIÓN: ACTITUDES Y APTITUDES (EXCELENTE-BUENO-REGULAR-MALO)</th>
        </tr>
        <tr>
          <td>
            <table>
              <tr>
                <th>PRODUCTIVIDAD</th>
                <th>ADAPTABILIDAD</th>
                <th>PUNTUALIDAD</th>
                <th>ASISTENCIA</th>
                <th>DISPONIBILIDAD</th>
                <th>RESPONSABILIDAD</th>
                <th>RELACIONES INTERPERSONALES</th>
                <th>COMPROMISO</th>
                <th>HONESTIDAD</th>
                <th>TOMA DE DECISIONES</th>
                <th>SOLUCIÓN DE PROBLEMAS</th>
              </tr>
              <tr>
                <td>{{ref.evaluacion_set.all|first|evaluacion_opciones:"productividad"|default:"&nbsp;"}}</td>
                <td>{{ref.evaluacion_set.all|first|evaluacion_opciones:"adaptabilidad"}}</td>
                <td>{{ref.evaluacion_set.all|first|evaluacion_opciones:"puntualidad"}}</td>
                <td>{{ref.evaluacion_set.all|first|evaluacion_opciones:"asistencia"}}</td>
                <td>{{ref.evaluacion_set.all|first|evaluacion_opciones:"disponibilidad"}}</td>
                <td>{{ref.evaluacion_set.all|first|evaluacion_opciones:"responsabilidad"}}</td>
                <td>{{ref.evaluacion_set.all|first|evaluacion_opciones:"relacion_companeros"}}</td>
                <td>{{ref.evaluacion_set.all|first|evaluacion_opciones:"compromiso"}}</td>
                <td>{{ref.evaluacion_set.all|first|evaluacion_opciones:"honestidad"}}</td>
                <td>{{ref.evaluacion_set.all|first|evaluacion_opciones:"toma_decisiones"}}</td>
                <td>{{ref.evaluacion_set.all|first|evaluacion_opciones:"solucion_problemas"}}</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>

      <table class="table-border">
        <tr>
          <th>DETALLES DEL DEPARTAMENTO DE RECURSOS HUMANOS</th>
        </tr>
        <tr>
          <td>
            <table>
              <tr>
                <th>OPINIÓN:</th>
                <td colspan="3">{{ref.opinion_rh.opinion}}</td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table>
              <tr>
                <th>NOMBRE DEL INFORMANTE</th>
                <td>{{ref.opinion_rh.nombre}}</td>
                <th>PUESTO</th>
                <td>{{ref.opinion_rh.puesto}}</td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table>
              <tr>
                <th>TELÉFONO</th>
                <td>{{ref.opinion_rh.telefono}}</td>
                <th>EMAIL:</th>
                <td>{{ref.opinion_rh.email}}</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>

      <table class="table-border">
        <tr>
          <th>DETALLES JEFE INMEDIATO</th>
        </tr>
        <tr>
          <td>
            <table>
              <tr>
                <th>OPINIÓN:</th>
                <td colspan="3">{{ref.opinion_jefe.opinion}}</td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table>
              <tr>
                <th>NOMBRE DEL INFORMANTE</th>
                <td>{{ref.opinion_jefe.nombre}}</td>
                <th>PUESTO</th>
                <td>{{ref.opinion_jefe.puesto}}</td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table>
              <tr>
                <th>TELÉFONO</th>
                <td>{{ref.opinion_jefe.telefono}}</td>
                <th>EMAIL:</th>
                <td>{{ref.opinion_jefe.email}}</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>

      <table class="table-border">
        <tr>
          <th class="background-white">OBSERVACIONES DE EJECUTIVA DE RRHH</th>
          <td colspan="3" class="background-dark-gray">{{ref.observaciones_generales}}</td>
        </tr>
      </table>

    </div>

    {% include 'sections/reportes/seccion/footer.html' %}

  </div>
</section>
<div class="page-break"></div>
{% endfor %}
