<html>
    <body bgcolor="#FAFAFA" style="background-color: #fafafa;">
        <table role="presentation" bgcolor="#FAFAFA" border="0" cellspacing="0" cellpadding="0" style="background-color: #fafafa; margin-left: auto; margin-right: auto;">
            <tr>
                <td>
                    <table role="presentation" style="padding: 0; width: 600px; margin: auto; border: none; border-collapse: collapse; font: 13px Roboto-Medium, Roboto, Verdana, sans-serif; font-weight: 500;">
                        <tr>
                            <td style="padding: 32px 8px 28px 0; min-height: 64px;">
                                <table role="presentation" style="width: 100%; margin: auto; border: none; border-collapse: collapse;">
                                    <td style="padding: 0px;">
                                        <div style="float: left;">
                                            <a href="https://notifications.google.com/g/p/APNL1ThOLUnLyB_RafmARQdvgJCcSefJJLOpQIEaK9SlV8gcPRpoHPPtKzfhq9l8tqKNfJbNNKfrtQtZSX9h">
                                                <img src="https://app.contakto.mx/static/img/logo_black.png" width="200" alt="Conacto.Mx" />
                                            </a>
                                        </div>
                                    </td>
                                    <td style="padding: 0px;">
                                        <div align="right" style="text-align: right; float: right=0; padding: 0; color: white;">
                                            <a
                                                href="https://app.contakto.mx"
                                                align="right"
                                                style="text-decoration: none; font: 14px Roboto-Medium, Roboto, Verdana, sans-serif; color: #2979ff; letter-spacing: 0.5px; font-weight: 500; float: right;"
                                            >
                                                ABRIR CONSOLA
                                            </a>
                                        </div>
                                    </td>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 32px; background-color: #3664f2; border-radius: 3px 3px 0px 0px;">
                                <div style="color: #ffffff; font: 15px Robot-Medium, Roboto, Verdana, sans-serif; letter-spacing: 0.1px; display: inline-block;">
                                    <img src=https://www.gstatic.com/images/icons/material/system/1x/info_outline_white_24dp.png style="vertical-align: middle" alt=Warning>
                                    <span style="vertical-align: middle; display: inline-block; margin-left: 3px;"> Notificación de solicitudes</span>
                                </div>
                                <div style="color: #ffffff; font: 24px Roboto-Medium, Roboto, Verdana, sans-serif; padding-top: 14px; line-height: 32px; font-weight: bold;">
                                    Se ha generado una nueva solicitud
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="background-color: #2a56c6; font: 14px Roboto-Medium, Roboto, Verdana, sans-serif; color: #ffffff; letter-spacing: 0; min-height: 40px; height: 40px; font-weight: 500;">
                                <table role="presentation" style="width: 100%; margin: auto; border: none; border-collapse: collapse;">
                                    <tr>
                                        <td>
                                            <div style="float: left; padding: 0; margin: 16px 32px; color: white;">
                                                Fecha de la solicitud
                                            </div>
                                        </td>
                                        <td>
                                            <div align="right" style="text-align: right; float: right; padding: 0; margin: 16px 32px; color: white;">
                                                05-jul-2022 12:47
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                       
                        <tr>
                            <td style="padding: 16px 32px 0 32px; color: #455a64; background-color: #ffffff; font: 14px Roboto-Medium, Roboto, Verdana, sans-serif; line-height: 25px;">
                                <p style="font-weight: bold;">
                                    Tu cuenta de facturacion &quot;Mi cuenta de facturacion ha alcanzado el 50% 
                                    del presupuesto de$3.00 para periodo del 01-jul-2022 al 31-jul-2022.
                                </p>
                                <p>
                                    <span style="font-weight: bold;">Nombre del presupuesto</span><br />
                                    <span style="font-weight: normal;">Control</span>
                                </p>
                                <p>
                                    <span style="font-weight: bold;">ID de la cuenta de facturación</span><br />
                                    <span style="font-weight: normal;">0099D1-ED1C07-6949D4</span>
                                </p>
                                
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 16px 32px 32px 32px; color: #455a64; background-color: #ffffff; font: 14px Roboto-Medium, Roboto, Verdana, sans-serif; border-radius: 0px 0px 3px 3px;">
                                <table role="presentation" width="100%" border="0" cellspacing="3D0" cellpadding="3D0">
                                    <tr>
                                        <td>
                                            <table role="presentation" align="center" border="0" cellspacing="0" cellpadding="0" style="text-align: center; margin-left: auto; margin-right: auto;">
                                                <tr>
                                                    <td align="center" style="border-radius: 3px;" bgcolor="#3B78E7">
                                                        <a
                                                            href="#"
                                                            target="_blank"
                                                            style="
                                                                text-align: center;
                                                                color: white;
                                                                text-transform: uppercase;
                                                                text-decoration: none;
                                                                border-radius: 2px;
                                                                line-height: 12px;
                                                                padding: 12px;
                                                                border: 1px solid #3b78e7;
                                                                display: inline-block;
                                                                font: 14px Roboto-Medium, Roboto, Verdana, sans-serif;
                                                                font-weight: 500;
                                                            "
                                                        >
                                                            VER DETALLES DE LA SOLICITUD
                                                        </a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center; padding: 10px;">
                                <div style="padding: 0 0 16px 0;">
                                    <img src="https://app.contakto.mx/static/img/logo_black.png" width="100" alt="Google Logo">
                                </div>
                                <div style="color: #757575; letter-spacing: 0; line-height: 16px; font: 12px Robot-Regular, Roboto, Verdana, sans-serif; font-weight: 400;">
                                    <div>
                                         2022 Contakto.Mx
                                    </div>
                                    <div style="margin-bottom: 16px;">
                                        Av. Parque baja california sur #478, Int. 11 Secc. Jardines C.P. 22200
                                    </div>
                                    <div style="margin-bottom: 16px;">
                                       Este es un correo electrónico automático. Por favor, no responda a este mensaje.
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <img alt="" height=1 width=3 src=https://notifications.google.com/g/img/APNL1Tinf7JPVwIGg0u9_YEwZpenn4m8ZxaiSifa0kL9pslm8A.gif>
    </body>
</html>
