<html lang="sp">
<head>
	<title>{{title}}</title>
	<meta name="description" value="">
	<meta naem="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/print.css' %}?ver=1003">
	<script>
		function onLoad() {
			document.title = "{{investigacion.compania|upper}}_{{tipo_reporte|upper}}_{{candidato|upper}}_{{candidato.apellido}}"
			addPageNumber()
			adjustConclusion()

			setTimeout(() => { 
				window.print(); 
			}, 100);
			
			window.onfocus = function () {
				setTimeout(() => {
					window.close();
				}, 100); 
			}
		}

		function addPageNumber() {
			document.querySelectorAll('.footer i').forEach((item, index) => item.innerHTML = index + 1)
		}

		function adjustConclusion() {
			const conclusion = document.querySelector('.conclusion')
			if (conclusion && conclusion.innerText.length > 3000) {
				conclusion.style.fontSize = '13px'
			}
		}
	</script>
</head>
<body onload="onLoad()">
	{% block site_wrapper %}{% endblock %}
</body>
</html>
