<html lang="sp">
<head>
	<title>{{title}}</title>
	<meta name="description" value="">
	<meta naem="viewport" content="width=device-width, initial-scale=1">
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/print.css' %}">
	<script>
		function onLoad() {
			addPageNumber()
			window.print()
			window.onfocus=function(){
				window.close();
			}
			adjustConclusion()
		}

		function addPageNumber() {
			document.querySelectorAll('.footer i').forEach((item, index) => item.innerHTML = index + 1)
		}

		function adjustConclusion() {
			const conclusion = document.querySelector('.conclusion')
			if (conclusion && conclusion.innerText.length > 3000) {
				conclusion.style.fontSize = '13px'
			}
		}
	</script>
</head>
<body onload="onLoad()">
	{% block site_wrapper %}{% endblock %}
</body>
</html>
