{% load core_extras %}{% if request.user|has_group:"Administrador de Catalogos" %}
<li class="menu-title" data-key="t-apps">Administradores</li>

<li>
    <a href="javascript: void(0);" class="has-arrow">
        <i data-feather="settings"></i>
        <span data-key="configuraciones">Catálogos</span>
    </a>
    <ul class="sub-menu" aria-expanded="false">
        <li><a href="{% url 'core:users_list' %}" data-key="t-inbox">Usuarios (app)</a></li>
        <li><a href="{% url 'companias_list' %}" data-key="t-inbox">Clientes</a></li>
        <li><a href="{% url 'clientes:clientes_list' %}" data-key="t-inbox">Contactos</a></li>
        <li><a href="{% url 'personas_list' %}" data-key="t-inbox">Candidatos</a></li>
        <li><a href="{% url 'core:tipo_investigaciones_costo_list' %}" data-key="t-inbox">Costo de servicios</a></li>
    </ul>
</li>
{% endif %}