{% load app_filters %}
<section class="laboral-study-page">
  <div class="background-2">
    <div class="header">
      <h1>Estudio Laboral</h1>
      <img src="/media/logo-nuevo.png" />
      <div class="clear-fix"></div>
    </div>

    <div class="work-reference">
      <h3>ARCHIVOS ADJUNTOS</h3>
      <table>
        {% if adjuntos.adj2 %}
        <tr>
          <th>{{adjuntos|verbose_name:'adj2'}} </th>
          <th><img src="{{adjuntos_baseurl}}{{adjuntos.adj2}}"></th>
        </tr>
        {% endif %}
        {% if adjuntos.adj3 %}
        <tr>
          <th>{{adjuntos|verbose_name:'adj3'}} </th>
          <th><img src="{{adjuntos_baseurl}}{{adjuntos.adj3}}"></th>
        </tr>
        {% endif %}
        {% if adjuntos.adj4 %}
        <tr>
          <th>{{adjuntos|verbose_name:'adj4'}} </th>
          <th><img src="{{adjuntos_baseurl}}{{adjuntos.adj4}}"></th>
        </tr>
        {% endif %}
        {% if adjuntos.adj5 %}
        <tr>
          <th>{{adjuntos|verbose_name:'adj5'}} </th>
          <th><img src="{{adjuntos_baseurl}}{{adjuntos.adj5}}"></th>
        </tr>
        {% endif %}
        {% if adjuntos.adj6 %}
        <tr>
          <th>{{adjuntos|verbose_name:'adj6'}} </th>
          <th><img src="{{adjuntos_baseurl}}{{adjuntos.adj6}}"></th>
        </tr>
        {% endif %}
        {% if adjuntos.adj7 %}
        <tr>
          <th>{{adjuntos|verbose_name:'adj7'}} </th>
          <th><img src="{{adjuntos_baseurl}}{{adjuntos.adj7}}"></th>
        </tr>
        {% endif %}
        {% if adjuntos.adj8 %}
        <tr>
          <th>{{adjuntos|verbose_name:'adj8'}} </th>
          <th><img src="{{adjuntos_baseurl}}{{adjuntos.adj8}}"></th>
        </tr>
        {% endif %}
        {% if adjuntos.adj9 %}
        <tr>
          <th>{{adjuntos|verbose_name:'adj9'}} </th>
          <th><img src="{{adjuntos_baseurl}}{{adjuntos.adj9}}"></th>
        </tr>
        {% endif %}
        {% if adjuntos.adj10 %}
        <tr>
          <th>{{adjuntos|verbose_name:'adj10'}} </th>
          <th><img src="{{adjuntos_baseurl}}{{adjuntos.adj10}}"></th>
        </tr>
        {% endif %}
        {% if adjuntos.adj11 %}
        <tr>
          <th>{{adjuntos|verbose_name:'adj11'}} </th>
          <th><img src="{{adjuntos_baseurl}}{{adjuntos.adj11}}"></th>
        </tr>
        {% endif %}
        {% if adjuntos.adj12 %}
        <tr>
          <th>{{adjuntos|verbose_name:'adj12'}} </th>
          <th><img src="{{adjuntos_baseurl}}{{adjuntos.adj12}}"></th>
        </tr>
        {% endif %}
        {% if adjuntos.adj13 %}
        <tr>
          <th>{{adjuntos|verbose_name:'adj13'}} </th>
          <th><img src="{{adjuntos_baseurl}}{{adjuntos.adj13}}"></th>
        </tr>
        {% endif %}
      </table>
    </div>

    <div class="footer">
      <span>EL PRESENTE FORMATO ES PARA USO EXCLUSIVO DE CONTAKTO-UNO S.C. / {{ investigacion.compania }}</span>
      <i>{{trayectoria|length|print_page_number:3}}</i>
    </div>
  </div>
</section>
<div class="page-break"></div>
