<section class="cover-page">
  <div class="background-1">
    <div class="background-2">
      <div class="header">
        <h1>Estudio Laboral</h1>
        <img src="/media/logo-nuevo.png" />
        <div class="clear-fix"></div>
      </div>

      <div class="company">
        <h2>{{ investigacion.compania }}</h2>
        <table>
          <tr>
            <th>SOLICITANTE</th>
            <td>{{ investigacion.contacto}}</td>
          </tr>
          <tr>
            <th>FECHA DE SOLICITUD</th>
            <td>{{ investigacion.fecha_registro}}</td>
          </tr>
        </table>
      </div>

      <div class="candidate">
        <table>
          <thead>
            <th colspan="2">{{ candidato }}</th>
          </thead>
          <tbody>
            <tr>
              <th>PUESTO</th>
              <td>{{ investigacion.puesto }}</td>
            </tr>
            <tr>
              <th>EDAD</th>
              <td>{{ candidato.edad }} años</td>
            </tr>
            <tr>
              <th>EMAIL</th>
              <td class="lowercase">{{ candidato.email}}</td>
            </tr>
            <tr>
              <th>TELÉFONO</th>
              <td>{{ tel_movil }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="results">
        <h2>RESULTADO</h2>
        <table>
          <tr>
            <th>{% if investigacion.resultado == "1" %}X{% else %}&nbsp;{% endif %}</th>
            <td>VIABLE</td>
          </tr>
          <tr>
            <th>{% if investigacion.resultado == "2" %}X{% else %}&nbsp;{% endif %}</th>
            <td>NO VIABLE</td>
          </tr>
          <tr>
            <th>{% if investigacion.resultado == "3" %}X{% else %}&nbsp;{% endif %}</th>
            <td>A RESERVAS</td>
          </tr>
        </table>
      </div>

      <div class="footer">
        <p>
          Fecha de entrega: <strong>{{ investigacion.fecha_recibido }}</strong>
        </p>
        <div class="agent">
          <strong>{{ investigacion.agente }} /</strong> {{ investigacion.agente.email }}
        </div>
        <hr />
        <span>EL PRESENTE FORMATO ES PARA USO EXCLUSIVO DE CONTAKTO-UNO S.C. / {{ investigacion.compania }}</span>
      </div>
    </div>
  </div>
</section>
<div class="page-break"></div>
