{% load fe_extras %}
<table border="1px" align="left" width="100%" cellpadding="3px" cellspacing="3px">
	<thead>
		<tr>
			<th class="col-red" colspan="5">Datos de Solicitud</th>
			<th class="col-gray" colspan="3">Datos de Candidato</th>
			<th class="col-blue" colspan="3">Resultado</th>
			<th class="col-red" colspan="3">Datos de Entrevista</th>
		</tr>
		<tr>
			<th class="col-red">Contacto</th>
			<th class="col-red">Correo</th>
			<th class="col-red">Cliente</th>
			<th class="col-red">Fecha de Recibido</th>
			<th class="col-red">Tipo Estudio</th>

			<th class="col-gray">Nombre</th>
			<th class="col-gray">Puesto</th>
			<th class="col-gray">Ciudad y Estado</th>

			<th class="col-blue">Estatus</th>
			<th class="col-blue">Investigación Laboral</th>
			<th class="col-blue">Calificación Final</th>

			<th class="col-red">Gestor</th>
			<th class="col-red">Día Cita</th>
			<th class="col-red">Hora Cita</th>
		</tr>
	</thead>
	<tbody>
		{% for inv in investigaciones %}
		<tr>
			<td>{{ inv.contacto }}</td>
			<td>{{ inv.contacto.email }}</td>
			<td>{{ inv.compania.nombre }}</td>
			<td>{{ inv.fecha_recibido|date:"d/M/y" }}</td>
			<td></td>

			<td>{{ inv.candidato.nombre }}</td>
			<td>{{ inv.puesto }}</td>
			<td>{{ inv.ciudad }}, {{ inv.estado }}</td>

			<td>{{ inv.status|investigacion_status }}</td>
			<td class="text-left">
				{% for t in inv.trayectoria %}
					{% if t.puesto_final or t.periodo_alta or t.periodo_baja or t.motivo_salida or t.observaciones_generales or t.opinion_rh or t.opinion_jefe %}
					<table class="estatus-trayectoria table table-striped uppercase">
						<th colspan="2">{{t.compania}}</th>
						{% if t.puesto_final %}
						<tr>
							<td>Puesto</td>
							<td>{{t.puesto_final}}</td>
						</tr>
						{% endif %}
						{% if t.periodo_alta or t.periodo_baja %}
						<tr>
							<td>Periodos</td>
							<td>{{t.periodo_alta|default:""}}-{{t.periodo_baja|default:""}}</td>
						</tr>
						{% endif %}
						{% if t.motivo_salida %}
						<tr>
							<td>Motivo de baja</td>
							<td>{{t.motivo_salida}}</td>
						</tr>
						{% endif %}
						{% if t.observaciones_generales %}
						<tr>
							<td>Observaciones</td>
							<td>{{t.observaciones_generales}}</td>
						</tr>
						{% endif %}

						{% if t.opinion_rh %}
							<tr>
								<td>Referente</td>
								<td>
									{% if t.opinion_rh.nombre %}
									Nombre: <br />
									<b>{{t.opinion_rh.nombre}}</b>
									{% endif %}
									{% if t.opinion_rh.puesto %}
									Puesto: <br />
									<b>{{t.opinion_rh.puesto}}</b>
									{% endif %}
								</td>
							</tr>
						{% endif %}
						{% if t.opinion_jefe %}
							<tr>
								<td>Referente</td>
								<td>
									{% if t.opinion_jefe.nombre %}
									Nombre: <br />
									<b>{{t.opinion_jefe.nombre}}</b>
									{% endif %}
									{% if t.opinion_jefe.puesto %}
									Puesto: <br />
									<b>{{t.opinion_jefe.puesto}}</b>
									{% endif %}
								</td>
							</tr>
						{% endif %}
					</table>
					{% endif %}
				{% endfor %}
			</td>
			<td>{{ inv.resultado|investigacion_resultado }}</td>

			<td>{{inv.entrevista.entrevistador}}</td>
			<td>{{inv.entrevista.fecha_entrevista|default:""}}</td>
			<td>{{inv.entrevista.hora_entrevista|default:""}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
