{% extends 'layout/base.html' %}
{% load fe_extras %}

{% block side_content %}
	{% if request.user.is_superuser or request.user.is_staff %}
	{% include 'sections/reportes/seccion/search_sidebar.html' %}
	{% endif %}
{% endblock %}

{% block extra_javascript %}
var ajaxloader = $("<img class=\"ajax_loader\" src=\"/media/ajax-loader.gif\" />");
{% endblock %}

{% block site_wrapper %}
<div ng-controller="ReporteCTRL">
	<div class="page-header">
		<h3>{% if compania and contacto %}
				Reporte de 
				{% if compania %} 
					{{compania}} 
				{% endif %} 
				{% if contacto %}
					<small>{{contacto}}</small>
				{% endif %}
			{% endif %}
		</h3>
	</div>

	<div class="row placeholders">
		{% if request.user.is_superuser or request.user.is_staff %}
		<form role="form" action="#" method="post">
		{% endif %}
				{% csrf_token %}
				{% if request.user.is_superuser or request.user.is_staff %}
				<div id="msg"></div>
				<div class="panel panel-default panel-enviar-correo">
					<div class="panel-heading">
						<h3 class="panel-title">Enviar Reporte</h3>
					</div>
					<div class="panel-body">
						<div class="col-md-10">
							<textarea rows="2" name="destinatarios">{% for destinatario in dest_list %}{{destinatario|lower}}{% if not forloop.last %}, {% endif %}{% endfor %}</textarea>
						</div>
						<div class="col-md-2">
							{% if investigaciones|length %}
							<input type="submit" class="btn btn-default" value="Enviar" />
							{% endif %}
						</div>
					</div>
				</div>
				{% endif %}
	    <div class="table-responsive">

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Investigaciones encontradas: {{investigaciones|length}}</h3>
				</div>
			</div>
			{% if investigaciones|length %}
			<table class="table-estatus table table-striped uppercase">
				<thead>
					<tr>
						<th class="col-red" colspan="6">Datos de Solicitud</th>
						<th class="col-gray" colspan="4">Datos de Candidato</th>
						<th class="col-blue" colspan="4">Resultado</th>
						<th class="col-red" colspan="3">Datos de Entrevista</th>
					</tr>
					<tr>
						<th class="col-red"><input type="checkbox" id="status_checkbox"/></th>
						<th class="col-red">Contacto</th>
						<th class="col-red">Correo</th>
						<th class="col-red">Cliente</th>
						<th class="col-red">Fecha de Recibido</th>
						<th class="col-red">Tipo Estudio</th>

						<th class="col-gray">Nombre</th>
						<th class="col-gray">Apellido</th>
						<th class="col-gray">Puesto</th>
						<th class="col-gray">Ciudad y Estado</th>

						<th class="col-blue">Estatus</th>
						<th class="col-blue">Investigación Laboral</th>
						<th class="col-blue">Calificación Final</th>
						<th class="col-blue">Observaciones</th>

						<th class="col-red">Gestor</th>
						<th class="col-red">Día Cita</th>
						<th class="col-red">Hora Cita</th>
					</tr>
				</thead>
				<tbody>
					{% for inv in investigaciones %}
					<tr alt="{{forloop.counter }}">
						<td>
							{% if request.user.is_superuser or request.user.is_staff %}
							<input type="checkbox" name="investigacion[]" value="{{inv.id}}" />
							{% endif %}
						</td>
						<td>{{ inv.contacto }}</td>
						<td>{{ inv.contacto.email }}</td>
						<td>{{ inv.compania.nombre }}</td>
						<td>{{ inv.fecha_recibido|date:"d/M/y" }}</td>
						<td>{{ inv.tipo_investigacion_status|tipo_investigacion_status }}</td>

						<td>{{ inv.candidato.nombre }}</td>
						<td>{{ inv.candidato.apellido }}</td>
						<td>{{ inv.puesto }}</td>
						<td>{{ inv.ciudad }}, {{ inv.estado }}</td>

						<td>{{ inv.status|investigacion_status }}</td>
						<td class="text-left">
							{% for t in inv.trayectoria %}
								{% if t.puesto_final or t.periodo_alta or t.periodo_baja or t.motivo_salida or t.observaciones_generales or t.opinion_rh or t.opinion_jefe %}
								<table class="estatus-trayectoria table table-striped uppercase">
									<th colspan="2">{{t.compania}}</th>
									{% if t.puesto_final %}
									<tr>
										<td>Puesto</td>
										<td>{{t.puesto_final}}</td>
									</tr>
									{% endif %}
									{% if t.periodo_alta or t.periodo_baja %}
									<tr>
										<td>Periodos</td>
										<td>{{t.periodo_alta|default:""}}-{{t.periodo_baja|default:""}}</td>
									</tr>
									{% endif %}
									
									<tr>
										<td>Motivo de baja</td>
										<td>
											{% if t.datosgenerales and t.datosgenerales.motivo_salida %}
											{{t.datosgenerales.motivo_salida}}
											{% else %}
												NO PROPORCIONÓ
											{% endif %}
										</td>
									</tr>

									{% if t.observaciones_generales %}
									<tr>
										<td>Observaciones</td>
										<td>{{t.observaciones_generales}}</td>
									</tr>
									{% endif %}

									{% if t.opinion_rh %}
									<tr>
										<td>Referente</td>
										<td>
											{% if t.opinion_rh.nombre %}
											Nombre: <br />
											<b>{{t.opinion_rh.nombre}}</b>
											{% endif %}
											{% if t.opinion_rh.puesto %}
											Puesto: <br />
											<b>{{t.opinion_rh.puesto}}</b>
											{% endif %}
										</td>
									</tr>
									{% endif %}
									{% if t.opinion_jefe %}
									<tr>
										<td>Referente</td>
										<td>
											{% if t.opinion_jefe.nombre %}
											Nombre: <br />
											<b>{{t.opinion_jefe.nombre}}</b>
											{% endif %}
											{% if t.opinion_jefe.puesto %}
											Puesto: <br />
											<b>{{t.opinion_jefe.puesto}}</b>
											{% endif %}
										</td>
									</tr>
									{% endif %}
								</table>
								{% endif %}
							{% endfor %}
						</td>
						<td>{{ inv.resultado|investigacion_resultado }}</td>
						<td>{{ inv.tipo_investigacion_texto }}</td>

						<td>{{inv.entrevista.entrevistador}}</td>
						<td>{{inv.entrevista.fecha_entrevista|default:""}}</td>
						<td>{{inv.entrevista.hora_entrevista|default:""}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		{% else %}
			<div class="bg-info">0 resultados, favor de intentar con otros filtros</div>
		{% endif %}
		</div>
		{% if request.user.is_superuser or request.user.is_staff %}
		</form>
		{% endif %}
	</div>
</div>
{% include 'sections/candidato/seccion/empresa_select_modal.html' %}
{% endblock %}
