{% extends 'partials/base.html' %}
{% load static crispy_forms_tags %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">

  <div class="page-content">
    <div class="container-fluid">

      <!-- start page title -->
      <div class="row">
        <div class="col-12">
          <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">Candidato</h4>

            <div class="page-title-right">
              <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="{% url 'personas_list' %}">Listado de candidatos</a></li>
                <li class="breadcrumb-item active">Detalles</li>
              </ol>
            </div>

          </div>
        </div>
      </div>
      <!-- end page title -->


      <div class="card" id="card_detalle_compania">
        
        <div class="card-header">
          <div class="row">
            <div class="col-md-12">
              <h4 class="card-title">Detalle de candidato</h4>
            </div>
          </div>
        </div>
        
        <div class="card-body">

          <div class="table-responsive">
            <table class="table table-striped mb-0">
              <tbody>
               
                <tr>
                  <td>Nombre:</td>
                  <td>{{ persona.nombre }} {{persona.apellido}}</td>
                </tr>

                <tr>
                  <td>NSS:</td>
                  <td>{{ persona.nss }}</td>
                </tr>

                <tr>
                  <td>Email:</td>
                  <td>{{ persona.email }}</td>
                </tr>

                <tr>
                  <td>Edad:</td>
                  <td>{{ persona.edad }}</td>
                </tr>

                <tr>
                  <td>CURP:</td>
                  <td>{{ persona.curp }}</td>
                </tr>

                <tr>
                  <td>RFC:</td>
                  <td>{{ persona.rfc }}</td>
                </tr>

                <tr>
                  <td>INE:</td>
                  <td>{{ persona.ife }}</td>
                </tr>

                <tr>
                  <td>Pasaporte:</td>
                  <td>{{ persona.pasaporte }}</td>
                </tr>

                <tr>
                  <td>SMN:</td>
                  <td>{{ persona.smn }}</td>
                </tr>

                <tr>
                  <td>Estado civil:</td>
                  <td>{{ persona.get_estado_civil_display }}</td>
                </tr>

                <tr>
                  <td>Fecha matrimonio:</td>
                  <td>{{ persona.fecha_matrimonio }}</td>
                </tr>

                <tr>
                  <td>Religión:</td>
                  <td>{{ persona.religion }}</td>
                </tr>

                <tr>
                  <td>Tiempo radicando:</td>
                  <td>{{ persona.tiempo_radicando }}</td>
                </tr>

                <tr>
                  <td>Medio utilizado:</td>
                  <td>{{ persona.medio_utilizado }}</td>
                </tr>

                <tr>
                  <td>Fecha registro:</td>
                  <td>{{ persona.fecha_registro }}</td>
                </tr>

              </tbody>
            </table>
          </div><!-- end div responsive -->

          <br>

          <div class="d-flex flex-wrap gap-2">
            
            {% comment %}
              
            
            <a href="{% url 'companias_update' persona.pk %}" class="btn btn-primary waves-effect btn-label waves-light"><i class="bx bx-edit label-icon"></i>Editar</a>
            <a href="{% url 'companias_delete' persona.pk %}" class="btn btn-danger waves-effect btn-label waves-light"><i class="bx bx-trash label-icon"></i> Eliminar</a>
            {% endcomment %}
        </div>
   

        </div> <!-- end card-body -->
      </div> <!-- end card -->


      <div class="card" id="card_persona_telefonos">
        
        <div class="card-header">
          <div class="row">
            <div class="col-md-12">
              <h4 class="card-title">Teléfonos</h4>
            </div>
          </div>
        </div>
        
        <div class="card-body">

          <div class="table-responsive">
            <table class="table table-striped mb-0">
              <thead>
                <tr>
                 
                  <th>Categoría</th>
                  <th>Número</th>
                  <th>Parentesco</th>
                </tr>
              <tbody>

                {% for sucursal in persona.telefonos.all %}

                <tr>
                  
                  <td>{{ sucursal.get_categoria_display }}</td>
                  <td>{{ sucursal.numero }} </td>
                  <td>{{ sucursal.parentesco }} </td>
                </tr>

                {% empty %}
                <tr>
                  <td colspan="5">No hay números telefónicos registrados</td>
                </tr>  
                  
                {% endfor %}

              </tbody>
            </table>
          </div><!-- end div responsive -->

          <br>

       
   

        </div> <!-- end card-body -->
      </div> <!-- end card -->

      <div class="card" id="card_persona_direccion">
        
        <div class="card-header">
          <div class="row">
            <div class="col-md-12">
              <h4 class="card-title">Domicilio</h4>
            </div>
          </div>
        </div>
        
        <div class="card-body">

          <div class="table-responsive">
            <table class="table table-striped mb-0">
              <thead>
                <tr>
                  
                  <th>Calle</th>
                  <th>Ciudad</th>
                  <th>Colonia</th>
                  <th>CP</th>
                  <th>Estado</th>
                </tr>
              <tbody>

                {% for direccion in persona.direcciones.all %}

                <tr> 
                  <td>{{ cc.calle }}</td>
                  <td>{{ cc.ciudad }} </td>
                  <td>{{ cc.colonia }} </td>
                  <td>{{ cc.cp }} </td>
                  <td>{{ cc.estado }} </td>
                
                </tr>

                {% empty %}
                
                <tr>
                  <td colspan="11">No hay domicilios registradas</td>
                </tr>
                  
                {% endfor %}

              </tbody>
            </table>
          </div><!-- end div responsive -->

          <br>

         
   

        </div> <!-- end card-body -->
      </div> <!-- end card -->


      <a href="{% url 'personas_list' %}" class="btn btn-warning waves-effect btn-label waves-light"> <i
        class="bx bx-user-x label-icon"></i>
      Regresar al listado</a>
      <br><br>

    </div> <!-- container-fluid -->
  </div>
  <!-- End Page-content -->

  {% block footer %}
  {% include 'partials/footer.html' %}
  {% endblock footer %}
</div>
<!-- end main content-->
{% endblock content %}