<form action="#" method="post">{% csrf_token %}
	<div class="row">
		<div class="col-md-12">
			<input class="btn btn-lrg btn-primary" type="submit" value="Guardar cambios" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h2>Tarjetas de Crédito</h2>
			{{ tarjetas_formset.management_form }}
			{% for form in tarjetas_formset %}
				<h2><small>Tarjeta {{ forloop.counter }}</small></h2>
				{{ form.as_p }}
			{% endfor %}
		</div>
		<div class="col-md-4">
			<h2>Cuentas de Débito</h2>
			{{ cuentas_deb_formset.management_form }}
			{% for form in cuentas_deb_formset %}
				<h2><small>Cuenta {{ forloop.counter }}</small></h2>
				{{ form.as_p }}
			{% endfor %}
		</div>
		<div class="col-md-4">
			<h2>Automóviles</h2>
			{{ autos_formset.management_form }}
			{% for form in autos_formset %}
				<h2><small>Auto {{ forloop.counter }}</small></h2>
				{{ form.as_p }}
			{% endfor %}
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h2>Bienes Raíces</h2>
			{{ bienesraices_formset.management_form }}
			{% for form in bienesraices_formset %}
				<h2><small>Bien {{ forloop.counter }}</small></h2>
				{{ form.as_p }}
			{% endfor %}
		</div>
		<div class="col-md-4">
			<h2>Seguros</h2>
			{{ seguros_formset.management_form }}
			{% for form in seguros_formset %}
				<h2><small>Seguro {{ forloop.counter }}</small></h2>
				{{ form.as_p }}
			{% endfor %}
		</div>
		<div class="col-md-4">
			<h2>Deudas Actuales</h2>
			{{ deudas_formset.management_form }}
			{% for form in deudas_formset %}
				<h2><small>Deuda {{ forloop.counter }}</small></h2>
				{{ form.as_p }}
			{% endfor %}
		</div>
	</div>
</form>