{% extends 'layout/base.html' %}

{% block side_content %}
	<ul class="nav nav-sidebar">
		<li class="active"><a href="#general">Datos generales</a></li>
		<li><a href="/investigacion/{{ investigacion.id }}/editar/info-personal">Personal</a></li>
		<li><a href="#salud">Salud</a></li>
		<li><a href="#habitos">Hábitos</a></li>
		<li><a href="#academica">Académica</a></li>
		<li><a href="#vivienda">Vivienda</a></li>
		<li><a href="#familia">Familia</a></li>
		<li><a href="#economia_mensual">$ mensual</a></li>
		<li><a href="#situacion_economica">Sit. económica</a></li>
		<li><a href="#referencias">Referencias</a></li>
		<li><a href="#evaluacion">Evaluación</a></li>
		<li><a href="#conclusion">Conclusión</a></li>
	</ul>
{% endblock %}

{% block site_wrapper %}
<h1 class="page-header">{{title}}</h1>
<p class="{{msg_class}}">{{ state }}</p>


<div class="container">

	<div class="tab-content" style="background: #fff;">
	  <div class="tab-pane active" id="perfil" >
			
			<div class="tab-content">

				<div class="tab-pane active" id="general">
					<div class="row">
						<div class="col-md-1">
							<label>{{ candidato_form.nombre.label }}:</label>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								{{ candidato_form.nombre }}
							</div>	
						</div>
						<div class="col-md-1">
								<label>{{ candidato_form.rfc.label }}:</label>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								{{ candidato_form.rfc }}
							</div>
						</div>	
						<div class="col-md-1">
							<label>{{ candidato_form.curp.label }}:</label>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								{{ candidato_form.curp }}
							</div>	
						</div>	
					</div>
					<div class="row">
						<div class="col-md-1">
								<label>{{ candidato_form.ife.label }}:</label>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								{{ candidato_form.ife }}
							</div>
						</div>	
						<div class="col-md-1">
							<label>{{ candidato_form.pasaporte.label }}:</label>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								{{ candidato_form.pasaporte }}
							</div>	
						</div>
						<div class="col-md-1">
								<label>{{ candidato_form.nss.label }}:</label>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								{{ candidato_form.nss }}
							</div>
						</div>	
					</div>
					<div class="row">
						<div class="col-md-1">
							<label>{{ candidato_form.smn.label }}:</label>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								{{ candidato_form.smn }}
							</div>	
						</div>
						<div class="col-md-1">
								<label>{{ candidato_form.estado_civil.label }}:</label>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								{{ candidato_form.estado_civil }}
							</div>
						</div>
						<div class="col-md-1">
							<label>{{ candidato_form.fecha_matrimonio.label }}:</label>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								{{ candidato_form.fecha_matrimonio }}
							</div>	
						</div>	
					</div>
					<div class="row">
						<div class="col-md-1">
								<label>{{ candidato_form.religion.label }}:</label>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								{{ candidato_form.religion }}
							</div>
						</div>
						<div class="col-md-1">
							<label>{{ candidato_form.tiempo_radicando.label }}:</label>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								{{ candidato_form.tiempo_radicando }}
							</div>	
						</div>
						<div class="col-md-1">
								<label>{{ candidato_form.medio_utilizado.label }}:</label>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								{{ candidato_form.medio_utilizado }}
							</div>
						</div>	
					</div>
					<hr>
					

	  			</div><!-- Termina tab "general" -->

	  			<div class="tab-pane" id="personal">
	  				Personal...
	  			
	  			</div><!-- Termina tab "personal" -->

	  			<div class="tab-pane" id="salud">
	  				Salud...
	  			</div>
	  			<div class="tab-pane" id="habitos">
	  				Hábitos...
	  			</div>
	  			<div class="tab-pane" id="academica">
	  				Académica...
	  			</div>
	  			<div class="tab-pane" id="vivienda">
	  				vivienda...
	  			</div>
	  			<div class="tab-pane" id="familia">
	  				familia...
	  			</div>
	  			<div class="tab-pane" id="economia_mensual">
	  				economia_mensual...
	  			</div>
	  			<div class="tab-pane" id="situacion_economica">
	  				situacion_economica...
	  			</div>
	  			<div class="tab-pane" id="referencias">
	  				referencias...
	  			</div>
	  			<div class="tab-pane" id="evaluacion">
	  				evaluacion...
	  			</div>
	  			<div class="tab-pane" id="conclusion">
	  				conclusion...
	  			</div>
	  		</div>
	  </div>
	  <div class="tab-pane" id="historial">Historial...
	  </div>
	  <div class="tab-pane" id="entrevista">Entrevista...
	  </div>
	  <div class="tab-pane" id="bitacora">Bitacora...
	  </div>
	</div>
</div>

{% endblock %}